
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-75T {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .auto-group-ew29-SdX {
    height: 42rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .van-lang-fashion-Nn5 {
      width: 23.8795rem;
      height: 13.2445rem;
      position: absolute;
      left: 13.3445rem;
      top: 4.7301rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.3;
      color: #ffffff;
      font-family: Calistoga, 'Source Sans Pro';
    }
    .menu-fmB {
      left: 0;
      display: flex;
      background-color: #1f2251;
      box-sizing: border-box;
      padding: 1rem 14.611rem 0.948rem 13.5rem;
      width: 144rem;
      height: 7rem;
      position: absolute;
      top: 0;
      align-items: center;

      .logo-Zbf {
        margin-right: 7.1084rem;
        width: 12.1916rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .van-lang-fashion-7NH {
          line-height: 1.3;
          color: #ffffff;
          font-family: Calistoga, 'Source Sans Pro';
          max-width: 12.1916rem;
          font-size: 2rem;
          font-weight: 400;
        }
      }
      .frame-7-qp5 {
        white-space: nowrap;
        height: calc(100% - 0.652rem);
        cursor: pointer;
        color: #ffffff;
        font-size: 2rem;
        font-weight: 600;
        justify-content: center;
        font-family: Quicksand, 'Source Sans Pro';
        display: flex;
        align-items: center;
        margin: 0.3rem 5.05rem 0.352rem 0rem;
        width: 11.5rem;
        line-height: 1.25;
        flex-shrink: 0;
      }
      .frame-8-KDT {
        color: #ffffff;
        white-space: nowrap;
        justify-content: center;
        flex-shrink: 0;
        line-height: 1.25;
        display: flex;
        width: 7.8rem;
        height: calc(100% - 0.652rem);
        cursor: pointer;
        font-family: Quicksand, 'Source Sans Pro';
        margin: 0.3rem 4.9rem 0.352rem 0rem;
        font-size: 2rem;
        font-weight: 600;
        align-items: center;
      }
      .frame-9-16H {
        cursor: pointer;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.25;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 7.4rem;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        margin: 0.3rem 4.85rem 0.352rem 0rem;
        height: calc(100% - 0.652rem);
        white-space: nowrap;
      }
      .frame-10-6dX {
        width: 7.4rem;
        cursor: pointer;
        justify-content: center;
        margin: 0.3rem 5.1rem 0.352rem 0rem;
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        height: calc(100% - 0.652rem);
        font-weight: 600;
        line-height: 1.25;
        display: flex;
        font-size: 2rem;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
      }
      .frame-11-Q8R {
        flex-shrink: 0;
        line-height: 1.25;
        font-family: Quicksand, 'Source Sans Pro';
        align-items: center;
        color: #ffffff;
        justify-content: center;
        height: calc(100% - 0.652rem);
        cursor: pointer;
        font-weight: 600;
        font-size: 2rem;
        display: flex;
        margin: 0.3rem 22rem 0.352rem 0rem;
        width: 11.6rem;
        white-space: nowrap;
      }
      .icon-user-circle-alt-gLq {
        margin: 0rem 2.611rem 0.463rem 0rem;
        width: 3.1891rem;
        height: 3.1891rem;
        cursor: pointer;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-search-C4H {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.4629rem;
        width: 3.1891rem;
        height: 3.1891rem;
        position: relative;
      }
    }
    .auto-carousel-hmj {
      top: 7rem;
      overflow: hidden;
      width: 144rem;
      height: 35rem;
      cursor: pointer;
      position: absolute;
      left: 0;

      .group-97-YXT {
        padding-left: 144rem;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:c966a7e2d821f69da615a44f57ed50fb5c2770fe');
        box-sizing: border-box;
        width: 720rem;
        height: 100%;
        display: flex;
        align-items: center;
        background-size: 100% 100%;
        background-position: center;

        .rectangle-192-spd {
          width: 144rem;
          height: 35rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rectangle-193-1vq {
          width: 144rem;
          height: 35rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rectangle-194-9n9 {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 144rem;
          height: 35rem;
        }
        .rectangle-195-Jf3 {
          width: 144rem;
          height: 35rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-3pof-DGD {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6.6rem 13.2rem 34rem 13.2rem;

    .heading-1-XGu {
      margin: 0rem 102.1rem 6.7rem 0rem;
      display: flex;
      font-size: 4rem;
      font-weight: 700;
      font-family: Quicksand, 'Source Sans Pro';
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .van-lang-fashion-c-mt-trn-cc-nn-tng-2jT {
      font-size: 4rem;
      font-weight: 400;
      color: #000000;
      font-family: Calibri, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 30.5rem 2.9rem 0rem;
      text-align: center;
      flex-shrink: 0;
      line-height: 1.220703125;
      text-transform: uppercase;
    }
    .component-44-uHT {
      font-size: 9.6rem;
      font-weight: 700;
      line-height: 1.220703125;
      color: #ffffff;
      white-space: nowrap;
      width: calc(100% - 54rem);
      cursor: pointer;
      font-family: Calibri, 'Source Sans Pro';
      margin: 0rem 30.2rem 8.3rem 23.8rem;
      height: 20.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(79.02deg, #0165e1 41.88%, rgba(1, 101, 225, 0) 100%);
      border-radius: 4rem;
      flex-shrink: 0;
    }
    .component-42-XJq {
      margin: 0rem 30.2rem 8.3rem 23.8rem;
      font-weight: 700;
      line-height: 1.220703125;
      border-radius: 4rem;
      flex-shrink: 0;
      justify-content: center;
      white-space: nowrap;
      height: 20.4rem;
      cursor: pointer;
      align-items: center;
      color: #ffffff;
      font-family: Calibri, 'Source Sans Pro';
      width: calc(100% - 54rem);
      display: flex;
      font-size: 9.6rem;
      background: linear-gradient(100.67deg, #405de6 9.64%, rgba(64, 93, 230, 0) 9.64%, rgba(64, 93, 230, 0) 9.64%);
    }
    .component-44-kBb {
      font-size: 9.6rem;
      font-weight: 700;
      background: linear-gradient(90deg, #25f4ee -0%, rgba(37, 244, 238, 0) 50%);
      border-radius: 4rem;
      flex-shrink: 0;
      margin: 0rem 30.2rem 13rem 23.8rem;
      justify-content: center;
      display: flex;
      line-height: 1.220703125;
      color: #ffffff;
      white-space: nowrap;
      width: calc(100% - 54rem);
      cursor: pointer;
      font-family: Calibri, 'Source Sans Pro';
      height: 20.4rem;
      align-items: center;
    }
    .line-4-BXo {
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
      margin: 0rem 18.1rem 12.9rem 15.2rem;
      width: calc(100% - 33.3rem);
    }
    .thng-tin-lin-lc-VoP {
      font-weight: 400;
      text-transform: uppercase;
      white-space: nowrap;
      flex-shrink: 0;
      font-family: Calibri, 'Source Sans Pro';
      margin: 0rem 83.8rem 2.5rem 0rem;
      text-align: center;
      font-size: 4rem;
      line-height: 1.220703125;
      color: #000000;
    }
    .group-63-oJH {
      box-sizing: border-box;
      padding: 4.613rem 5.6rem 4.203rem 6.373rem;
      width: 70rem;
      height: 36.9rem;
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 0rem 47.6rem 3.6rem 0rem;

      .group-22-hPf {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-an9p-Fg5 {
          flex-shrink: 0;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .marker-1-DN1 {
            margin: 0.103rem 5.686rem 0rem 0rem;
            width: 2.9412rem;
            height: 3.69rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .i-hc-vn-lang-van-lang-university-69-68-ng-thy-trm-p13-qbnh-thnh-tphcm-Y9P {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2102272034;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 49.4rem;
          }
        }
        .auto-group-z8gy-QhP {
          padding-top: 2.9521rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-ujoj-xU1 {
            width: calc(100% - 32.8rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
            margin: 0rem 32.8rem 3.67rem 0rem;

            .clock-1-Ux9 {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 5.294rem 0.021rem 0rem;
              width: 3.3334rem;
              height: 3.485rem;
              object-fit: cover;
            }
            .t2-cn-7h30-21h-ojX {
              line-height: 1.2102272034;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
            }
          }
          .auto-group-drkt-LjT {
            flex-shrink: 0;
            margin: 0rem 34.8rem 1.814rem 0rem;
            width: calc(100% - 34.8rem);
            display: flex;
            align-items: flex-start;

            .phone-call-1-fFw {
              margin-right: 4.902rem;
              width: 3.7256rem;
              height: 3.8949rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-02812345678-02868686868-yXX {
              line-height: 1.2102272034;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-top: 1.0352rem;
              max-width: 14.6rem;
              font-size: 2rem;
              font-weight: 400;
            }
          }
          .auto-group-czwt-XSZ {
            margin-right: 21.851rem;
            width: calc(100% - 21.851rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .envelope-1-Tr1 {
              width: 3.7256rem;
              height: 3.7926rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin: 1.025rem 4.902rem 0rem 0rem;
            }
            .thoitrangvanlanggmailcom-z5F {
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2102272034;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
    .image-3-W3b {
      margin-right: 44.8rem;
      width: 70rem;
      height: 40rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .footer-EkH {
    display: flex;
    flex-direction: column;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;
    width: 144.2rem;
    align-items: center;

    .auto-group-m3qb-YW5 {
      margin: 0rem 5.15rem 1.4rem 0rem;
      width: 131.2rem;
      height: 15.3rem;
      position: relative;
      flex-shrink: 0;

      .van-lang-fashion-fqb {
        height: 15.3rem;
        left: 0;
        top: 0;
        font-weight: 400;
        line-height: 1.2999999523;
        color: #ffffff;
        width: 27rem;
        font-size: 4.8rem;
        font-family: Calistoga, 'Source Sans Pro';
        position: absolute;
      }
      .email-thoitrangvanlangvlueduvn-BZ3 {
        width: 38rem;
        top: 1.1rem;
        font-family: Inter, 'Source Sans Pro';
        font-weight: 400;
        line-height: 1.2102272727;
        color: #ffffff;
        height: 6.3rem;
        position: absolute;
        left: 31.8rem;
        font-size: 2.2rem;

        .email-thoitrangvanlangvlueduvn-BZ3-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .email-thoitrangvanlangvlueduvn-BZ3-sub-1 {
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .h-tr-02812345678-FhK {
        font-family: Inter, 'Source Sans Pro';
        width: 15.6rem;
        position: absolute;
        left: 76rem;
        top: 1.1rem;
        line-height: 1.2102272727;
        height: 6.3rem;
        font-size: 2.2rem;
        font-weight: 400;
        color: #ffffff;

        .h-tr-02812345678-FhK-sub-0 {
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
        }
        .h-tr-02812345678-FhK-sub-1 {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .line-14-DGm {
        background-color: #acacac;
        width: 131.2rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 12.7rem;
      }
    }
    .auto-group-69td-9AR {
      flex-shrink: 0;
      margin: 0rem 0rem 0.1rem 0.15rem;
      display: flex;
      align-items: center;

      .lin-kt-5Zs {
        flex-shrink: 0;
        margin: 0rem 25.6rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
      }
      .theo-di-Q6M {
        flex-shrink: 0;
        margin: 0rem 16.3rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
      }
      .footer-WfB {
        flex-shrink: 0;
        max-width: 75.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';

        .footer-WfB-sub-0 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .footer-WfB-sub-1 {
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
    .auto-group-yf5s-GGy {
      height: 8.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);

      .auto-group-sber-PsP {
        margin-right: 9rem;
        width: 26.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-11-Lnd {
          font-size: 2rem;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          color: #ffffff;
          height: 4.4rem;
          cursor: pointer;
          left: 0;
          top: 0;
          line-height: 1.25;
          position: absolute;
          font-weight: 500;
          font-family: Quicksand, 'Source Sans Pro';
          width: 26.6rem;
          align-items: center;
        }
        .frame-12-2vM {
          width: 8.2rem;
          top: 3.7rem;
          justify-content: center;
          height: 4.4rem;
          position: absolute;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          align-items: center;
          display: flex;
          left: 0.4rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.25;
          white-space: nowrap;
          cursor: pointer;
        }
      }
      .auto-group-9wzb-7gu {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 9.7rem;

        .frame-8-GJu {
          width: 9.3rem;
          cursor: pointer;
          top: 0;
          color: #ffffff;
          justify-content: center;
          height: 4.4rem;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          align-items: center;
          font-size: 2rem;
          white-space: nowrap;
          display: flex;
          position: absolute;
          left: 0;
          font-weight: 500;
        }
        .frame-9-BAy {
          width: 9.7rem;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          align-items: center;
          position: absolute;
          left: 0;
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
          cursor: pointer;
          display: flex;
          height: 4.4rem;
          top: 3.7rem;
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
    .frame-10-UA5 {
      display: flex;
      cursor: pointer;
      font-weight: 500;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      margin: 0rem 94.35rem 3rem 35.6rem;
      font-size: 2rem;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      line-height: 1.25;
      white-space: nowrap;
      width: calc(100% - 129.95rem);
      height: 3.1rem;
    }
    .line-15-ktH {
      flex-shrink: 0;
      margin: 0rem 5.35rem 0.9rem 0rem;
      width: 131.2rem;
      height: 0.1rem;
      background-color: #acacac;
    }
    .van-lang-university-all-rights-reserved-HtD {
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 1.25rem;
      font-size: 2rem;
      font-weight: 300;
    }
  }
}
