
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.detail-projects-k24-3-tFb {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .menu-1b7 {
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 14.611rem 0.948rem 13.5rem;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;

    .van-lang-fashion-78M {
      margin-right: 7.1085rem;
      max-width: 12.1915rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3;
      color: #ffffff;
      font-family: Calistoga, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .frame-7-DBP {
      margin: 0.3rem 5.05rem 0.352rem 0rem;
      height: calc(100% - 0.652rem);
      cursor: pointer;
      align-items: center;
      width: 11.5rem;
      font-weight: 600;
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      font-size: 2rem;
      color: #ffffff;
      flex-shrink: 0;
      line-height: 1.25;
      white-space: nowrap;
      justify-content: center;
    }
    .frame-8-sFw {
      height: calc(100% - 0.652rem);
      line-height: 1.25;
      color: #ffffff;
      display: flex;
      justify-content: center;
      margin: 0.3rem 4.9rem 0.352rem 0rem;
      width: 7.8rem;
      font-weight: 600;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      cursor: pointer;
      font-size: 2rem;
      flex-shrink: 0;
    }
    .frame-9-x2V {
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      width: 7.4rem;
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
      display: flex;
      justify-content: center;
      cursor: pointer;
      font-weight: 600;
      line-height: 1.25;
      margin: 0.3rem 4.85rem 0.352rem 0rem;
    }
    .frame-10-SCZ {
      font-weight: 600;
      line-height: 1.25;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 0.652rem);
      color: #ffffff;
      margin: 0.3rem 5.1rem 0.352rem 0rem;
      width: 7.4rem;
      font-size: 2rem;
      cursor: pointer;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .frame-11-vNd {
      width: 11.6rem;
      cursor: pointer;
      font-weight: 600;
      justify-content: center;
      margin: 0.3rem 22rem 0.352rem 0rem;
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      align-items: center;
      flex-shrink: 0;
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
    }
    .icon-user-circle-alt-oxD {
      width: 3.1892rem;
      height: 3.1891rem;
      cursor: pointer;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.611rem 0.463rem 0rem;
    }
    .icon-search-7T7 {
      width: 3.1892rem;
      height: 3.1891rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.4629rem;
    }
  }
  .auto-group-vcg1-qe1 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8.2rem 11.854rem 6.1rem 13rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .info-student-project-McM {
      margin: 0rem 0rem 8.2rem 0.5rem;
      width: calc(100% - 0.5rem);
      height: 44.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-4vnr-fsw {
        flex-shrink: 0;
        width: 63.1271rem;
        height: 100%;

        .info-student-project-1gu {
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Quicksand, 'Source Sans Pro';
          margin-bottom: 8.1rem;
          max-width: 43.286rem;
          display: flex;
        }
        .auto-group-rchw-Xv9 {
          width: 100%;
          display: flex;
          align-items: flex-start;

          .luuthikimmien-tkh {
            margin-right: 2.8014rem;
            width: 20.641rem;
            height: 26.6rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-4mvr-RVj {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .name-BE1 {
              margin-bottom: 2.9rem;
              display: flex;
              font-family: Quicksand, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 3.2rem;
              font-weight: 600;
              line-height: 1.25;
              color: #000000;
              white-space: nowrap;
            }
            .heading-4-hy3 {
              line-height: 1.25;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.8rem;
              font-weight: 500;
              font-family: Quicksand, 'Source Sans Pro';
              display: flex;
              font-size: 2.8rem;
            }
            .heading-4-q3f {
              display: flex;
              line-height: 1.25;
              margin-left: 0.2848rem;
              font-weight: 300;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.8rem;
            }
          }
        }
      }
      .auto-group-k2v5-wMb {
        padding: 17.7rem 0rem 0rem 4.808rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .scoposophia-g4H {
          margin: 0.4rem 3.77rem 0rem 0rem;
          width: 20.641rem;
          height: 26.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-aukf-CYR {
          margin-bottom: 15.7rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .bosutap-MgD {
            margin-bottom: 4.4rem;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.25;
            color: #000000;
            font-family: Quicksand, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            white-space: nowrap;
          }
          .heading-2-J5f {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.220703125;
            font-style: italic;
            color: #000000;
            font-family: Calibri, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .heading-3-2nM {
      color: #000000;
      font-family: Calibri, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 104.346rem 1.3rem 0rem;
      font-size: 3.2rem;
      line-height: 1.220703125;
      display: flex;
      font-weight: 400;
    }
    .auto-group-o5nz-w8d {
      margin: 0rem 1.046rem 10.5rem 0rem;
      height: 38rem;
      display: flex;
      column-gap: 0.7rem;
      align-items: center;
      flex-shrink: 0;

      .img-hover-large-rWV {
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;

        .rectangle-141-CqF {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .img-hover-large-jqB {
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;

        .rectangle-141-txy {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .img-hover-large-qtD {
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-141-1Gu {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .img-hover-large-ZJR {
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-141-ix1 {
          object-fit: cover;
          vertical-align: top;
          width: 27rem;
          height: 36rem;
        }
      }
    }
    .chi-tit-5Gm {
      margin: 0rem 109.846rem 1.256rem 0rem;
      display: flex;
      color: #000000;
      font-family: Calibri, 'Source Sans Pro';
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.220703125;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-zmk5-azD {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.046rem 8.9rem 0rem;
      height: 38rem;
      display: flex;
      column-gap: 0.7rem;

      .img-hover-large-iKj {
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;

        .rectangle-141-sTX {
          object-fit: cover;
          vertical-align: top;
          width: 27rem;
          height: 36rem;
        }
      }
      .img-hover-large-DnH {
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-141-z2M {
          object-fit: cover;
          vertical-align: top;
          width: 27rem;
          height: 36rem;
        }
      }
      .img-hover-large-LM7 {
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-141-Vzh {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .img-hover-large-ech {
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;

        .rectangle-141-Qbs {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .group-23-rTs {
      color: #ffffff;
      background-color: #1f2251;
      flex-shrink: 0;
      width: calc(100% - 82.1461rem);
      text-decoration-line: underline;
      align-items: center;
      border-radius: 1rem;
      height: 7.6rem;
      cursor: pointer;
      line-height: 1.220703125;
      display: flex;
      white-space: nowrap;
      justify-content: center;
      margin: 0rem 41.246rem 0rem 40.9rem;
      font-size: 3.2rem;
      font-weight: 700;
      font-family: Calibri, 'Source Sans Pro';
    }
  }
  .footer-Jqf {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;
    width: 144.2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #1f2251;

    .auto-group-rny7-R9b {
      flex-shrink: 0;
      margin: 0rem 5.15rem 1.4rem 0rem;
      width: 131.2rem;
      height: 15.3rem;
      position: relative;

      .van-lang-fashion-kBs {
        color: #ffffff;
        font-family: Calistoga, 'Source Sans Pro';
        width: 27rem;
        height: 15.3rem;
        font-weight: 400;
        line-height: 1.2999999523;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 4.8rem;
      }
      .email-thoitrangvanlangvlueduvn-4TT {
        top: 1.1rem;
        font-size: 2.2rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        height: 6.3rem;
        position: absolute;
        left: 31.8rem;
        line-height: 1.2102272727;
        color: #ffffff;
        width: 38rem;

        .email-thoitrangvanlangvlueduvn-4TT-sub-0 {
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
        }
        .email-thoitrangvanlangvlueduvn-4TT-sub-1 {
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .h-tr-02812345678-YX3 {
        font-weight: 400;
        line-height: 1.2102272727;
        height: 6.3rem;
        position: absolute;
        left: 76rem;
        top: 1.1rem;
        width: 15.6rem;
        font-size: 2.2rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';

        .h-tr-02812345678-YX3-sub-0 {
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 700;
        }
        .h-tr-02812345678-YX3-sub-1 {
          font-weight: 400;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
        }
      }
      .line-14-6BB {
        width: 131.2rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 12.7rem;
        background-color: #acacac;
      }
    }
    .auto-group-h7vb-CV7 {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 0.1rem 0.15rem;
      display: flex;

      .lin-kt-87s {
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 25.6rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
      }
      .theo-di-2U9 {
        flex-shrink: 0;
        margin: 0rem 16.3rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
      }
      .footer-Lzd {
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 75.2rem;
        font-size: 2rem;

        .footer-Lzd-sub-0 {
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
        }
        .footer-Lzd-sub-1 {
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.25;
        }
      }
    }
    .auto-group-fpeu-6sK {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);
      height: 8.1rem;

      .auto-group-sxwd-31s {
        margin-right: 9rem;
        width: 26.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-11-BNy {
          cursor: pointer;
          left: 0;
          font-weight: 500;
          display: flex;
          justify-content: center;
          position: absolute;
          font-size: 2rem;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          height: 4.4rem;
          top: 0;
          align-items: center;
          width: 26.6rem;
          color: #ffffff;
        }
        .frame-12-5UM {
          width: 8.2rem;
          height: 4.4rem;
          cursor: pointer;
          position: absolute;
          line-height: 1.25;
          color: #ffffff;
          left: 0.4rem;
          top: 3.7rem;
          font-weight: 500;
          display: flex;
          justify-content: center;
          font-size: 2rem;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
        }
      }
      .auto-group-qwgq-mMB {
        width: 9.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-8-6eM {
          left: 0;
          top: 0;
          color: #ffffff;
          justify-content: center;
          height: 4.4rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          position: absolute;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2rem;
          line-height: 1.25;
          width: 9.3rem;
          font-weight: 500;
        }
        .frame-9-xwT {
          position: absolute;
          font-size: 2rem;
          display: flex;
          align-items: center;
          width: 9.7rem;
          cursor: pointer;
          left: 0;
          font-weight: 500;
          color: #ffffff;
          justify-content: center;
          top: 3.7rem;
          line-height: 1.25;
          white-space: nowrap;
          height: 4.4rem;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
    }
    .frame-10-rX3 {
      white-space: nowrap;
      display: flex;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      width: calc(100% - 129.95rem);
      height: 3.1rem;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 500;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin: 0rem 94.35rem 3rem 35.6rem;
      color: #ffffff;
    }
    .line-15-w2h {
      width: 131.2rem;
      height: 0.1rem;
      background-color: #acacac;
      flex-shrink: 0;
      margin: 0rem 5.35rem 0.9rem 0rem;
    }
    .van-lang-university-all-rights-reserved-rvM {
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 1.25rem;
      font-size: 2rem;
      font-weight: 300;
    }
  }
}
