
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.detail-projects-k24-5-xUy {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .menu-tNd {
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 14.611rem 0.948rem 13.5rem;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;

    .van-lang-fashion-nU1 {
      color: #ffffff;
      font-family: Calistoga, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 7.1084rem;
      max-width: 12.1916rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3;
    }
    .frame-7-h5B {
      margin: 0.3rem 5.05rem 0.352rem 0rem;
      line-height: 1.25;
      color: #ffffff;
      display: flex;
      width: 11.5rem;
      white-space: nowrap;
      font-size: 2rem;
      font-weight: 600;
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
      height: calc(100% - 0.652rem);
      cursor: pointer;
      justify-content: center;
      flex-shrink: 0;
    }
    .frame-8-ZdB {
      margin: 0.3rem 4.9rem 0.352rem 0rem;
      cursor: pointer;
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      width: 7.8rem;
      font-weight: 600;
      white-space: nowrap;
      align-items: center;
      line-height: 1.25;
      justify-content: center;
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      color: #ffffff;
      flex-shrink: 0;
    }
    .frame-9-FW1 {
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 600;
      justify-content: center;
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      color: #ffffff;
      display: flex;
      align-items: center;
      margin: 0.3rem 4.85rem 0.352rem 0rem;
      width: 7.4rem;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
    }
    .frame-10-jg5 {
      cursor: pointer;
      font-weight: 600;
      line-height: 1.25;
      margin: 0.3rem 5.1rem 0.352rem 0rem;
      white-space: nowrap;
      width: 7.4rem;
      height: calc(100% - 0.652rem);
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
      flex-shrink: 0;
      font-size: 2rem;
      display: flex;
      justify-content: center;
    }
    .frame-11-pxR {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      height: calc(100% - 0.652rem);
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      margin: 0.3rem 22rem 0.352rem 0rem;
      cursor: pointer;
      white-space: nowrap;
      display: flex;
      width: 11.6rem;
    }
    .icon-user-circle-alt-WaM {
      cursor: pointer;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.611rem 0.463rem 0rem;
      width: 3.1891rem;
      height: 3.1891rem;
    }
    .icon-search-DUm {
      margin-bottom: 0.4629rem;
      width: 3.1891rem;
      height: 3.1891rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-rvvy-wQm {
    box-sizing: border-box;
    padding: 8rem 12.8rem 6.1rem 12.4rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .info-student-project-epy {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 3.054rem 8.4rem 1.1rem;
      width: calc(100% - 4.1539rem);
      height: 44.7rem;

      .auto-group-gzzt-y6Z {
        flex-shrink: 0;
        width: 65.5271rem;
        height: 100%;

        .info-student-project-WMP {
          color: #000000;
          font-family: Quicksand, 'Source Sans Pro';
          margin-bottom: 8.1rem;
          max-width: 43.2859rem;
          display: flex;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.25;
        }
        .auto-group-avcd-dS1 {
          width: 100%;
          display: flex;
          align-items: flex-start;

          .luuthikimmien-PRB {
            flex-shrink: 0;
            margin-right: 2.8014rem;
            width: 20.641rem;
            height: 26.6rem;
            object-fit: cover;
            vertical-align: top;
          }
          .auto-group-v2hw-iTT {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .name-537 {
              font-weight: 600;
              line-height: 1.25;
              color: #000000;
              white-space: nowrap;
              margin-bottom: 2.9rem;
              display: flex;
              font-size: 3.2rem;
              font-family: Quicksand, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .heading-4-ny7 {
              line-height: 1.25;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
              font-family: Quicksand, 'Source Sans Pro';
              margin-bottom: 3.8rem;
              display: flex;
              font-size: 2.8rem;
              font-weight: 500;
            }
            .heading-4-XQu {
              font-size: 2.8rem;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              flex-shrink: 0;
              margin-left: 0.2848rem;
              display: flex;
              white-space: nowrap;
              font-weight: 300;
              line-height: 1.25;
            }
          }
        }
      }
      .auto-group-hlc9-Snm {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 17.7rem 0rem 0rem 2.408rem;
        height: 100%;

        .scoposophia-nLq {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.4rem 3.77rem 0rem 0rem;
          width: 20.641rem;
          height: 26.6rem;
        }
        .auto-group-oqtb-WXj {
          margin-bottom: 15.7rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .bosutap-fQd {
            font-size: 2.4rem;
            font-weight: 600;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 4.4rem;
            display: flex;
            line-height: 1.25;
            font-family: Quicksand, 'Source Sans Pro';
          }
          .heading-2-zxh {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.220703125;
            font-style: italic;
            color: #000000;
            font-family: Calibri, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .heading-3-vrM {
      font-family: Calibri, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      font-size: 3.2rem;
      color: #000000;
      white-space: nowrap;
      margin: 0rem 102.6rem 1.7rem 0rem;
      font-weight: 400;
      line-height: 1.220703125;
    }
    .auto-group-pze1-SJu {
      display: flex;
      column-gap: 0.7rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.7rem 10.5rem 0rem;
      height: 38rem;

      .img-hover-large-kKb {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;

        .rectangle-141-hEq {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .img-hover-large-qM3 {
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-141-nn5 {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .img-hover-large-jhK {
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;

        .rectangle-141-hPF {
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
          width: 27rem;
        }
      }
      .img-hover-large-Srd {
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-141-ox5 {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .heading-3-ZAZ {
      display: flex;
      font-size: 3.2rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      margin: 0rem 107.3rem 1.2rem 0rem;
      line-height: 1.220703125;
      font-family: Calibri, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .auto-group-33jh-58u {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 8.9rem 0.7rem;
      height: 38rem;
      display: flex;
      column-gap: 0.7rem;

      .img-hover-large-bN9 {
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-141-Z45 {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .img-hover-large-hvy {
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;

        .rectangle-141-52R {
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
          width: 27rem;
        }
      }
      .img-hover-large-DeR {
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;

        .rectangle-141-ytV {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .img-hover-large-Xf7 {
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-141-6TK {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .group-23-3NZ {
      background-color: #1f2251;
      border-radius: 1rem;
      display: flex;
      font-size: 3.2rem;
      font-family: Calibri, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      cursor: pointer;
      white-space: nowrap;
      height: 7.6rem;
      width: calc(100% - 81.8rem);
      font-weight: 700;
      line-height: 1.220703125;
      text-decoration-line: underline;
      color: #ffffff;
      margin: 0rem 40.7rem 0rem 41.1rem;
    }
  }
  .footer-6rd {
    display: flex;
    flex-direction: column;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;
    width: 144.2rem;
    align-items: center;

    .auto-group-luud-2EV {
      width: 131.2rem;
      height: 15.3rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 5.15rem 1.4rem 0rem;

      .van-lang-fashion-Yid {
        position: absolute;
        left: 0;
        color: #ffffff;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.2999999523;
        font-family: Calistoga, 'Source Sans Pro';
        width: 27rem;
        height: 15.3rem;
        top: 0;
      }
      .email-thoitrangvanlangvlueduvn-G8q {
        position: absolute;
        left: 31.8rem;
        top: 1.1rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 38rem;
        height: 6.3rem;
        font-size: 2.2rem;
        line-height: 1.2102272727;

        .email-thoitrangvanlangvlueduvn-G8q-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .email-thoitrangvanlangvlueduvn-G8q-sub-1 {
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .h-tr-02812345678-M3o {
        height: 6.3rem;
        position: absolute;
        left: 76rem;
        width: 15.6rem;
        top: 1.1rem;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.2102272727;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';

        .h-tr-02812345678-M3o-sub-0 {
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 700;
        }
        .h-tr-02812345678-M3o-sub-1 {
          font-weight: 400;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
        }
      }
      .line-14-swF {
        width: 131.2rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 12.7rem;
        background-color: #acacac;
      }
    }
    .auto-group-cplh-CTj {
      margin: 0rem 0rem 0.1rem 0.15rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .lin-kt-8cH {
        margin: 0rem 25.6rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .theo-di-EfK {
        flex-shrink: 0;
        margin: 0rem 16.3rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
      }
      .footer-ZSh {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 75.2rem;

        .footer-ZSh-sub-0 {
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 700;
        }
        .footer-ZSh-sub-1 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
    }
    .auto-group-pxkv-iiu {
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);
      height: 8.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-j4kr-TRb {
        margin-right: 9rem;
        width: 26.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-11-QLq {
          height: 4.4rem;
          cursor: pointer;
          white-space: nowrap;
          font-weight: 500;
          line-height: 1.25;
          justify-content: center;
          width: 26.6rem;
          left: 0;
          top: 0;
          font-size: 2rem;
          font-family: Quicksand, 'Source Sans Pro';
          display: flex;
          align-items: center;
          position: absolute;
          color: #ffffff;
        }
        .frame-12-i6d {
          height: 4.4rem;
          cursor: pointer;
          left: 0.4rem;
          position: absolute;
          font-family: Quicksand, 'Source Sans Pro';
          width: 8.2rem;
          top: 3.7rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .auto-group-9oi1-bw7 {
        width: 9.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-8-xWm {
          font-size: 2rem;
          display: flex;
          top: 0;
          position: absolute;
          line-height: 1.25;
          color: #ffffff;
          align-items: center;
          cursor: pointer;
          font-weight: 500;
          white-space: nowrap;
          left: 0;
          height: 4.4rem;
          font-family: Quicksand, 'Source Sans Pro';
          justify-content: center;
          width: 9.3rem;
        }
        .frame-9-4Zo {
          width: 9.7rem;
          height: 4.4rem;
          left: 0;
          font-weight: 500;
          font-family: Quicksand, 'Source Sans Pro';
          display: flex;
          line-height: 1.25;
          color: #ffffff;
          align-items: center;
          top: 3.7rem;
          cursor: pointer;
          position: absolute;
          font-size: 2rem;
          white-space: nowrap;
          justify-content: center;
        }
      }
    }
    .frame-10-kxR {
      font-family: Quicksand, 'Source Sans Pro';
      justify-content: center;
      flex-shrink: 0;
      line-height: 1.25;
      color: #ffffff;
      width: calc(100% - 129.95rem);
      height: 3.1rem;
      font-size: 2rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      margin: 0rem 94.35rem 3rem 35.6rem;
      cursor: pointer;
      white-space: nowrap;
    }
    .line-15-F8V {
      flex-shrink: 0;
      margin: 0rem 5.35rem 0.9rem 0rem;
      width: 131.2rem;
      height: 0.1rem;
      background-color: #acacac;
    }
    .van-lang-university-all-rights-reserved-AmF {
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 1.25rem;
      font-size: 2rem;
      font-weight: 300;
    }
  }
}
