
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.detail-news-rPb {
  width: 100%;
  height: 465.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-eqzb-aKb {
    left: 0;
    top: 24.5rem;
    width: 144rem;
    height: 397.8rem;
    position: absolute;

    .auto-group-ypkk-Gy7 {
      height: 106.5rem;
      position: absolute;
      left: 13rem;
      top: 4rem;
      width: 117.6rem;

      .vlubstmuahoacuathukhoathietkethoitrangnorotaicuocthifashioninpariscover0dc9974b3c-1-ZxD {
        width: 100rem;
        height: 31.25rem;
        position: absolute;
        left: 0.5rem;
        top: 1rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
      .cui-thng-10-2023-va-qua-theo-thng-bo-t-ban-t-chc-cuc-thi-fashion-in-paris-do-vin-php-ti-tphcm-b-su-tp-ma-hoa-do-cu-sinh-vin-kha-23-ngnh-thit-k-thi-trang-th-khoa-tt-nghip-nm-2021-nguyn-nht-nghi-thc-hin-xut-sc-ginh-gii-nh-ti-cuc-thi-36h {
        font-family: Quicksand, 'Source Sans Pro';
        left: 0.7rem;
        font-size: 2rem;
        font-weight: 600;
        color: #000000;
        display: flex;
        line-height: 1.25;
        width: 80rem;
        height: 10rem;
        position: absolute;
        top: 35.6rem;
      }
      .nhn-k-nim-50-nm-quan-h-ngoi-giao-php-vit-vin-php-ti-tphcm-t-chc-cuc-thi-tm-kim-ti-nng-thit-k-tr-vit-nam-fashion-in-paris-xut-sc-th-hin-tinh-thn-hu-ngh-gia-hai-t-nc-qua-ngn-ng-thi-trang-nguyn-nht-nghi-cu-sinh-vin-kha-23-trng-i-hc-vn-lang-nay-l-hc-vin-chng-trnh-o-to-thc-s-m-thut-ng-dng-ginh-gii-nh-chung-cuc-vi-b-su-tp-ma-hoa-93F {
        color: #000000;
        font-family: Quicksand, 'Source Sans Pro';
        left: 0.5rem;
        top: 46.5rem;
        position: absolute;
        display: flex;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        width: 80.5rem;
        height: 12.5rem;
      }
      .sau-ngy-ra-trng-th-khoa-nguyn-nht-nghi-tip-tc-vi-am-m-thit-k-thi-trang-chuyn-nghip-hc-tp-chuyn-su-v-thnh-lp-thng-hiu-ring-nhat-design-NaD {
        line-height: 1.220703125;
        position: absolute;
        left: 0.5rem;
        font-size: 2rem;
        width: 80rem;
        justify-content: center;
        font-family: Calibri, 'Source Sans Pro';
        color: #000000;
        align-items: center;
        font-weight: 300;
        font-style: italic;
        height: 4.8rem;
        top: 101.7rem;
        display: flex;
      }
      .largevlubstmuahoacuathukhoathietkethoitrangnorotaicuocthifashioninparisa3c4a08d6d3-1-Aky {
        top: 60.2rem;
        object-fit: cover;
        vertical-align: top;
        width: 80rem;
        height: 40rem;
        position: absolute;
        left: 0.5rem;
      }
      .tin-tc-gn-y-FGd {
        width: 23rem;
        color: #000000;
        font-family: Calibri, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.220703125;
        height: 4.4rem;
        position: absolute;
        left: 87.5rem;
        top: 36.2rem;
        display: flex;
        font-size: 3.6rem;
        font-weight: 700;
      }
      .s-kin-gn-y-Los {
        left: 87.4rem;
        top: 80.2rem;
        font-weight: 700;
        color: #000000;
        font-family: Calibri, 'Source Sans Pro';
        white-space: nowrap;
        width: 23.7rem;
        position: absolute;
        font-size: 3.6rem;
        line-height: 1.220703125;
        height: 4.4rem;
        display: flex;
      }
      .xem-tin-tc-khc-FR3 {
        line-height: 1.220703125;
        text-decoration-line: underline;
        white-space: nowrap;
        width: 13.4rem;
        font-weight: 300;
        left: 87.7rem;
        top: 76.8rem;
        display: flex;
        font-size: 2rem;
        color: #000000;
        font-family: Calibri, 'Source Sans Pro';
        height: 2.4rem;
        position: absolute;
      }
      .tui-iconic-gy-st-mng-x-hi-tiktok-xKT {
        font-weight: 400;
        font-family: Roboto, 'Source Sans Pro';
        position: absolute;
        left: 102.4rem;
        top: 41.6rem;
        font-size: 1.8rem;
        line-height: 1.171875;
        text-decoration-line: underline;
        width: 15.1rem;
        height: 6.3rem;
        color: #a10000;
      }
      .ngnh-thi-trang-tuyn-thc-tp-sinh-cho-thi-k-ma-xun-F3f {
        position: absolute;
        top: 85.1rem;
        font-size: 1.8rem;
        line-height: 1.171875;
        width: 15.3rem;
        height: 8.4rem;
        left: 102.3rem;
        font-weight: 400;
        text-decoration-line: underline;
        color: #a10000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .miss-charm-2023-tham-s-show-thi-trang-tt-nghip-k25tt-WkH {
        font-size: 1.8rem;
        line-height: 1.171875;
        text-decoration-line: underline;
        font-family: Roboto, 'Source Sans Pro';
        width: 15.1rem;
        position: absolute;
        top: 64.7rem;
        font-weight: 400;
        color: #a10000;
        height: 8.4rem;
        left: 102.3rem;
      }
      .published-date-aVF {
        top: 49.6rem;
        font-weight: 400;
        line-height: 1.171875;
        white-space: nowrap;
        letter-spacing: 0.07rem;
        color: #858585;
        font-family: Roboto, 'Source Sans Pro';
        width: 8.1rem;
        height: 1.8rem;
        position: absolute;
        left: 102.4rem;
        font-size: 1.4rem;
      }
      .published-date-fFo {
        left: 102.3rem;
        font-size: 1.4rem;
        line-height: 1.171875;
        color: #858585;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.1rem;
        height: 1.8rem;
        font-weight: 400;
        letter-spacing: 0.07rem;
        position: absolute;
        top: 93.6rem;
      }
      .published-date-yGV {
        letter-spacing: 0.07rem;
        color: #858585;
        height: 1.8rem;
        position: absolute;
        left: 102.4rem;
        top: 73.2rem;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.171875;
      }
      .rectangle-128-ssf {
        height: 9.3rem;
        position: absolute;
        left: 87.6rem;
        top: 41.8rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        width: 13.9rem;
      }
      .rectangle-130-Cf3 {
        border-radius: 0.5rem;
        width: 13.9rem;
        height: 9.3rem;
        position: absolute;
        left: 87.5rem;
        top: 85.8rem;
        object-fit: cover;
        vertical-align: top;
      }
      .rectangle-129-KUm {
        width: 13.9rem;
        height: 9.3rem;
        position: absolute;
        left: 87.7rem;
        top: 65rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
      }
      .fashion-textile-showcase-2023-F7X {
        line-height: 1.171875;
        text-decoration-line: underline;
        color: #a10000;
        height: 4.2rem;
        left: 102.4rem;
        top: 53.2rem;
        font-weight: 400;
        width: 15.1rem;
        position: absolute;
        font-size: 1.8rem;
        font-family: Roboto, 'Source Sans Pro';
      }
      .casting-model-Luf {
        width: 15.1rem;
        height: 2.1rem;
        top: 97.2rem;
        font-weight: 400;
        line-height: 1.171875;
        color: #a10000;
        font-family: Roboto, 'Source Sans Pro';
        position: absolute;
        left: 102.3rem;
        font-size: 1.8rem;
        text-decoration-line: underline;
        white-space: nowrap;
      }
      .published-date-G2d {
        width: 8.1rem;
        position: absolute;
        left: 102.4rem;
        font-size: 1.4rem;
        font-weight: 400;
        white-space: nowrap;
        height: 1.2rem;
        top: 60.2rem;
        line-height: 1.171875;
        letter-spacing: 0.07rem;
        color: #858585;
        font-family: Roboto, 'Source Sans Pro';
      }
      .published-date-Ado {
        width: 8.1rem;
        height: 1.2rem;
        position: absolute;
        top: 104.6rem;
        letter-spacing: 0.07rem;
        color: #858585;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        left: 102.6rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.171875;
      }
      .group-27-t41 {
        height: 9.3rem;
        position: absolute;
        left: 87.5rem;
        top: 53.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        width: 13.9rem;

        .vatlieu1-1-RJq {
          border-radius: 0.5rem;
          width: 13.9rem;
          height: 9.3rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .group-28-7xM {
        width: 13.9rem;
        height: 9.3rem;
        position: absolute;
        left: 87.4rem;
        top: 97.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;

        .vatlieu1-1-ruw {
          height: 9.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 13.9rem;
        }
      }
    }
    .vlubstmuahoacuathukhoathietkethoitrangnorotaicuocthifashioninpariscover0dc9974b3c-2-yjf {
      width: 80rem;
      height: 25rem;
      position: absolute;
      left: 13.5rem;
      top: 329.2rem;
      object-fit: cover;
      vertical-align: top;
    }
    .khong-70-vt-liu-s-dng-trong-bst-ma-hoa-c-ly-t-trang-phc-ti-ch-v-x-liu-theo-nguyn-tc-zero-waste-gPB {
      height: 4.8rem;
      left: 14.3rem;
      display: flex;
      justify-content: center;
      font-style: italic;
      align-items: center;
      position: absolute;
      font-weight: 300;
      line-height: 1.220703125;
      width: 78.5rem;
      top: 241.3rem;
      font-size: 2rem;
      color: #000000;
      font-family: Calibri, 'Source Sans Pro';
    }
    .s-ha-trn-gia-nt-p-trong-vn-ha-vit-php-cng-vic-ng-dng-thi-trang-bn-vng-gip-cu-sinh-vin-vn-lang-thuyt-phc-ban-gim-kho-thnh-cng-uWq {
      height: 4.8rem;
      display: flex;
      color: #000000;
      left: 13.5rem;
      top: 311.5rem;
      font-size: 2rem;
      font-weight: 300;
      font-family: Calibri, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      line-height: 1.220703125;
      font-style: italic;
      width: 80.1rem;
      position: absolute;
    }
    .auto-group-l8mw-7so {
      display: flex;
      align-items: flex-start;
      width: 117rem;
      height: 52rem;
      position: absolute;
      left: 13.5rem;
      top: 112.8rem;

      .auto-group-rcsb-SQH {
        margin: 2.8rem 7.1rem 0rem 0rem;
        width: 80rem;
        height: 49.2rem;
        position: relative;
        flex-shrink: 0;

        .sau-ngy-ra-trng-th-khoa-tt-nghip-ngnh-thit-k-thi-trang-nm-2021-nguyn-nht-nghi-tip-tc-sng-ht-mnh-vi-am-m-va-hc-thc-s-ti-trng-i-hc-vn-lang-vi-hc-bng-100-hc-ph-ton-kha-va-l-tr-ging-ca-khoa-m-thut-v-thit-k-va-pht-trin-thng-hiu-thi-trang-nhat-design-ca-ring-mnh-A5P {
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          width: 80rem;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 2rem;
          font-family: Calibri, 'Source Sans Pro';
          height: 10.2rem;
          display: flex;
        }
        .largevlubstmuahoacuathukhoathietkethoitrangnorotaicuocthifashioninparisb1c953a1679-1-Tyb {
          width: 80rem;
          height: 40rem;
          position: absolute;
          left: 0;
          top: 9.2rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-aku7-kSu {
        flex-shrink: 0;
        margin: 0.2rem 0.9rem 0rem 0rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .rectangle-131-5VB {
          margin-bottom: 2.5rem;
          width: 13.9rem;
          height: 9.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
        .xem-s-kin-khc-oRB {
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          display: flex;
          font-size: 2rem;
          text-decoration-line: underline;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-yjfj-7gm {
        flex-direction: column;
        flex-shrink: 0;
        display: flex;

        .ha-giang-of-van-lang-university-sfw {
          margin-bottom: 3.7rem;
          font-size: 1.8rem;
          color: #a10000;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 15.1rem;
          font-weight: 400;
          line-height: 1.171875;
          text-decoration-line: underline;
        }
        .published-date-Bgd {
          letter-spacing: 0.07rem;
          color: #858585;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.171875;
        }
      }
    }
    .tr-thnh-qun-cuc-thi-fashion-in-paris-gip-nht-nghi-c-thm-ng-lc-cho-chng-ng-pht-trin-s-nghip-thit-k-thi-trang-chuyn-nghip-nht-nghi-cho-bit-b-su-tp-ma-hoa-l-s-kt-hp-c-o-gia-vit-php-mang-c-trng-ca-o-di-t-thn-trang-phc-truyn-thng-nc-nh-ha-quyn-vi-hnh-nh-hoa-din-v-loi-hoa-biu-tng-ca-t-nc-hnh-lc-lng-iAm {
      top: 168.3rem;
      font-weight: 300;
      line-height: 1.220703125;
      color: #000000;
      width: 78.5rem;
      position: absolute;
      left: 13.5rem;
      display: flex;
      font-size: 2rem;
      font-family: Calibri, 'Source Sans Pro';
      height: 12rem;
    }
    .auto-group-ryms-moF {
      position: absolute;
      left: 13.5rem;
      top: 182.8rem;
      width: 80rem;
      height: 54.1801rem;

      .khong-70-vt-liu-s-dng-trong-bst-ma-hoa-c-ly-t-trang-phc-ti-ch-v-x-liu-theo-nguyn-tc-sng-xanh-zero-waste-bn-cnh-thng-ip-hu-ngh-cc-b-trang-phc-c-thc-hin-vi-mong-mun-cao-thi-trang-bn-vng-thn-thin-vi-mi-trng-hn-ch-cht-thi-trong-qu-trnh-to-ra-y-cng-chnh-l-ti-nh-hng-c-bn-mun-pht-trin-lu-di-trong-s-nghip-thit-k-tng-lai-7MK {
        width: 78.5rem;
        height: 16.9rem;
        position: absolute;
        top: 0;
        line-height: 1.220703125;
        color: #000000;
        left: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 300;
        font-family: Calibri, 'Source Sans Pro';
      }
      .largevlubstmuahoacuathukhoathietkethoitrangnorotaicuocthifashioninpariscaa702fd68c-1-aPK {
        top: 14.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 80rem;
        height: 39.6801rem;
        position: absolute;
        left: 0;
      }
    }
    .th-sc-ti-gii-thi-fashion-in-paris-mang-n-cho-nht-nghi-nhiu-tri-nghim-th-v-c-sng-li-cm-gic-hi-hp-ca-nhng-ngy-lm-n-khi-cn-ngi-trn-ging-ng-i-hc-trau-chut-tng-ng-kim-mi-ch-v-thuyt-trnh-gii-thiu-tc-phm-ca-mnh-trc-hi-ng-gim-kho-l-nhng-nh-thit-k-chuyn-nghip-cc-i-din-n-t-php-nht-nghi-chia-s-iu-kh-khn-nht-vi-mnh-l-vic-phi-cn-bng-thi-gian-hc-tp-cng-tc-ti-trng-v-thi-gian-sng-to-hon-thin-sn-phm-tht-may-mn-khi-bn-cnh-mnh-lun-c-thy-c-bn-b-v-ngi-thn-ht-lng-h-tr-UDo {
      font-size: 2rem;
      width: 79.7rem;
      position: absolute;
      top: 249.4rem;
      font-weight: 300;
      line-height: 1.220703125;
      color: #000000;
      font-family: Calibri, 'Source Sans Pro';
      height: 16.8rem;
      left: 13.8rem;
      display: flex;
    }
    .vi-tm-th-ca-th-h-i-trc-cng-chia-s-hnh-trnh-qua-vi-n-em-nht-nghi-nhn-nh-mnh-mong-cc-bn-sinh-vin-s-lun-kin-tr-chm-ch-hc-tp-mi-kin-thc-c-thy-c-truyn-t-trong-gi-hc-u-s-gip-ch-cho-chng-ta-khi-bc-vo-mi-trng-thc-t-oYu {
      height: 7.2rem;
      position: absolute;
      left: 13.5rem;
      font-weight: 300;
      color: #000000;
      font-family: Calibri, 'Source Sans Pro';
      width: 80rem;
      top: 318.3rem;
      display: flex;
      font-size: 2rem;
      line-height: 1.220703125;

      .vi-tm-th-ca-th-h-i-trc-cng-chia-s-hnh-trnh-qua-vi-n-em-nht-nghi-nhn-nh-mnh-mong-cc-bn-sinh-vin-s-lun-kin-tr-chm-ch-hc-tp-mi-kin-thc-c-thy-c-truyn-t-trong-gi-hc-u-s-gip-ch-cho-chng-ta-khi-bc-vo-mi-trng-thc-t-oYu-sub-0 {
      }
      .vi-tm-th-ca-th-h-i-trc-cng-chia-s-hnh-trnh-qua-vi-n-em-nht-nghi-nhn-nh-mnh-mong-cc-bn-sinh-vin-s-lun-kin-tr-chm-ch-hc-tp-mi-kin-thc-c-thy-c-truyn-t-trong-gi-hc-u-s-gip-ch-cho-chng-ta-khi-bc-vo-mi-trng-thc-t-oYu-sub-1 {
        font-weight: 300;
        line-height: 1.220703125;
        font-style: italic;
        color: #000000;
        font-family: Calibri, 'Source Sans Pro';
        font-size: 2rem;
      }
      .vi-tm-th-ca-th-h-i-trc-cng-chia-s-hnh-trnh-qua-vi-n-em-nht-nghi-nhn-nh-mnh-mong-cc-bn-sinh-vin-s-lun-kin-tr-chm-ch-hc-tp-mi-kin-thc-c-thy-c-truyn-t-trong-gi-hc-u-s-gip-ch-cho-chng-ta-khi-bc-vo-mi-trng-thc-t-oYu-sub-2 {
      }
    }
    .thnh-qu-ca-nht-nghi-ti-fashion-in-paris-mt-ln-na-khng-nh-thng-hiu-ca-trng-i-hc-vn-lang-trong-o-to-lnh-vc-thit-k-m-thut-ni-chung-v-ngnh-thit-k-thi-trang-ni-ring-da-trn-nn-tng-vng-mnh-ny-thng-4-2023-va-qua-nh-trng-cng-b-tuyn-sinh-chuyn-ngnh-xy-dng-thng-hiu-v-qun-tr-thi-trang-fashion-branding-management-hng-i-chuyn-su-ca-ngnh-thit-k-thi-trang-nhm-p-ng-nhu-cu-o-to-nh-qun-tr-sng-to-trong-lnh-vc-thi-trang-z9X {
      font-weight: 300;
      line-height: 1.220703125;
      font-family: Calibri, 'Source Sans Pro';
      height: 14.4rem;
      position: absolute;
      display: flex;
      font-size: 2rem;
      width: 80rem;
      left: 13.5rem;
      top: 356.2rem;
      color: #000000;
    }
    .largevlubstmuahoacuathukhoathietkethoitrangnorotaicuocthifashioninparisd596eaac624-1-njb {
      width: 80rem;
      height: 40rem;
      position: absolute;
      left: 13.5rem;
      top: 269.5rem;
      object-fit: cover;
      vertical-align: top;
    }
    .tin-phng-trinh-Guf {
      width: 15rem;
      height: 2.4rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.220703125;
      position: absolute;
      left: 78.5rem;
      top: 374.3rem;
      display: flex;
      color: #000000;
      font-family: Calibri, 'Source Sans Pro';
      white-space: nowrap;
    }
    .hnh-nh-nhn-vt-cung-cp-BFw {
      position: absolute;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.220703125;
      font-family: Calibri, 'Source Sans Pro';
      white-space: nowrap;
      width: 24.7rem;
      height: 1.5rem;
      display: flex;
      color: #000000;
      left: 69.8rem;
      top: 379.3rem;
    }
  }
  .menu-UVw {
    left: 0;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem 14.611rem 0.948rem 13.5rem;
    width: 144rem;
    display: flex;
    background-color: #1f2251;
    height: 7rem;
    position: absolute;
    top: 0;

    .van-lang-fashion-A7s {
      flex-shrink: 0;
      margin-right: 7.1085rem;
      max-width: 12.1915rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3;
      color: #ffffff;
      font-family: Calistoga, 'Source Sans Pro';
    }
    .frame-7-g6D {
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      width: 11.5rem;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      color: #ffffff;
      display: flex;
      font-weight: 600;
      line-height: 1.25;
      margin: 0.3rem 5.05rem 0.352rem 0rem;
      height: calc(100% - 0.652rem);
      cursor: pointer;
    }
    .frame-8-kLy {
      justify-content: center;
      margin: 0.3rem 4.9rem 0.352rem 0rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 2rem;
      white-space: nowrap;
      flex-shrink: 0;
      width: 7.8rem;
      font-weight: 600;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      height: calc(100% - 0.652rem);
      line-height: 1.25;
    }
    .frame-9-2JV {
      margin: 0.3rem 4.85rem 0.352rem 0rem;
      width: 7.4rem;
      cursor: pointer;
      line-height: 1.25;
      white-space: nowrap;
      flex-shrink: 0;
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      color: #ffffff;
      align-items: center;
      font-weight: 600;
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      justify-content: center;
    }
    .frame-10-753 {
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.3rem 5.1rem 0.352rem 0rem;
      width: 7.4rem;
      cursor: pointer;
      line-height: 1.25;
      white-space: nowrap;
      flex-shrink: 0;
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      font-weight: 600;
      color: #ffffff;
    }
    .frame-11-zuX {
      line-height: 1.25;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      width: 11.6rem;
      height: calc(100% - 0.652rem);
      cursor: pointer;
      font-weight: 600;
      display: flex;
      justify-content: center;
      font-family: Quicksand, 'Source Sans Pro';
      margin: 0.3rem 22rem 0.352rem 0rem;
      font-size: 2rem;
      align-items: center;
    }
    .icon-user-circle-alt-VrH {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.611rem 0.463rem 0rem;
      width: 3.1892rem;
      height: 3.1891rem;
      cursor: pointer;
      position: relative;
    }
    .icon-search-buK {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.4629rem;
      width: 3.1892rem;
      height: 3.1891rem;
      position: relative;
      object-fit: contain;
    }
  }
  .footer-7sf {
    box-sizing: border-box;
    height: 42.9rem;
    left: 0;
    top: 422.3rem;
    align-items: center;
    background-color: #1f2251;
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;
    width: 144.2rem;
    position: absolute;
    display: flex;
    flex-direction: column;

    .auto-group-5lvf-c3j {
      margin: 0rem 5.15rem 1.4rem 0rem;
      width: 131.2rem;
      height: 15.3rem;
      position: relative;
      flex-shrink: 0;

      .van-lang-fashion-vaD {
        left: 0;
        font-size: 4.8rem;
        font-weight: 400;
        top: 0;
        line-height: 1.2999999523;
        color: #ffffff;
        font-family: Calistoga, 'Source Sans Pro';
        width: 27rem;
        height: 15.3rem;
        position: absolute;
      }
      .email-thoitrangvanlangvlueduvn-dzR {
        height: 6.3rem;
        position: absolute;
        top: 1.1rem;
        font-weight: 400;
        color: #ffffff;
        width: 38rem;
        left: 31.8rem;
        font-size: 2.2rem;
        line-height: 1.2102272727;
        font-family: Inter, 'Source Sans Pro';

        .email-thoitrangvanlangvlueduvn-dzR-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .email-thoitrangvanlangvlueduvn-dzR-sub-1 {
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 500;
        }
      }
      .h-tr-02812345678-9bP {
        height: 6.3rem;
        line-height: 1.2102272727;
        left: 76rem;
        top: 1.1rem;
        font-size: 2.2rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 15.6rem;
        position: absolute;

        .h-tr-02812345678-9bP-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .h-tr-02812345678-9bP-sub-1 {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .line-14-i2D {
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 12.7rem;
        background-color: #acacac;
        width: 131.2rem;
      }
    }
    .auto-group-xqgu-SD7 {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 0.1rem 0.15rem;
      display: flex;

      .lin-kt-ZoX {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 25.6rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
      }
      .theo-di-HUd {
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 16.3rem 0.4rem 0rem;
        font-size: 2.2rem;
      }
      .footer-QZF {
        max-width: 75.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;

        .footer-QZF-sub-0 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .footer-QZF-sub-1 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
    }
    .auto-group-eldf-mo7 {
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);
      height: 8.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-due5-uPX {
        margin-right: 9rem;
        width: 26.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-11-4GR {
          height: 4.4rem;
          top: 0;
          width: 26.6rem;
          font-size: 2rem;
          font-family: Quicksand, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          font-weight: 500;
          line-height: 1.25;
          align-items: center;
          cursor: pointer;
          position: absolute;
          left: 0;
          color: #ffffff;
          white-space: nowrap;
        }
        .frame-12-Ziy {
          position: absolute;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          cursor: pointer;
          height: 4.4rem;
          font-size: 2rem;
          font-weight: 500;
          color: #ffffff;
          width: 8.2rem;
          top: 3.7rem;
          align-items: center;
          left: 0.4rem;
          display: flex;
        }
      }
      .auto-group-edbf-ri5 {
        width: 9.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-8-DYd {
          font-size: 2rem;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          left: 0;
          top: 0;
          font-weight: 500;
          display: flex;
          width: 9.3rem;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          color: #ffffff;
          height: 4.4rem;
          position: absolute;
          line-height: 1.25;
        }
        .frame-9-wUd {
          white-space: nowrap;
          width: 9.7rem;
          position: absolute;
          font-size: 2rem;
          justify-content: center;
          line-height: 1.25;
          display: flex;
          align-items: center;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          top: 3.7rem;
          font-weight: 500;
          height: 4.4rem;
          cursor: pointer;
          left: 0;
        }
      }
    }
    .frame-10-edw {
      font-size: 2rem;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      margin: 0rem 94.35rem 3rem 35.6rem;
      width: calc(100% - 129.95rem);
      height: 3.1rem;
      cursor: pointer;
      justify-content: center;
      font-weight: 500;
      line-height: 1.25;
      white-space: nowrap;
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }
    .line-15-8JD {
      margin: 0rem 5.35rem 0.9rem 0rem;
      width: 131.2rem;
      height: 0.1rem;
      background-color: #acacac;
      flex-shrink: 0;
    }
    .van-lang-university-all-rights-reserved-3g5 {
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 1.25rem;
      font-size: 2rem;
      font-weight: 300;
    }
  }
  .bst-ma-hoa-ca-th-khoa-thit-k-thi-trang-n-r-ti-cuc-thi-fashion-in-paris-MRs {
    top: 11.2rem;
    display: flex;
    line-height: 1.220703125;
    font-family: Calibri, 'Source Sans Pro';
    width: 76.5rem;
    position: absolute;
    left: 13.3rem;
    color: #a10000;
    white-space: nowrap;
    height: 4.4rem;
    font-size: 2rem;
    font-weight: 400;
  }
  .bst-ma-hoa-ca-th-khoa-thit-k-thi-trang-n-r-ti-cuc-thi-fashion-in-paris-RAq {
    height: 4.4rem;
    font-weight: 700;
    font-family: Calibri, 'Source Sans Pro';
    display: flex;
    font-size: 3.6rem;
    line-height: 1.220703125;
    color: #000000;
    width: 89rem;
    position: absolute;
    left: 13.3rem;
    top: 20.1rem;
  }
}
