
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.detail-projects-k25-5-6JD {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .menu-Ddj {
    box-sizing: border-box;
    padding: 1rem 14.611rem 0.948rem 13.5rem;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    background-color: #1f2251;
    flex-shrink: 0;

    .van-lang-fashion-X8d {
      color: #ffffff;
      font-family: Calistoga, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 7.1084rem;
      max-width: 12.1916rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3;
    }
    .frame-7-2bB {
      width: 11.5rem;
      font-weight: 600;
      color: #ffffff;
      display: flex;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0.3rem 5.05rem 0.352rem 0rem;
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      justify-content: center;
      flex-shrink: 0;
      cursor: pointer;
      line-height: 1.25;
      align-items: center;
    }
    .frame-8-6b3 {
      width: 7.8rem;
      height: calc(100% - 0.652rem);
      margin: 0.3rem 4.9rem 0.352rem 0rem;
      cursor: pointer;
      font-weight: 600;
      line-height: 1.25;
      display: flex;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
    }
    .frame-9-BcV {
      height: calc(100% - 0.652rem);
      cursor: pointer;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      margin: 0.3rem 4.85rem 0.352rem 0rem;
      width: 7.4rem;
      color: #ffffff;
      white-space: nowrap;
      align-items: center;
      font-weight: 600;
      font-family: Quicksand, 'Source Sans Pro';
      font-size: 2rem;
      line-height: 1.25;
    }
    .frame-10-5Sy {
      width: 7.4rem;
      height: calc(100% - 0.652rem);
      color: #ffffff;
      justify-content: center;
      font-size: 2rem;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0.3rem 5.1rem 0.352rem 0rem;
      font-weight: 600;
      white-space: nowrap;
      cursor: pointer;
    }
    .frame-11-aPj {
      font-size: 2rem;
      white-space: nowrap;
      display: flex;
      cursor: pointer;
      font-weight: 600;
      align-items: center;
      flex-shrink: 0;
      width: 11.6rem;
      font-family: Quicksand, 'Source Sans Pro';
      margin: 0.3rem 22rem 0.352rem 0rem;
      height: calc(100% - 0.652rem);
      line-height: 1.25;
      color: #ffffff;
      justify-content: center;
    }
    .icon-user-circle-alt-yAy {
      margin: 0rem 2.611rem 0.463rem 0rem;
      width: 3.1891rem;
      height: 3.1891rem;
      cursor: pointer;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .icon-search-sGM {
      width: 3.1891rem;
      height: 3.1891rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.4629rem;
    }
  }
  .auto-group-tx4u-n8R {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8.6rem 12.8rem 7rem 12.8rem;
    width: 100%;

    .group-101-tx9 {
      margin: 0rem 7.354rem 7.8rem 0.7rem;
      width: calc(100% - 8.0539rem);
      height: 44.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-wasv-22m {
        width: 63.2271rem;
        height: 100%;
        flex-shrink: 0;

        .thng-tin-sinh-vin-b-su-tp-kzM {
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Quicksand, 'Source Sans Pro';
          margin-bottom: 8.1rem;
          max-width: 43.2859rem;
          display: flex;
        }
        .auto-group-ltxy-FgD {
          align-items: flex-start;
          width: 100%;
          display: flex;

          .rectangle-207-QZ7 {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2.8014rem;
            width: 20.641rem;
            height: 26.6rem;
            object-fit: cover;
          }
          .auto-group-ppbj-jrH {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .heading-3-J8h {
              margin-bottom: 2.9rem;
              display: flex;
              font-weight: 600;
              white-space: nowrap;
              font-size: 3.2rem;
              line-height: 1.25;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .heading-4-cQH {
              flex-shrink: 0;
              margin-bottom: 3.8rem;
              display: flex;
              white-space: nowrap;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 500;
              line-height: 1.25;
            }
            .heading-4-whT {
              font-size: 2.8rem;
              font-weight: 300;
              line-height: 1.25;
              font-family: Quicksand, 'Source Sans Pro';
              margin-left: 0.2848rem;
              display: flex;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .auto-group-648h-TQu {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 17.7rem 0rem 0rem 4.708rem;
        height: 100%;

        .rectangle-208-PpM {
          margin: 0.4rem 3.77rem 0rem 0rem;
          width: 20.641rem;
          height: 26.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-wvyh-hq3 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 15.7rem;

          .b-su-tp-4Qh {
            font-weight: 600;
            line-height: 1.25;
            margin-bottom: 4.4rem;
            display: flex;
            font-size: 2.4rem;
            color: #000000;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .heading-2-PSy {
            font-family: Calibri, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.220703125;
            font-style: italic;
            color: #000000;
          }
        }
      }
    }
    .heading-3-7ds {
      color: #000000;
      flex-shrink: 0;
      line-height: 1.220703125;
      display: flex;
      font-size: 3.2rem;
      font-weight: 400;
      font-family: Calibri, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 102.4rem 1.5rem 0rem;
    }
    .auto-group-apnm-d6R {
      margin: 0rem 0.3rem 10.7rem 0rem;
      height: 38rem;
      display: flex;
      column-gap: 0.7rem;
      align-items: center;
      flex-shrink: 0;

      .img-hover-large-wcu {
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-141-6kh {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .img-hover-large-S3s {
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;

        .rectangle-141-bBf {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .img-hover-large-Lf3 {
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;

        .rectangle-141-hVb {
          vertical-align: top;
          width: 27rem;
          height: 36rem;
          object-fit: cover;
        }
      }
      .img-hover-large-evd {
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;

        .rectangle-141-1mB {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .heading-3-kim {
      margin: 0rem 107.1rem 1.2rem 0rem;
      display: flex;
      font-size: 3.2rem;
      font-weight: 400;
      flex-shrink: 0;
      line-height: 1.220703125;
      color: #000000;
      font-family: Calibri, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-sv8d-Uem {
      margin: 0rem 0rem 8rem 0.3rem;
      height: 38rem;
      display: flex;
      column-gap: 0.7rem;
      align-items: center;
      flex-shrink: 0;

      .img-hover-large-oBF {
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-141-MiZ {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .img-hover-large-6RF {
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;

        .rectangle-141-35b {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .thuyan-detail-3-9uK {
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-141-7LM {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .img-hover-large-4WV {
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;

        .rectangle-141-DuB {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .group-25-mfo {
      align-items: center;
      border-radius: 1rem;
      line-height: 1.220703125;
      white-space: nowrap;
      font-size: 3.2rem;
      text-decoration-line: underline;
      color: #ffffff;
      font-family: Calibri, 'Source Sans Pro';
      background-color: #1f2251;
      margin: 0rem 40.5rem 0rem 40.9rem;
      height: 7.6rem;
      cursor: pointer;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      width: calc(100% - 81.4rem);
      font-weight: 700;
    }
  }
  .footer-DXo {
    width: 144.2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;

    .auto-group-ymbf-wCu {
      margin: 0rem 5.15rem 1.4rem 0rem;
      width: 131.2rem;
      height: 15.3rem;
      position: relative;
      flex-shrink: 0;

      .van-lang-fashion-Th3 {
        font-size: 4.8rem;
        line-height: 1.2999999523;
        color: #ffffff;
        font-family: Calistoga, 'Source Sans Pro';
        top: 0;
        height: 15.3rem;
        position: absolute;
        left: 0;
        font-weight: 400;
        width: 27rem;
      }
      .email-thoitrangvanlangvlueduvn-mxd {
        width: 38rem;
        height: 6.3rem;
        left: 31.8rem;
        top: 1.1rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.2102272727;

        .email-thoitrangvanlangvlueduvn-mxd-sub-0 {
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
        }
        .email-thoitrangvanlangvlueduvn-mxd-sub-1 {
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .h-tr-02812345678-sPP {
        position: absolute;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.2102272727;
        font-family: Inter, 'Source Sans Pro';
        width: 15.6rem;
        height: 6.3rem;
        left: 76rem;
        top: 1.1rem;
        color: #ffffff;

        .h-tr-02812345678-sPP-sub-0 {
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
        }
        .h-tr-02812345678-sPP-sub-1 {
          font-weight: 400;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
        }
      }
      .line-14-C4H {
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 12.7rem;
        background-color: #acacac;
        width: 131.2rem;
      }
    }
    .auto-group-x4ly-V3P {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 0.1rem 0.15rem;

      .lin-kt-p5f {
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 25.6rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
      }
      .theo-di-jCd {
        flex-shrink: 0;
        margin: 0rem 16.3rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
      }
      .footer-FRs {
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 75.2rem;
        font-size: 2rem;

        .footer-FRs-sub-0 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .footer-FRs-sub-1 {
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
    .auto-group-vmwh-1JZ {
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);
      height: 8.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-rtqo-M7X {
        margin-right: 9rem;
        width: 26.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-11-hSH {
          white-space: nowrap;
          justify-content: center;
          width: 26.6rem;
          height: 4.4rem;
          font-size: 2rem;
          left: 0;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          display: flex;
          position: absolute;
          font-weight: 500;
          color: #ffffff;
          cursor: pointer;
          top: 0;
          align-items: center;
        }
        .frame-12-zwB {
          height: 4.4rem;
          position: absolute;
          left: 0.4rem;
          color: #ffffff;
          white-space: nowrap;
          font-size: 2rem;
          font-weight: 500;
          justify-content: center;
          cursor: pointer;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          align-items: center;
          width: 8.2rem;
          top: 3.7rem;
          display: flex;
        }
      }
      .auto-group-nqm3-V7F {
        flex-shrink: 0;
        width: 9.7rem;
        height: 100%;
        position: relative;

        .frame-8-qgu {
          white-space: nowrap;
          justify-content: center;
          width: 9.3rem;
          height: 4.4rem;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          position: absolute;
          left: 0;
          top: 0;
          color: #ffffff;
          align-items: center;
          cursor: pointer;
          line-height: 1.25;
          display: flex;
        }
        .frame-9-kos {
          width: 9.7rem;
          position: absolute;
          font-weight: 500;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          top: 3.7rem;
          font-size: 2rem;
          align-items: center;
          height: 4.4rem;
          cursor: pointer;
          left: 0;
          justify-content: center;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
        }
      }
    }
    .frame-10-G1X {
      color: #ffffff;
      height: 3.1rem;
      font-size: 2rem;
      display: flex;
      flex-shrink: 0;
      font-weight: 500;
      white-space: nowrap;
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
      margin: 0rem 94.35rem 3rem 35.6rem;
      line-height: 1.25;
      justify-content: center;
      width: calc(100% - 129.95rem);
      cursor: pointer;
    }
    .line-15-9LD {
      margin: 0rem 5.35rem 0.9rem 0rem;
      width: 131.2rem;
      height: 0.1rem;
      background-color: #acacac;
      flex-shrink: 0;
    }
    .van-lang-university-all-rights-reserved-5Ds {
      font-weight: 300;
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 1.25rem;
      font-size: 2rem;
    }
  }
}
