
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.detail-projects-k24-1-QAm {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .menu-8sT {
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 14.611rem 0.948rem 13.5rem;

    .van-lang-fashion-FBP {
      margin-right: 7.1085rem;
      max-width: 12.1915rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3;
      color: #ffffff;
      font-family: Calistoga, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .frame-7-m9j {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 600;
      color: #ffffff;
      height: calc(100% - 0.652rem);
      line-height: 1.25;
      white-space: nowrap;
      font-family: Quicksand, 'Source Sans Pro';
      justify-content: center;
      margin: 0.3rem 5.05rem 0.352rem 0rem;
      width: 11.5rem;
      font-size: 2rem;
    }
    .frame-8-q9b {
      height: calc(100% - 0.652rem);
      font-weight: 600;
      line-height: 1.25;
      flex-shrink: 0;
      font-size: 2rem;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      color: #ffffff;
      margin: 0.3rem 4.9rem 0.352rem 0rem;
      width: 7.8rem;
      cursor: pointer;
      align-items: center;
      justify-content: center;
    }
    .frame-9-ijB {
      color: #ffffff;
      display: flex;
      flex-shrink: 0;
      cursor: pointer;
      justify-content: center;
      margin: 0.3rem 4.85rem 0.352rem 0rem;
      width: 7.4rem;
      font-family: Quicksand, 'Source Sans Pro';
      line-height: 1.25;
      white-space: nowrap;
      align-items: center;
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      font-weight: 600;
    }
    .frame-10-cpZ {
      line-height: 1.25;
      white-space: nowrap;
      display: flex;
      color: #ffffff;
      align-items: center;
      flex-shrink: 0;
      width: 7.4rem;
      height: calc(100% - 0.652rem);
      font-weight: 600;
      cursor: pointer;
      font-size: 2rem;
      justify-content: center;
      margin: 0.3rem 5.1rem 0.352rem 0rem;
      font-family: Quicksand, 'Source Sans Pro';
    }
    .frame-11-6zd {
      display: flex;
      height: calc(100% - 0.652rem);
      cursor: pointer;
      line-height: 1.25;
      justify-content: center;
      flex-shrink: 0;
      font-weight: 600;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0.3rem 22rem 0.352rem 0rem;
      width: 11.6rem;
      font-size: 2rem;
      align-items: center;
    }
    .icon-user-circle-alt-161 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.611rem 0.463rem 0rem;
      width: 3.1892rem;
      height: 3.1891rem;
      cursor: pointer;
      position: relative;
    }
    .icon-search-uhB {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.4629rem;
      width: 3.1892rem;
      height: 3.1891rem;
      position: relative;
    }
  }
  .auto-group-w5fw-EUZ {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8.6rem 12.4rem 7rem 12.8rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .info-student-project-kho {
      margin: 0rem 3.854rem 7.7rem 0.6rem;
      width: calc(100% - 4.4539rem);
      height: 44.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-ygjj-4yP {
        height: 100%;
        flex-shrink: 0;
        width: 64.6271rem;

        .info-student-project-DLV {
          line-height: 1.25;
          color: #000000;
          font-family: Quicksand, 'Source Sans Pro';
          margin-bottom: 8.1rem;
          max-width: 43.286rem;
          display: flex;
          font-size: 4rem;
          font-weight: 700;
        }
        .auto-group-nbgd-jZj {
          width: 100%;
          display: flex;
          align-items: flex-start;

          .luuthikimmien-thX {
            height: 26.6rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2.8014rem;
            width: 20.641rem;
          }
          .auto-group-pvzp-2Yq {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;

            .name-Bgd {
              display: flex;
              font-weight: 600;
              line-height: 1.25;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.9rem;
              font-size: 3.2rem;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
            }
            .heading-4-Wyo {
              white-space: nowrap;
              margin-bottom: 3.8rem;
              font-weight: 500;
              font-family: Quicksand, 'Source Sans Pro';
              color: #000000;
              flex-shrink: 0;
              display: flex;
              font-size: 2.8rem;
              line-height: 1.25;
            }
            .heading-4-FRb {
              margin-left: 0.2848rem;
              line-height: 1.25;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 2.8rem;
              font-weight: 300;
              color: #000000;
            }
          }
        }
      }
      .auto-group-lcad-muj {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 17.7rem 0rem 0rem 3.308rem;
        height: 100%;
        display: flex;
        align-items: center;

        .scoposophia-KAZ {
          margin: 0.4rem 3.77rem 0rem 0rem;
          width: 20.641rem;
          height: 26.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-15ah-EYR {
          flex-shrink: 0;
          margin-bottom: 15.7rem;
          display: flex;
          flex-direction: column;

          .bosutap-zGh {
            margin-bottom: 4.4rem;
            display: flex;
            font-size: 2.4rem;
            line-height: 1.25;
            white-space: nowrap;
            font-weight: 600;
            color: #000000;
            font-family: Quicksand, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .heading-2-KZs {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.220703125;
            font-style: italic;
            color: #000000;
            font-family: Calibri, 'Source Sans Pro';
          }
        }
      }
    }
    .auto-group-xqs9-dqT {
      margin: 0rem 0rem 12.4rem 0.7rem;
      width: calc(100% - 0.7rem);
      height: 41.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-bk3k-MFf {
        width: 29rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .img-hover-large-W8Z {
          position: absolute;
          left: 0;
          top: 3.5rem;
          box-sizing: border-box;
          padding: 1rem;
          width: 29rem;
          height: 38rem;
          cursor: pointer;

          .rectangle-141-qRj {
            width: 27rem;
            height: 36rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .heading-3-ynq {
          display: flex;
          font-size: 3.2rem;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          position: absolute;
          left: 0;
          top: 0;
          white-space: nowrap;
          width: 14rem;
          height: 3.9rem;
          font-weight: 400;
        }
      }
      .auto-group-tfrb-6sT {
        height: 100%;
        display: flex;
        column-gap: 0.7rem;
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.5rem 0rem 0rem 0.7rem;

        .img-hover-large-1zR {
          padding: 1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;
          box-sizing: border-box;

          .rectangle-141-Na5 {
            object-fit: cover;
            vertical-align: top;
            width: 27rem;
            height: 36rem;
          }
        }
        .img-hover-large-WRP {
          padding: 1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;
          box-sizing: border-box;

          .rectangle-141-U7K {
            width: 27rem;
            height: 36rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .img-hover-large-DKo {
          box-sizing: border-box;
          padding: 1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-141-yZs {
            height: 36rem;
            object-fit: cover;
            vertical-align: top;
            width: 27rem;
          }
        }
      }
    }
    .auto-group-adfx-uyK {
      height: 39.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.7rem 11.5rem 0rem;
      width: calc(100% - 0.7rem);

      .auto-group-7k5f-duK {
        width: 29rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .img-hover-large-o37 {
          left: 0;
          top: 1.9rem;
          box-sizing: border-box;
          padding: 1rem;
          width: 29rem;
          height: 38rem;
          cursor: pointer;
          position: absolute;

          .rectangle-141-LHw {
            vertical-align: top;
            width: 27rem;
            height: 36rem;
            object-fit: cover;
          }
        }
        .heading-3-gsb {
          top: 0;
          line-height: 1.220703125;
          height: 3.9rem;
          position: absolute;
          display: flex;
          font-size: 3.2rem;
          font-weight: 400;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          width: 9.3rem;
          left: 1.1rem;
        }
      }
      .auto-group-a4rd-ohK {
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.9rem 0rem 0rem 0.7rem;
        height: 100%;
        display: flex;
        column-gap: 0.7rem;

        .img-hover-large-XtD {
          box-sizing: border-box;
          padding: 1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-141-tim {
            height: 36rem;
            object-fit: cover;
            vertical-align: top;
            width: 27rem;
          }
        }
        .img-hover-large-EXj {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem;
          height: 100%;
          cursor: pointer;

          .rectangle-141-zmo {
            width: 27rem;
            height: 36rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .img-hover-large-kFB {
          box-sizing: border-box;
          padding: 1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-141-WVF {
            width: 27rem;
            height: 36rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }
    .group-24-r3K {
      width: calc(100% - 81.8rem);
      color: #ffffff;
      font-size: 3.2rem;
      justify-content: center;
      background-color: #1f2251;
      flex-shrink: 0;
      border-radius: 1rem;
      margin: 0rem 41.1rem 0rem 40.7rem;
      height: 7.6rem;
      line-height: 1.220703125;
      text-decoration-line: underline;
      font-family: Calibri, 'Source Sans Pro';
      align-items: center;
      cursor: pointer;
      font-weight: 700;
      white-space: nowrap;
      display: flex;
    }
  }
  .footer-uXP {
    box-sizing: border-box;
    width: 144.2rem;
    height: 42.9rem;
    align-items: center;
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;
    display: flex;
    flex-direction: column;
    background-color: #1f2251;
    border-bottom: solid 0.1rem #acacac;
    flex-shrink: 0;

    .auto-group-xtf7-DY5 {
      width: 131.2rem;
      height: 15.3rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 5.15rem 1.4rem 0rem;

      .van-lang-fashion-jFX {
        font-weight: 400;
        line-height: 1.2999999523;
        font-family: Calistoga, 'Source Sans Pro';
        height: 15.3rem;
        left: 0;
        top: 0;
        font-size: 4.8rem;
        width: 27rem;
        position: absolute;
        color: #ffffff;
      }
      .email-thoitrangvanlangvlueduvn-SQq {
        color: #ffffff;
        width: 38rem;
        height: 6.3rem;
        position: absolute;
        left: 31.8rem;
        top: 1.1rem;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.2102272727;
        font-family: Inter, 'Source Sans Pro';

        .email-thoitrangvanlangvlueduvn-SQq-sub-0 {
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 700;
        }
        .email-thoitrangvanlangvlueduvn-SQq-sub-1 {
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2102272727;
          color: #ffffff;
        }
      }
      .h-tr-02812345678-jYM {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 15.6rem;
        position: absolute;
        top: 1.1rem;
        font-weight: 400;
        line-height: 1.2102272727;
        height: 6.3rem;
        left: 76rem;
        font-size: 2.2rem;

        .h-tr-02812345678-jYM-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .h-tr-02812345678-jYM-sub-1 {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .line-14-HCV {
        position: absolute;
        left: 0;
        top: 12.7rem;
        background-color: #acacac;
        width: 131.2rem;
        height: 0.1rem;
      }
    }
    .auto-group-amvh-1eH {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 0.1rem 0.15rem;

      .lin-kt-LwT {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 25.6rem 0.4rem 0rem;
      }
      .theo-di-rQ1 {
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 16.3rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
      }
      .footer-a57 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 75.2rem;

        .footer-a57-sub-0 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .footer-a57-sub-1 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
    }
    .auto-group-15wp-8F3 {
      flex-shrink: 0;
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);
      height: 8.1rem;
      display: flex;
      align-items: center;

      .auto-group-1ppb-FqT {
        flex-shrink: 0;
        margin-right: 9rem;
        width: 26.6rem;
        height: 100%;
        position: relative;

        .frame-11-QTT {
          font-size: 2rem;
          width: 26.6rem;
          height: 4.4rem;
          top: 0;
          line-height: 1.25;
          cursor: pointer;
          position: absolute;
          display: flex;
          align-items: center;
          left: 0;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          font-weight: 500;
          color: #ffffff;
        }
        .frame-12-uv1 {
          font-weight: 500;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          width: 8.2rem;
          height: 4.4rem;
          color: #ffffff;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          position: absolute;
          display: flex;
          line-height: 1.25;
          left: 0.4rem;
          top: 3.7rem;
          font-size: 2rem;
        }
      }
      .auto-group-cxkh-Qbs {
        flex-shrink: 0;
        width: 9.7rem;
        height: 100%;
        position: relative;

        .frame-8-Ab3 {
          height: 4.4rem;
          left: 0;
          font-size: 2rem;
          top: 0;
          font-family: Quicksand, 'Source Sans Pro';
          position: absolute;
          font-weight: 500;
          white-space: nowrap;
          align-items: center;
          width: 9.3rem;
          cursor: pointer;
          line-height: 1.25;
          color: #ffffff;
          display: flex;
          justify-content: center;
        }
        .frame-9-V7X {
          position: absolute;
          width: 9.7rem;
          font-size: 2rem;
          font-weight: 500;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          cursor: pointer;
          left: 0;
          top: 3.7rem;
          line-height: 1.25;
          height: 4.4rem;
          font-family: Quicksand, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
        }
      }
    }
    .frame-10-bRT {
      height: 3.1rem;
      line-height: 1.25;
      white-space: nowrap;
      display: flex;
      width: calc(100% - 129.95rem);
      cursor: pointer;
      font-weight: 500;
      font-family: Quicksand, 'Source Sans Pro';
      margin: 0rem 94.35rem 3rem 35.6rem;
      color: #ffffff;
      flex-shrink: 0;
      font-size: 2rem;
      align-items: center;
      justify-content: center;
    }
    .van-lang-university-all-rights-reserved-HJH {
      font-weight: 300;
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 1.25rem;
      font-size: 2rem;
    }
  }
}
