
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.detail-projects-k25-3-rJm {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .menu-zA5 {
    height: 7rem;
    display: flex;
    align-items: center;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 14.611rem 0.948rem 13.5rem;
    width: 100%;

    .van-lang-fashion-hKP {
      line-height: 1.3;
      color: #ffffff;
      font-family: Calistoga, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 7.1085rem;
      max-width: 12.1915rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .frame-7-bff {
      font-size: 2rem;
      color: #ffffff;
      align-items: center;
      width: 11.5rem;
      cursor: pointer;
      white-space: nowrap;
      justify-content: center;
      font-weight: 600;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      margin: 0.3rem 5.05rem 0.352rem 0rem;
      height: calc(100% - 0.652rem);
      flex-shrink: 0;
    }
    .frame-8-rrV {
      height: calc(100% - 0.652rem);
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 600;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      width: 7.8rem;
      font-size: 2rem;
      line-height: 1.25;
      align-items: center;
      justify-content: center;
      margin: 0.3rem 4.9rem 0.352rem 0rem;
      white-space: nowrap;
      display: flex;
    }
    .frame-9-wN9 {
      margin: 0.3rem 4.85rem 0.352rem 0rem;
      height: calc(100% - 0.652rem);
      line-height: 1.25;
      font-weight: 600;
      color: #ffffff;
      white-space: nowrap;
      width: 7.4rem;
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 2rem;
      display: flex;
    }
    .frame-10-Ec9 {
      margin: 0.3rem 5.1rem 0.352rem 0rem;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
      width: 7.4rem;
      height: calc(100% - 0.652rem);
      cursor: pointer;
      font-size: 2rem;
      color: #ffffff;
      white-space: nowrap;
      display: flex;
      font-weight: 600;
      justify-content: center;
      flex-shrink: 0;
    }
    .frame-11-8Sd {
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      cursor: pointer;
      font-family: Quicksand, 'Source Sans Pro';
      line-height: 1.25;
      color: #ffffff;
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      margin: 0.3rem 22rem 0.352rem 0rem;
      width: 11.6rem;
      font-weight: 600;
      align-items: center;
      justify-content: center;
    }
    .icon-user-circle-alt-paM {
      margin: 0rem 2.611rem 0.463rem 0rem;
      width: 3.1892rem;
      height: 3.1891rem;
      cursor: pointer;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .icon-search-8b3 {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.4629rem;
      width: 3.1892rem;
      height: 3.1891rem;
      position: relative;
      object-fit: contain;
    }
  }
  .auto-group-pal1-3xu {
    box-sizing: border-box;
    padding: 8.6rem 12.9rem 7rem 13rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .group-101-And {
      margin: 0rem 11.326rem 8.1rem 0.5rem;
      width: calc(100% - 11.8263rem);
      height: 44.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-81zq-VK7 {
        width: 64.0271rem;
        height: 100%;
        flex-shrink: 0;

        .thng-tin-sinh-vin-b-su-tp-dgD {
          margin-bottom: 8.1rem;
          max-width: 43.286rem;
          display: flex;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .auto-group-bwdb-L4q {
          width: 100%;
          display: flex;
          align-items: flex-start;

          .rectangle-207-t6M {
            flex-shrink: 0;
            margin-right: 2.8014rem;
            width: 20.641rem;
            height: 26.6rem;
            object-fit: cover;
            vertical-align: top;
          }
          .auto-group-mv9k-cHF {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .heading-3-y7o {
              flex-shrink: 0;
              margin-bottom: 2.9rem;
              display: flex;
              font-size: 3.2rem;
              font-weight: 600;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              line-height: 1.25;
            }
            .heading-4-Vbw {
              font-weight: 500;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 3.8rem;
              display: flex;
              font-size: 2.8rem;
              line-height: 1.25;
              flex-shrink: 0;
            }
            .heading-4-2bs {
              margin-left: 0.2848rem;
              display: flex;
              font-size: 2.8rem;
              flex-shrink: 0;
              font-weight: 300;
              line-height: 1.25;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .auto-group-vbwf-LcZ {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 17.7rem 0rem 0rem 3.908rem;
        height: 100%;
        display: flex;
        align-items: center;

        .rectangle-208-gAd {
          height: 26.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.4rem 3.77rem 0rem 0rem;
          width: 20.641rem;
        }
        .auto-group-i45w-C8y {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 15.7rem;

          .b-su-tp-9K7 {
            flex-shrink: 0;
            display: flex;
            font-weight: 600;
            line-height: 1.25;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 4.4rem;
            font-size: 2.4rem;
            color: #000000;
          }
          .heading-2-5Cm {
            font-style: italic;
            color: #000000;
            font-family: Calibri, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.220703125;
          }
        }
      }
    }
    .heading-3-CoB {
      display: flex;
      font-size: 3.2rem;
      font-weight: 400;
      white-space: nowrap;
      margin: 0rem 103.3rem 1.4rem 0rem;
      line-height: 1.220703125;
      color: #000000;
      font-family: Calibri, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .auto-group-3thb-7QM {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 10.3rem;
      width: 100%;
      height: 38rem;
      display: flex;
      column-gap: 0.7rem;

      .img-hover-large-qbF {
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;

        .rectangle-141-baR {
          object-fit: cover;
          vertical-align: top;
          width: 27rem;
          height: 36rem;
        }
      }
      .img-hover-large-Lnu {
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;

        .rectangle-141-u5K {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .img-hover-large-eYh {
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-141-Qnm {
          object-fit: cover;
          vertical-align: top;
          width: 27rem;
          height: 36rem;
        }
      }
      .img-hover-large-xZP {
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-141-iHf {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .heading-3-ruf {
      display: flex;
      color: #000000;
      font-family: Calibri, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 107.8rem 2.3rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.220703125;
    }
    .auto-group-ixh3-trM {
      width: 100%;
      height: 38rem;
      display: flex;
      column-gap: 0.7rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 7.1rem;

      .img-hover-large-qFo {
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-141-Q41 {
          object-fit: cover;
          vertical-align: top;
          width: 27rem;
          height: 36rem;
        }
      }
      .img-hover-large-x5X {
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;

        .rectangle-141-Wcq {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .img-hover-large-TY5 {
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;

        .rectangle-141-Dn9 {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .img-hover-large-xzd {
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;

        .rectangle-141-88R {
          width: 27rem;
          height: 36rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .group-23-UTB {
      width: calc(100% - 81.1rem);
      cursor: pointer;
      font-weight: 700;
      white-space: nowrap;
      align-items: center;
      border-radius: 1rem;
      margin: 0rem 40.6rem 0rem 40.5rem;
      background-color: #1f2251;
      font-size: 3.2rem;
      line-height: 1.220703125;
      text-decoration-line: underline;
      color: #ffffff;
      justify-content: center;
      flex-shrink: 0;
      height: 7.6rem;
      font-family: Calibri, 'Source Sans Pro';
      display: flex;
    }
  }
  .footer-7W9 {
    display: flex;
    flex-direction: column;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;
    width: 144.2rem;
    align-items: center;

    .auto-group-vkyr-2ND {
      margin: 0rem 5.15rem 1.4rem 0rem;
      width: 131.2rem;
      height: 15.3rem;
      position: relative;
      flex-shrink: 0;

      .van-lang-fashion-kJD {
        font-weight: 400;
        line-height: 1.2999999523;
        font-family: Calistoga, 'Source Sans Pro';
        width: 27rem;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 4.8rem;
        height: 15.3rem;
        color: #ffffff;
      }
      .email-thoitrangvanlangvlueduvn-fAH {
        font-family: Inter, 'Source Sans Pro';
        width: 38rem;
        height: 6.3rem;
        position: absolute;
        top: 1.1rem;
        font-size: 2.2rem;
        color: #ffffff;
        left: 31.8rem;
        font-weight: 400;
        line-height: 1.2102272727;

        .email-thoitrangvanlangvlueduvn-fAH-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .email-thoitrangvanlangvlueduvn-fAH-sub-1 {
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .h-tr-02812345678-MSR {
        color: #ffffff;
        height: 6.3rem;
        left: 76rem;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 1.2102272727;
        font-family: Inter, 'Source Sans Pro';
        width: 15.6rem;
        position: absolute;
        top: 1.1rem;

        .h-tr-02812345678-MSR-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .h-tr-02812345678-MSR-sub-1 {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .line-14-Jky {
        width: 131.2rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 12.7rem;
        background-color: #acacac;
      }
    }
    .auto-group-5sd3-d2Z {
      margin: 0rem 0rem 0.1rem 0.15rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .lin-kt-ZB7 {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 25.6rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
      }
      .theo-di-H77 {
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 16.3rem 0.4rem 0rem;
        font-size: 2.2rem;
      }
      .footer-mgV {
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 75.2rem;
        font-size: 2rem;
        font-weight: 400;

        .footer-mgV-sub-0 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .footer-mgV-sub-1 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
    }
    .auto-group-bpbp-H2Z {
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);
      height: 8.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-lw77-c4q {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 9rem;
        width: 26.6rem;

        .frame-11-x8h {
          display: flex;
          justify-content: center;
          left: 0;
          height: 4.4rem;
          position: absolute;
          font-size: 2rem;
          font-weight: 500;
          width: 26.6rem;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          cursor: pointer;
          color: #ffffff;
          align-items: center;
          top: 0;
        }
        .frame-12-TLM {
          top: 3.7rem;
          color: #ffffff;
          justify-content: center;
          width: 8.2rem;
          left: 0.4rem;
          font-size: 2rem;
          font-weight: 500;
          font-family: Quicksand, 'Source Sans Pro';
          display: flex;
          cursor: pointer;
          align-items: center;
          position: absolute;
          line-height: 1.25;
          white-space: nowrap;
          height: 4.4rem;
        }
      }
      .auto-group-ygkb-Ych {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 9.7rem;

        .frame-8-hEh {
          white-space: nowrap;
          position: absolute;
          left: 0;
          font-size: 2rem;
          font-weight: 500;
          font-family: Quicksand, 'Source Sans Pro';
          display: flex;
          width: 9.3rem;
          height: 4.4rem;
          top: 0;
          line-height: 1.25;
          cursor: pointer;
          color: #ffffff;
          align-items: center;
          justify-content: center;
        }
        .frame-9-bay {
          width: 9.7rem;
          font-size: 2rem;
          height: 4.4rem;
          left: 0;
          line-height: 1.25;
          white-space: nowrap;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          cursor: pointer;
          position: absolute;
          top: 3.7rem;
          font-weight: 500;
          display: flex;
        }
      }
    }
    .frame-10-hP7 {
      height: 3.1rem;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.25;
      color: #ffffff;
      white-space: nowrap;
      margin: 0rem 94.35rem 3rem 35.6rem;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      width: calc(100% - 129.95rem);
      display: flex;
      font-family: Quicksand, 'Source Sans Pro';
    }
    .line-15-nfT {
      flex-shrink: 0;
      margin: 0rem 5.35rem 0.9rem 0rem;
      width: 131.2rem;
      height: 0.1rem;
      background-color: #acacac;
    }
    .van-lang-university-all-rights-reserved-uk5 {
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 1.25rem;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.25;
    }
  }
}
