html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pagehome-4BB {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .menu-PDT {
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 14.611rem 0.948rem 13.5rem;

    .van-lang-fashion-H3w {
      flex-shrink: 0;
      margin-right: 7.1085rem;
      max-width: 12.1915rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3;
      color: #ffffff;
      font-family: Calistoga, 'Source Sans Pro';
    }
    .frame-7-P6y {
      margin: 0.3rem 5.05rem 0.352rem 0rem;
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 600;
      align-items: center;
      justify-content: center;
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      line-height: 1.25;
      color: #ffffff;
      display: flex;
      width: 11.5rem;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-8-eHo {
      margin: 0.3rem 4.9rem 0.352rem 0rem;
      width: 7.8rem;
      cursor: pointer;
      flex-shrink: 0;
      height: calc(100% - 0.652rem);
      font-weight: 600;
      line-height: 1.25;
      align-items: center;
      font-size: 2rem;
      justify-content: center;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
    }
    .frame-9-XMb {
      cursor: pointer;
      white-space: nowrap;
      justify-content: center;
      font-size: 2rem;
      line-height: 1.25;
      color: #ffffff;
      height: calc(100% - 0.652rem);
      font-weight: 600;
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      margin: 0.3rem 4.85rem 0.352rem 0rem;
      width: 7.4rem;
      align-items: center;
      flex-shrink: 0;
    }
    .frame-10-RSy {
      flex-shrink: 0;
      font-size: 2rem;
      align-items: center;
      justify-content: center;
      margin: 0.3rem 5.1rem 0.352rem 0rem;
      width: 7.4rem;
      height: calc(100% - 0.652rem);
      display: flex;
      font-weight: 600;
      line-height: 1.25;
      color: #ffffff;
      cursor: pointer;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-11-hfP {
      font-family: Quicksand, 'Source Sans Pro';
      width: 11.6rem;
      font-weight: 600;
      line-height: 1.25;
      color: #ffffff;
      height: calc(100% - 0.652rem);
      cursor: pointer;
      font-size: 2rem;
      margin: 0.3rem 22rem 0.352rem 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      white-space: nowrap;
    }
    .icon-user-circle-alt-nwj {
      margin: 0rem 2.611rem 0.463rem 0rem;
      width: 3.1892rem;
      height: 3.1891rem;
      cursor: pointer;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .icon-search-JQH {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.4629rem;
      width: 3.1892rem;
      height: 3.1891rem;
    }
  }
  .auto-carousel-Dn9 {
    width: 100%;
    height: 35rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;

    .group-97-mHs {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:c966a7e2d821f69da615a44f57ed50fb5c2770fe');
      padding-left: 144rem;
      align-items: center;
      height: 100%;
      display: flex;
      background-position: center;
      box-sizing: border-box;
      width: 720rem;

      .rectangle-192-Vjf {
        vertical-align: top;
        flex-shrink: 0;
        width: 144rem;
        height: 35rem;
        object-fit: cover;
      }
      .rectangle-193-q2q {
        height: 35rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 144rem;
      }
      .rectangle-194-mBP {
        height: 35rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 144rem;
      }
      .rectangle-195-Wem {
        height: 35rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 144rem;
      }
    }
  }
  .auto-group-a4o3-qBF {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.9rem 10.2rem 19.3rem 13.5rem;

    .auto-group-tq6u-YbT {
      margin: 0rem 0rem 6.9rem 2.2rem;
      width: calc(100% - 2.2rem);
      height: 45.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .introductory-image-1-s7w {
        width: 52.4001rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 3.2999rem;

        .rectangle-72-bZj {
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 10rem 0 0 0;
          width: 18.2021rem;
          height: 17.0805rem;
          position: absolute;
        }
        .rectangle-73-8Jm {
          width: 15.1685rem;
          height: 14.2977rem;
          position: absolute;
          left: 20.96rem;
          top: 11.227rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0 10rem 0 0;
        }
        .rectangle-74-rEm {
          left: 8.4576rem;
          top: 19.9592rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0 0 0 5rem;
          width: 9.4688rem;
          height: 11.1311rem;
          position: absolute;
        }
        .rectangle-75-Zey {
          position: absolute;
          left: 20.96rem;
          top: 2.6867rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 2.4rem;
          width: 6.5271rem;
          height: 5.9494rem;
        }
        .rectangle-76-697 {
          border-radius: 0 0 6rem 0;
          width: 11.0315rem;
          height: 14.1057rem;
          position: absolute;
          left: 21.7873rem;
          top: 28.9791rem;
          object-fit: cover;
          vertical-align: top;
        }
        .rectangle-77-22m {
          left: 32.8189rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0 5rem 0 0;
          width: 8.6414rem;
          height: 8.2523rem;
          position: absolute;
        }
        .rectangle-78-Maq {
          border-radius: 0 0 0 9rem;
          width: 11.6751rem;
          height: 11.0352rem;
          position: absolute;
          left: 0;
          top: 34.0648rem;
          object-fit: cover;
          vertical-align: top;
        }
        .rectangle-79-sp5 {
          border-radius: 0 0 9rem 0;
          width: 13.6976rem;
          height: 12.8582rem;
          position: absolute;
          left: 38.7025rem;
          top: 23.4137rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-si7b-zth {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 7.5rem 0rem 14.8rem 0rem;
        width: 62.4rem;
        height: calc(100% - 22.3rem);
        align-items: center;

        .heading-1-iZo {
          color: #000000;
          white-space: nowrap;
          margin: 0rem 3.8rem 5.1rem 0rem;
          display: flex;
          font-weight: 700;
          flex-shrink: 0;
          font-size: 4rem;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .auto-group-a4sm-pMw {
          width: 100%;
          height: 12.7rem;
          flex-shrink: 0;

          .ngnh-thit-k-thi-trang-t-ho-l-ngnh-hc-u-tin-ca-khoa-m-thut-cng-nghip-trng-i-hc-vn-lang-c-tch-ra-t-khoa-kin-trc-trng-i-hc-vn-lang-t-nm-2005-n-nay-tri-qua-15-nm-hot-ng-o-to-vi-cht-lng-c-khng-nh-bng-s-thnh-cng-ca-nhiu-th-h-sinh-vin-tt-nghip-NPT {
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.25;
            color: #000000;
            font-family: Quicksand, 'Source Sans Pro';
            max-width: 57rem;
          }
        }
      }
    }
    .heading-2-rhw {
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.25;
      display: flex;
      font-size: 3.6rem;
      font-weight: 600;
      color: #000000;
      flex-shrink: 0;
      margin: 0rem 0rem 2.379rem 1.8rem;
    }
    .introductory-title-2-ATj {
      width: calc(100% - 12.4774rem);
      height: 11.5328rem;
      flex-shrink: 0;
      margin: 0rem 7.519rem 5.988rem 4.958rem;
      box-sizing: border-box;
      padding: 1.421rem 3.781rem 0.712rem 8.542rem;

      .thi-trang-ti-trng-i-hc-vn-lang-tri-qua-mt-s-pht-trin-ng-k-qua-cc-nm-y-l-mt-ngnh-hc-a-dng-v-sng-to-ni-m-s-kt-hp-gia-kin-thc-v-ci-mi-m-lun-to-nn-nhng-bc-tin-ng-k-ni-y-chng-ti-cp-nht-thng-tin-v-nhng-b-su-tp-mi-nht-ca-cc-bn-sinh-vin-n-t-nhiu-kha-khc-nhau-4JD {
        font-family: Quicksand, 'Source Sans Pro';
        max-width: 95.5rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
      }
    }
    .auto-group-6csb-mbw {
      margin: 0rem 3.3rem 6.7rem 0rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .component-34-uTF {
        cursor: pointer;
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 0.3rem 9.1rem 0rem 0rem;
        width: 22rem;
        height: 33rem;

        .student-name-student-d8M {
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          position: absolute;
          line-height: 1.220703125;
          left: 1.3rem;
          top: 29.9rem;
          font-size: 1.3rem;
          font-weight: 400;
          white-space: nowrap;
          width: 9.1rem;
          height: 1.6rem;
        }
        .rectangle-152-KG5 {
          width: 19.9rem;
          height: 25.8rem;
          position: absolute;
          left: 1.1rem;
          top: 0.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
        }
        .name-project-dGm {
          height: 1.7rem;
          left: 1.3rem;
          color: #000000;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          width: 9.5rem;
          position: absolute;
          top: 27.9rem;
        }
      }
      .component-35-TWh {
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 0.3rem 9.2rem 0rem 0rem;
        width: 22rem;
        height: 33rem;
        cursor: pointer;

        .student-name-student-BBo {
          top: 29.9rem;
          font-weight: 400;
          width: 8.6rem;
          height: 1.6rem;
          position: absolute;
          left: 1.3rem;
          font-size: 1.3rem;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-152-Gj3 {
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
          height: 25.8rem;
          position: absolute;
          left: 1.1rem;
          top: 0.8rem;
          object-fit: cover;
        }
        .name-project-nxH {
          left: 1.3rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          width: 7.4rem;
          height: 1.7rem;
          position: absolute;
          top: 27.9rem;
          white-space: nowrap;
        }
      }
      .component-36-EpH {
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 0rem 8.9rem 0.3rem 0rem;
        width: 22rem;
        height: 33rem;
        cursor: pointer;

        .student-name-student-ZrZ {
          width: 9.3rem;
          height: 1.6rem;
          position: absolute;
          left: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          top: 29.9rem;
          font-size: 1.3rem;
          white-space: nowrap;
        }
        .rectangle-152-VER {
          height: 25.8rem;
          position: absolute;
          left: 1.1rem;
          top: 0.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
        }
        .name-project-cpq {
          height: 1.7rem;
          left: 1.3rem;
          top: 27.9rem;
          font-size: 1.4rem;
          line-height: 1.220703125;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          width: 7.4rem;
          font-weight: 300;
          color: #000000;
          position: absolute;
        }
      }
      .component-37-Uc9 {
        margin-bottom: 0.3rem;
        box-sizing: border-box;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        width: 22rem;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;

        .rectangle-152-o8d {
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
        }
        .name-project-Woj {
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
        }
        .student-name-student-Ezd {
          margin-left: 0.2rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-jy8z-iuo {
      position: relative;
      flex-shrink: 0;
      margin-right: 2.8rem;
      width: 117.5rem;
      height: 100.6rem;

      .news-FPw {
        width: 117.3rem;
        height: 75.7rem;
        position: absolute;
        left: 0;
        top: 24.9rem;

        .group-21-NjT {
          border-radius: 1rem;
          width: 117rem;
          height: 46.9rem;
          position: absolute;
          left: 0;
          top: 28rem;

          .auto-group-cbsr-K8u {
            margin: 0rem 0rem 1.2rem 0.3rem;
            width: calc(100% - 0.3rem);
            display: flex;
            align-items: flex-start;

            .image-3-qN9 {
              flex-shrink: 0;
              margin-right: 26.2rem;
              width: 47rem;
              height: 38.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
            }
            .chng-trnh-nhc-hi-ha-m-2023-l-mt-sn-chi-hon-ton-mi-dnh-cho-tt-c-cc-bn-sinh-vin-AfK {
              max-width: 43.5rem;
              font-weight: 400;
              line-height: 1.25;
              color: #000000;
              flex-shrink: 0;
              margin-top: 3.9rem;
              display: flex;
              font-size: 1.6rem;
              font-family: Quicksand, 'Source Sans Pro';
            }
          }
          .new-4-DNh {
            line-height: 1.25;
            color: #a10000;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
          }
          .bst-ma-hoa-ca-th-khoa-thit-k-thi-trang-n-r-ti-cuc-thi-fashion-in-paris-xLH {
            max-width: 46.2rem;
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.25;
            color: #000000;
            font-family: Quicksand, 'Source Sans Pro';
            margin-left: 0.4rem;
          }
        }
        .group-20-25F {
          height: 47.7rem;
          position: absolute;
          left: 60.3rem;
          top: 28rem;
          width: 57rem;

          .casting-1-Lbj {
            margin-bottom: 2rem;
            width: 10rem;
            height: 13.7rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.5rem;
          }
          .line-10-TwF {
            margin-bottom: 1.7rem;
            width: 50rem;
            height: 0.1rem;
            background-color: #cdcdcd;
          }
          .group-17-Qbb {
            width: 100%;
            height: 13.7rem;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding-right: 0.3rem;

            .trienlam-2-YSu {
              vertical-align: top;
              border-radius: 0.5rem;
              flex-shrink: 0;
              margin: 0rem 3.3rem 1.81rem 0rem;
              width: 10rem;
              height: 11.8898rem;
              object-fit: cover;
            }
            .ni-dung-tin-tc-2-3uT {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 43.4rem;
            }
          }
          .line-11-yo7 {
            background-color: #cdcdcd;
            margin-bottom: 2.1rem;
            width: 50rem;
            height: 0.1rem;
          }
          .group-18-Xpd {
            position: relative;
            width: 100%;
            height: 14.3rem;

            .ni-dung-tin-tc-3-gxR {
              width: 43.4rem;
              left: 13.3rem;
              top: 3.8rem;
              font-weight: 400;
              font-family: Quicksand, 'Source Sans Pro';
              height: 7.1rem;
              position: absolute;
              font-size: 1.6rem;
              line-height: 1.25;
              color: #000000;
            }
            .n-2-ziD {
              width: 10rem;
              height: 11.8898rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.5rem;
            }
            .line-12-KkV {
              top: 13.3rem;
              background-color: #cdcdcd;
              width: 50rem;
              height: 0.1rem;
              position: absolute;
              left: 0;
            }
          }
        }
        .line-13-fZT {
          width: 94.9rem;
          height: 0.1rem;
          position: absolute;
          left: 12.2rem;
          top: 13.6rem;
          background-color: #000000;
        }
        .heading-2-bi1 {
          left: 0;
          top: 21.2rem;
          font-size: 3.6rem;
          font-weight: 600;
          white-space: nowrap;
          width: 32.2rem;
          height: 4.5rem;
          line-height: 1.25;
          color: #000000;
          font-family: Quicksand, 'Source Sans Pro';
          position: absolute;
          display: flex;
        }
        .heading-6-Wpy {
          font-weight: 600;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          width: 23.6rem;
          left: 73.6rem;
          display: flex;
          font-size: 2rem;
          line-height: 1.25;
          color: #a10000;
          height: 2.5rem;
          position: absolute;
          top: 28rem;
        }
        .heading-6-q6Z {
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.5rem;
          left: 73.6rem;
          font-size: 2rem;
          font-weight: 600;
          color: #a10000;
          width: 24rem;
          position: absolute;
          top: 44.9rem;
          display: flex;
        }
        .heading-6-9d3 {
          height: 2.5rem;
          position: absolute;
          display: flex;
          font-weight: 600;
          font-family: Quicksand, 'Source Sans Pro';
          width: 38.7rem;
          top: 60.8rem;
          font-size: 2rem;
          line-height: 1.25;
          color: #a10000;
          white-space: nowrap;
          left: 73.6rem;
        }
      }
      .group-94-sZ3 {
        width: 117.2rem;
        height: 29rem;
        position: absolute;
        left: 0.3rem;
        top: 0;
        display: flex;
        column-gap: 6.5rem;
        align-items: center;

        .auto-group-gg6v-oSh {
          flex-shrink: 0;
          width: 25.7rem;
          height: 100%;
          position: relative;

          .rectangle-92-Yv5 {
            left: 2.7rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.5rem;
            width: 23rem;
            height: 29rem;
            position: absolute;
          }
          .group-37-BTF {
            top: 11.5rem;
            background-color: #d9d9d9;
            box-sizing: border-box;
            width: 6rem;
            height: 6rem;
            left: 0;
            padding: 2.1rem 2.4rem 2rem 2.4rem;
            position: absolute;
            border-radius: 3rem;

            .vector-geu {
              width: 1.2rem;
              height: 1.9rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .rectangle-93-D93 {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
        .rectangle-94-kPs {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 23rem;
          height: 29rem;
        }
        .auto-group-uzob-hK7 {
          width: 26rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-95-SnV {
            top: 0;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.5rem;
            width: 23rem;
            height: 29rem;
            position: absolute;
            left: 0;
          }
          .component-2-Bk5 {
            height: 6rem;
            position: absolute;
            left: 20rem;
            top: 11.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 6rem;
          }
        }
      }
    }
  }
  .footer-WGZ {
    display: flex;
    flex-direction: column;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;
    width: 100%;
    align-items: center;

    .auto-group-g6ky-pY9 {
      margin: 0rem 5.15rem 1.4rem 0rem;
      width: 131.2rem;
      height: 15.3rem;
      position: relative;
      flex-shrink: 0;

      .van-lang-fashion-94d {
        position: absolute;
        font-weight: 400;
        font-family: Calistoga, 'Source Sans Pro';
        font-size: 4.8rem;
        line-height: 1.2999999523;
        color: #ffffff;
        width: 27rem;
        height: 15.3rem;
        left: 0;
        top: 0;
      }
      .email-thoitrangvanlangvlueduvn-Ebs {
        top: 1.1rem;
        line-height: 1.2102272727;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        left: 31.8rem;
        height: 6.3rem;
        position: absolute;
        font-size: 2.2rem;
        font-weight: 400;
        width: 38rem;

        .email-thoitrangvanlangvlueduvn-Ebs-sub-0 {
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
        }
        .email-thoitrangvanlangvlueduvn-Ebs-sub-1 {
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2102272727;
          color: #ffffff;
        }
      }
      .h-tr-02812345678-KFw {
        width: 15.6rem;
        left: 76rem;
        top: 1.1rem;
        color: #ffffff;
        height: 6.3rem;
        position: absolute;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.2102272727;
        font-family: Inter, 'Source Sans Pro';

        .h-tr-02812345678-KFw-sub-0 {
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
        }
        .h-tr-02812345678-KFw-sub-1 {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .line-14-TWZ {
        position: absolute;
        left: 0;
        top: 12.7rem;
        background-color: #acacac;
        width: 131.2rem;
        height: 0.1rem;
      }
    }
    .auto-group-81d3-PQD {
      margin: 0rem 0rem 0.1rem 0.15rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .lin-kt-K2y {
        margin: 0rem 25.6rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .theo-di-Rrh {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 16.3rem 0.4rem 0rem;
      }
      .footer-xLq {
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 75.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;

        .footer-xLq-sub-0 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .footer-xLq-sub-1 {
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
        }
      }
    }
    .auto-group-wjj9-6bT {
      height: 8.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);

      .auto-group-vsqm-Rtd {
        margin-right: 9rem;
        width: 26.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-11-mhb {
          position: absolute;
          left: 0;
          align-items: center;
          width: 26.6rem;
          height: 4.4rem;
          font-weight: 500;
          color: #ffffff;
          line-height: 1.25;
          display: flex;
          white-space: nowrap;
          justify-content: center;
          cursor: pointer;
          top: 0;
          font-size: 2rem;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .frame-12-sEq {
          width: 8.2rem;
          cursor: pointer;
          position: absolute;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.25;
          justify-content: center;
          height: 4.4rem;
          left: 0.4rem;
          top: 3.7rem;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
        }
      }
      .auto-group-lcsj-9y3 {
        width: 9.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-8-79B {
          width: 9.3rem;
          font-size: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 4.4rem;
          line-height: 1.25;
          top: 0;
          font-weight: 500;
          font-family: Quicksand, 'Source Sans Pro';
          position: absolute;
          left: 0;
          white-space: nowrap;
          cursor: pointer;
          color: #ffffff;
        }
        .frame-9-pJV {
          cursor: pointer;
          position: absolute;
          line-height: 1.25;
          justify-content: center;
          width: 9.7rem;
          left: 0;
          font-weight: 500;
          white-space: nowrap;
          height: 4.4rem;
          top: 3.7rem;
          display: flex;
          align-items: center;
          font-size: 2rem;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
    }
    .frame-10-Wh7 {
      font-weight: 500;
      color: #ffffff;
      white-space: nowrap;
      align-items: center;
      height: 3.1rem;
      display: flex;
      font-size: 2rem;
      font-family: Quicksand, 'Source Sans Pro';
      justify-content: center;
      margin: 0rem 94.35rem 3rem 35.6rem;
      cursor: pointer;
      line-height: 1.25;
      flex-shrink: 0;
      width: calc(100% - 129.95rem);
    }
    .line-15-oAR {
      margin: 0rem 5.35rem 0.9rem 0rem;
      width: 131.2rem;
      height: 0.1rem;
      background-color: #acacac;
      flex-shrink: 0;
    }
    .van-lang-university-all-rights-reserved-gk1 {
      margin-left: 1.25rem;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
