
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.profile-CtZ {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-flty-YhX {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 8.6268rem;

    .van-lang-fashion-bvh {
      top: 2.2701rem;
      font-size: 4rem;
      line-height: 1.3;
      width: 23.8795rem;
      height: 6.3566rem;
      position: absolute;
      left: 13.3445rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Calistoga, 'Source Sans Pro';
    }
    .menu-WGy {
      padding: 1rem 14.611rem 0.948rem 13.5rem;
      width: 144rem;
      align-items: center;
      display: flex;
      background-color: #1f2251;
      box-sizing: border-box;
      height: 7rem;
      position: absolute;
      left: 0;
      top: 0;

      .logo-bJR {
        margin-right: 7.1084rem;
        width: 12.1916rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .van-lang-fashion-KER {
          max-width: 12.1916rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.3;
          color: #ffffff;
          font-family: Calistoga, 'Source Sans Pro';
        }
      }
      .frame-7-QWm {
        height: calc(100% - 0.652rem);
        font-size: 2rem;
        color: #ffffff;
        cursor: pointer;
        font-weight: 600;
        line-height: 1.25;
        white-space: nowrap;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.3rem 5.05rem 0.352rem 0rem;
        width: 11.5rem;
        font-family: Quicksand, 'Source Sans Pro';
        justify-content: center;
      }
      .frame-8-Dj7 {
        flex-shrink: 0;
        font-weight: 600;
        line-height: 1.25;
        width: 7.8rem;
        cursor: pointer;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        margin: 0.3rem 4.9rem 0.352rem 0rem;
        height: calc(100% - 0.652rem);
        font-size: 2rem;
        font-family: Quicksand, 'Source Sans Pro';
        align-items: center;
      }
      .frame-9-62D {
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        align-items: center;
        width: 7.4rem;
        height: calc(100% - 0.652rem);
        cursor: pointer;
        font-size: 2rem;
        font-weight: 600;
        flex-shrink: 0;
        display: flex;
        margin: 0.3rem 4.85rem 0.352rem 0rem;
        line-height: 1.25;
        white-space: nowrap;
        justify-content: center;
      }
      .frame-10-mu3 {
        align-items: center;
        flex-shrink: 0;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        font-family: Quicksand, 'Source Sans Pro';
        margin: 0.3rem 5.1rem 0.352rem 0rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.25;
        width: 7.4rem;
        height: calc(100% - 0.652rem);
        cursor: pointer;
      }
      .frame-11-GL1 {
        font-size: 2rem;
        line-height: 1.25;
        align-items: center;
        flex-shrink: 0;
        font-family: Quicksand, 'Source Sans Pro';
        margin: 0.3rem 22rem 0.352rem 0rem;
        width: 11.6rem;
        cursor: pointer;
        font-weight: 600;
        color: #ffffff;
        height: calc(100% - 0.652rem);
        white-space: nowrap;
        display: flex;
        justify-content: center;
      }
      .icon-user-circle-alt-m1s {
        flex-shrink: 0;
        margin: 0rem 2.611rem 0.463rem 0rem;
        width: 3.1891rem;
        height: 3.1891rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .icon-search-5HT {
        margin-bottom: 0.4629rem;
        width: 3.1891rem;
        height: 3.1891rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-j953-BrH {
    width: 100%;
    height: 110.0732rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-8agq-X9T {
      left: 13.5rem;
      top: 14.6732rem;
      display: flex;
      align-items: center;
      width: 30.7rem;
      height: 10.3rem;
      position: absolute;

      .ellipse-7-FLM {
        flex-shrink: 0;
        width: 10.2rem;
        height: 10.3rem;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-ke4r-zYq {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem 0rem 2.7rem 3.1rem;
        height: 100%;
        display: flex;

        .auto-group-wbrj-Kr1 {
          margin-right: 1.5rem;
          width: 14.5rem;
          height: 100%;
          flex-shrink: 0;

          .nguyn-ng-lau-54V {
            margin-bottom: 0.8rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.220703125;
            color: #000000;
            font-family: Calibri, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-mvu7-Pqs {
            margin-right: 5rem;
            width: calc(100% - 5rem);
            display: flex;
            align-items: center;

            .ellipse-8-9KF {
              margin: 0rem 0.2rem 0.2rem 0rem;
              width: 0.7rem;
              height: 0.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .trc-tuyn-Guf {
              line-height: 1.220703125;
              color: #9a9a9a;
              font-family: Calibri, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 300;
            }
          }
        }
        .icon-settings-1MT {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 3.1969rem;
          width: 1.4rem;
          height: 1.6031rem;
        }
      }
    }
    .auto-group-ygg1-8gy {
      position: absolute;
      left: 13.5rem;
      top: 29.1732rem;
      display: flex;
      align-items: flex-start;
      width: 55.9rem;
      height: 2.8rem;

      .xem-gn-y-TUM {
        font-family: Calibri, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 34.9rem;
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 1.220703125;
        color: #000000;
      }
      .c-hn-aYy {
        line-height: 1.220703125;
        color: #000000;
        font-family: Calibri, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 300;
      }
    }
    .auto-group-taws-WhX {
      position: absolute;
      left: 13.5rem;
      top: 32.7732rem;
      display: flex;
      align-items: center;
      width: 67.9rem;
      height: 8.3rem;

      .rectangle-196-3Bf {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3rem 1.5rem 0rem;
        width: 5.1rem;
        height: 6.8rem;
      }
      .n-ph-trang-k25-AGH {
        line-height: 1.220703125;
        color: #000000;
        font-family: Calibri, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 28.4rem 2.7rem 0rem;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 700;
        flex-shrink: 0;
      }
      .rectangle-202-sAh {
        margin: 1.5rem 3rem 0rem 0rem;
        width: 5.1rem;
        height: 6.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .n-nn-k24-P93 {
        margin-top: 0.3rem;
        cursor: pointer;
        line-height: 1.220703125;
        white-space: nowrap;
        font-size: 1.6rem;
        font-weight: 700;
        color: #000000;
        font-family: Calibri, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-iqrj-WDf {
      top: 61.7732rem;
      display: flex;
      align-items: center;
      width: 74.7rem;
      height: 8.3rem;
      position: absolute;
      left: 13.5rem;

      .rectangle-199-qWq {
        margin: 0rem 3rem 1.5rem 0rem;
        width: 5.1rem;
        height: 6.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .xong-mfP {
        font-weight: 700;
        font-family: Calibri, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 37.8rem 2.7rem 0rem;
        cursor: pointer;
        font-size: 1.6rem;
        line-height: 1.220703125;
        color: #000000;
        flex-shrink: 0;
      }
      .rectangle-203-gnM {
        margin: 1.5rem 3rem 0rem 0rem;
        width: 5.1rem;
        height: 6.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .n-ph-trang-k26-k27-cAD {
        flex-shrink: 0;
        margin-top: 0.3rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.220703125;
        color: #000000;
        font-family: Calibri, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-brzo-jVj {
      align-items: center;
      width: 69rem;
      height: 8.3rem;
      position: absolute;
      left: 13.5rem;
      top: 42.0732rem;
      display: flex;

      .rectangle-197-fPP {
        margin: 0rem 3rem 1.5rem 0rem;
        width: 5.1rem;
        height: 6.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .tin-tc-ma-hoa-bH3 {
        margin: 0rem 29.1rem 2.7rem 0rem;
        font-family: Calibri, 'Source Sans Pro';
        flex-shrink: 0;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.220703125;
        color: #000000;
        white-space: nowrap;
      }
      .rectangle-204-hL5 {
        margin: 1.5rem 3rem 0rem 0rem;
        width: 5.1rem;
        height: 6.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ngy-hnh-phc-dDj {
        margin-top: 0.3rem;
        cursor: pointer;
        color: #000000;
        font-family: Calibri, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.220703125;
      }
    }
    .auto-group-hy5f-kJM {
      align-items: center;
      width: 17.6rem;
      height: 6.8rem;
      position: absolute;
      left: 13.5rem;
      top: 71.0732rem;
      display: flex;

      .rectangle-200-tQZ {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3rem;
        width: 5.1rem;
        height: 6.8rem;
        object-fit: cover;
      }
      .nguch-ngoc-RfP {
        font-family: Calibri, 'Source Sans Pro';
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.220703125;
        color: #000000;
        margin-bottom: 1.2rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-ixvq-9rH {
      top: 51.9732rem;
      display: flex;
      align-items: center;
      width: 74.7rem;
      height: 8.3rem;
      position: absolute;
      left: 13.5rem;

      .rectangle-198-t3B {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3rem 1.5rem 0rem;
        width: 5.1rem;
        height: 6.8rem;
        object-fit: cover;
      }
      .lc-t-bnh-pBj {
        cursor: pointer;
        font-family: Calibri, 'Source Sans Pro';
        margin: 0rem 34.3rem 2.7rem 0rem;
        font-weight: 700;
        line-height: 1.220703125;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
      .rectangle-206-inu {
        margin: 1.5rem 3rem 0rem 0rem;
        width: 5.1rem;
        height: 6.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .n-ph-trang-k26-k27-465 {
        font-family: Calibri, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.3rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.220703125;
        color: #000000;
      }
    }
    .auto-group-jgx3-aq7 {
      display: flex;
      align-items: center;
      width: 20.3rem;
      height: 6.8rem;
      position: absolute;
      left: 13.5rem;
      top: 80.9732rem;

      .rectangle-201-7q3 {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3rem;
        width: 5.1rem;
        height: 6.8rem;
      }
      .ph-trang-k26-k27-fLm {
        margin-bottom: 1.2rem;
        font-size: 1.6rem;
        line-height: 1.220703125;
        font-family: Calibri, 'Source Sans Pro';
        flex-shrink: 0;
        cursor: pointer;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
      }
    }
    .auto-group-f5zy-B4D {
      color: #000000;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 4rem;
      top: 3.9732rem;
      font-weight: 700;
      padding-left: 0.2rem;
      display: flex;
      line-height: 1.25;
      position: absolute;
      width: 32.4rem;
      height: 5.8rem;
      left: 13.3rem;
      box-sizing: border-box;
    }
  }
  .footer-3MK {
    display: flex;
    flex-direction: column;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;
    width: 100%;
    align-items: center;

    .auto-group-hnp3-xUH {
      margin: 0rem 5.15rem 1.4rem 0rem;
      width: 131.2rem;
      height: 15.3rem;
      position: relative;
      flex-shrink: 0;

      .van-lang-fashion-5Yu {
        top: 0;
        font-size: 4.8rem;
        font-weight: 400;
        position: absolute;
        height: 15.3rem;
        left: 0;
        line-height: 1.2999999523;
        color: #ffffff;
        font-family: Calistoga, 'Source Sans Pro';
        width: 27rem;
      }
      .email-thoitrangvanlangvlueduvn-bGM {
        position: absolute;
        left: 31.8rem;
        top: 1.1rem;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.2102272727;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 38rem;
        height: 6.3rem;

        .email-thoitrangvanlangvlueduvn-bGM-sub-0 {
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
        }
        .email-thoitrangvanlangvlueduvn-bGM-sub-1 {
          font-weight: 500;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
        }
      }
      .h-tr-02812345678-Ths {
        left: 76rem;
        top: 1.1rem;
        width: 15.6rem;
        height: 6.3rem;
        position: absolute;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.2102272727;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';

        .h-tr-02812345678-Ths-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .h-tr-02812345678-Ths-sub-1 {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .line-14-QFj {
        position: absolute;
        left: 0;
        top: 12.7rem;
        background-color: #acacac;
        width: 131.2rem;
        height: 0.1rem;
      }
    }
    .auto-group-9hf7-8hX {
      margin: 0rem 0rem 0.1rem 0.15rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .lin-kt-GHw {
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 25.6rem 0.4rem 0rem;
        font-size: 2.2rem;
      }
      .theo-di-PNZ {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 16.3rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
      }
      .footer-7JZ {
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 75.2rem;
        font-size: 2rem;

        .footer-7JZ-sub-0 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .footer-7JZ-sub-1 {
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
    .auto-group-zbfo-fDb {
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);
      height: 8.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-qwdf-nJD {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 9rem;
        width: 26.6rem;

        .frame-11-87B {
          height: 4.4rem;
          top: 0;
          left: 0;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          width: 26.6rem;
          font-size: 2rem;
          font-weight: 500;
          color: #ffffff;
          display: flex;
          cursor: pointer;
          position: absolute;
          justify-content: center;
        }
        .frame-12-DuK {
          font-size: 2rem;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          justify-content: center;
          width: 8.2rem;
          white-space: nowrap;
          display: flex;
          line-height: 1.25;
          align-items: center;
          height: 4.4rem;
          cursor: pointer;
          left: 0.4rem;
          top: 3.7rem;
          position: absolute;
          font-weight: 500;
        }
      }
      .auto-group-b49p-v33 {
        width: 9.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-8-Fr1 {
          font-weight: 500;
          font-family: Quicksand, 'Source Sans Pro';
          justify-content: center;
          width: 9.3rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;
          line-height: 1.25;
          white-space: nowrap;
          height: 4.4rem;
          display: flex;
          align-items: center;
          font-size: 2rem;
          color: #ffffff;
        }
        .frame-9-Axy {
          left: 0;
          color: #ffffff;
          display: flex;
          align-items: center;
          position: absolute;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          cursor: pointer;
          font-size: 2rem;
          font-weight: 500;
          justify-content: center;
          width: 9.7rem;
          top: 3.7rem;
          height: 4.4rem;
        }
      }
    }
    .frame-10-UTs {
      font-size: 2rem;
      width: calc(100% - 129.95rem);
      cursor: pointer;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      height: 3.1rem;
      font-weight: 500;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
      margin: 0rem 94.35rem 3rem 35.6rem;
      color: #ffffff;
      flex-shrink: 0;
    }
    .line-15-mC5 {
      margin: 0rem 5.35rem 0.9rem 0rem;
      width: 131.2rem;
      height: 0.1rem;
      background-color: #acacac;
      flex-shrink: 0;
    }
    .van-lang-university-all-rights-reserved-6VF {
      font-weight: 300;
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 1.25rem;
      font-size: 2rem;
    }
  }
}
