
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.project-others-k23-xHX {
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .menu-Hah {
    padding: 1rem 14.611rem 0.948rem 13.5rem;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;

    .van-lang-fashion-P7w {
      max-width: 12.1915rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3;
      color: #ffffff;
      font-family: Calistoga, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 7.1085rem;
    }
    .frame-7-VRs {
      width: 11.5rem;
      align-items: center;
      margin: 0.3rem 5.05rem 0.352rem 0rem;
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      flex-shrink: 0;
      cursor: pointer;
      line-height: 1.25;
      color: #ffffff;
      white-space: nowrap;
      font-weight: 600;
      justify-content: center;
    }
    .frame-8-Mys {
      display: flex;
      justify-content: center;
      width: 7.8rem;
      white-space: nowrap;
      font-weight: 600;
      flex-shrink: 0;
      margin: 0.3rem 4.9rem 0.352rem 0rem;
      cursor: pointer;
      font-size: 2rem;
      align-items: center;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      height: calc(100% - 0.652rem);
      line-height: 1.25;
    }
    .frame-9-qe9 {
      font-family: Quicksand, 'Source Sans Pro';
      flex-shrink: 0;
      font-weight: 600;
      height: calc(100% - 0.652rem);
      width: 7.4rem;
      line-height: 1.25;
      color: #ffffff;
      white-space: nowrap;
      justify-content: center;
      font-size: 2rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      margin: 0.3rem 4.85rem 0.352rem 0rem;
    }
    .frame-10-XWy {
      margin: 0.3rem 5.1rem 0.352rem 0rem;
      font-weight: 600;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      height: calc(100% - 0.652rem);
      cursor: pointer;
      align-items: center;
      line-height: 1.25;
      width: 7.4rem;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
    }
    .frame-11-2Cq {
      color: #ffffff;
      justify-content: center;
      margin: 0.3rem 22rem 0.352rem 0rem;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      cursor: pointer;
      display: flex;
      white-space: nowrap;
      align-items: center;
      flex-shrink: 0;
      width: 11.6rem;
      font-weight: 600;
    }
    .icon-user-circle-alt-KBw {
      cursor: pointer;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.611rem 0.463rem 0rem;
      width: 3.1892rem;
      height: 3.1891rem;
    }
    .icon-search-dCd {
      flex-shrink: 0;
      margin-bottom: 0.4629rem;
      width: 3.1892rem;
      height: 3.1891rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-sveh-9gm {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8.2rem 13.5rem 7.4rem 13rem;
    width: 100%;
    align-items: center;
    display: flex;

    .heading-1-TxM {
      font-weight: 700;
      flex-shrink: 0;
      color: #000000;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 1rem 8.5rem;
      display: flex;
      font-size: 4rem;
      line-height: 1.25;
    }
    .n-nn-kha-k23-NJd {
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.220703125;
      font-size: 3.2rem;
      color: #000000;
      font-family: Calibri, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 1rem 10.2rem;
      display: flex;
    }
    .auto-group-s6g1-eX3 {
      height: 45rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 1.1rem 2.1rem 2.6rem;
      width: calc(100% - 3.7rem);

      .image-hover-xGq {
        position: absolute;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        width: 25rem;
        height: 31rem;
        top: 14rem;
        border-radius: 1rem;
        padding: 1rem;
        cursor: pointer;
        left: 0;

        .rectangle-139-H4D {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-ANu {
        box-sizing: border-box;
        left: 29.6rem;
        top: 13.7rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        padding: 1rem;
        width: 25rem;
        height: 31rem;
        cursor: pointer;
        position: absolute;
        border-radius: 1rem;

        .rectangle-139-gMF {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
        }
      }
      .image-hover-NUy {
        width: 25rem;
        cursor: pointer;
        left: 59.2rem;
        border-radius: 1rem;
        padding: 1rem;
        height: 31rem;
        position: absolute;
        top: 14rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;

        .rectangle-139-JdX {
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
        }
      }
      .image-hover-QgZ {
        border-radius: 1rem;
        box-sizing: border-box;
        height: 31rem;
        position: absolute;
        left: 88.8rem;
        top: 13.7rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        padding: 1rem;
        width: 25rem;
        cursor: pointer;

        .rectangle-139-YGy {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .khi-nhc-n-vn-lang-mi-ngi-thng-ngh-ti-ngay-nhng-bst-n-tt-nghip-c-s-u-t-chnh-chu-p-mt-v-khin-ngi-xem-phi-trm-tr-nhng-t-ai-bit-rng-ngoi-thit-k-thi-trang-th-sinh-vin-vn-lang-cn-c-nhng-n-thit-k-ph-kin-v-cng-hp-dn-di-y-l-mt-n-ca-sinh-vin-kho-25-ngnh-thit-k-thi-trang-3Dj {
        left: 7.8rem;
        top: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2102272034;
        width: 100.2rem;
        height: 12.7rem;
        position: absolute;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        color: #000000;
      }
    }
    .auto-group-m4mf-tdf {
      width: 100%;
      height: 64.7rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 16.9rem;

      .image-hover-Qc1 {
        border-radius: 1rem;
        box-sizing: border-box;
        width: 25rem;
        height: 31rem;
        cursor: pointer;
        position: absolute;
        left: 2.6rem;
        top: 0.3rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        padding: 1rem;

        .rectangle-139-8Y1 {
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .image-hover-qSR {
        box-sizing: border-box;
        padding: 1rem;
        height: 31rem;
        cursor: pointer;
        left: 32.2rem;
        border-radius: 1rem;
        width: 25rem;
        position: absolute;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .rectangle-139-NSM {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-5Lm {
        left: 61.8rem;
        border-radius: 1rem;
        padding: 1rem;
        width: 25rem;
        cursor: pointer;
        top: 0.3rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        height: 31rem;
        position: absolute;

        .rectangle-139-ba1 {
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .image-hover-tp1 {
        padding: 1rem;
        height: 31rem;
        position: absolute;
        box-sizing: border-box;
        cursor: pointer;
        left: 91.4rem;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        width: 25rem;

        .rectangle-139-2vD {
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
          object-fit: cover;
        }
      }
      .image-hover-8yF {
        position: absolute;
        left: 2.6rem;
        top: 33.7rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        box-sizing: border-box;
        width: 25rem;
        cursor: pointer;
        padding: 1rem;
        height: 31rem;

        .rectangle-139-fiH {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-BAq {
        box-sizing: border-box;
        left: 32.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        padding: 1rem;
        width: 25rem;
        height: 31rem;
        cursor: pointer;
        position: absolute;
        top: 33.4rem;
        border-radius: 1rem;

        .rectangle-139-iRf {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-Ray {
        box-sizing: border-box;
        width: 25rem;
        cursor: pointer;
        top: 33.7rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        padding: 1rem;
        height: 31rem;
        position: absolute;
        left: 61.8rem;
        border-radius: 1rem;

        .rectangle-139-ZhB {
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
        }
      }
      .image-hover-fVK {
        cursor: pointer;
        position: absolute;
        left: 91.4rem;
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 1rem;
        width: 25rem;
        height: 31rem;
        top: 33.4rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .rectangle-139-bds {
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
        }
      }
    }
    .group-25-u8m {
      margin: 0rem 39.4rem 0rem 41.1rem;
      white-space: nowrap;
      border-radius: 1rem;
      text-decoration-line: underline;
      align-items: center;
      height: 7.6rem;
      cursor: pointer;
      font-size: 3.2rem;
      font-family: Calibri, 'Source Sans Pro';
      background-color: #1f2251;
      font-weight: 700;
      line-height: 1.220703125;
      color: #ffffff;
      flex-shrink: 0;
      width: calc(100% - 80.5rem);
      display: flex;
      justify-content: center;
    }
  }
  .footer-8nD {
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;
    width: 144.2rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-ekrb-eEm {
      width: 131.2rem;
      height: 15.3rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 5.15rem 1.4rem 0rem;

      .van-lang-fashion-NAm {
        width: 27rem;
        height: 15.3rem;
        left: 0;
        top: 0;
        font-weight: 400;
        line-height: 1.2999999523;
        color: #ffffff;
        position: absolute;
        font-size: 4.8rem;
        font-family: Calistoga, 'Source Sans Pro';
      }
      .email-thoitrangvanlangvlueduvn-gSM {
        font-family: Inter, 'Source Sans Pro';
        width: 38rem;
        left: 31.8rem;
        font-size: 2.2rem;
        font-weight: 400;
        color: #ffffff;
        height: 6.3rem;
        position: absolute;
        top: 1.1rem;
        line-height: 1.2102272727;

        .email-thoitrangvanlangvlueduvn-gSM-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .email-thoitrangvanlangvlueduvn-gSM-sub-1 {
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2102272727;
        }
      }
      .h-tr-02812345678-9z9 {
        line-height: 1.2102272727;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        top: 1.1rem;
        font-size: 2.2rem;
        position: absolute;
        left: 76rem;
        font-weight: 400;
        width: 15.6rem;
        height: 6.3rem;

        .h-tr-02812345678-9z9-sub-0 {
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 700;
        }
        .h-tr-02812345678-9z9-sub-1 {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .line-14-hPP {
        top: 12.7rem;
        background-color: #acacac;
        width: 131.2rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
      }
    }
    .auto-group-4d1b-dH3 {
      margin: 0rem 0rem 0.1rem 0.15rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .lin-kt-ksT {
        flex-shrink: 0;
        margin: 0rem 25.6rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
      }
      .theo-di-rvV {
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 16.3rem 0.4rem 0rem;
        font-size: 2.2rem;
      }
      .footer-ykD {
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 75.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;

        .footer-ykD-sub-0 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .footer-ykD-sub-1 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
    }
    .auto-group-p41o-XfF {
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);
      height: 8.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-javw-EJm {
        position: relative;
        flex-shrink: 0;
        margin-right: 9rem;
        width: 26.6rem;
        height: 100%;

        .frame-11-Ay7 {
          position: absolute;
          display: flex;
          align-items: center;
          left: 0;
          font-size: 2rem;
          color: #ffffff;
          white-space: nowrap;
          width: 26.6rem;
          font-weight: 500;
          height: 4.4rem;
          cursor: pointer;
          top: 0;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          justify-content: center;
        }
        .frame-12-TxD {
          cursor: pointer;
          font-size: 2rem;
          display: flex;
          justify-content: center;
          position: absolute;
          left: 0.4rem;
          line-height: 1.25;
          top: 3.7rem;
          font-weight: 500;
          white-space: nowrap;
          align-items: center;
          width: 8.2rem;
          height: 4.4rem;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .auto-group-bvju-9q3 {
        width: 9.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-8-W9o {
          left: 0;
          font-weight: 500;
          align-items: center;
          justify-content: center;
          width: 9.3rem;
          height: 4.4rem;
          font-family: Quicksand, 'Source Sans Pro';
          display: flex;
          line-height: 1.25;
          color: #ffffff;
          white-space: nowrap;
          position: absolute;
          font-size: 2rem;
          cursor: pointer;
          top: 0;
        }
        .frame-9-bh3 {
          cursor: pointer;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          line-height: 1.25;
          display: flex;
          justify-content: center;
          left: 0;
          top: 3.7rem;
          font-size: 2rem;
          font-weight: 500;
          color: #ffffff;
          align-items: center;
          width: 9.7rem;
          height: 4.4rem;
          position: absolute;
        }
      }
    }
    .frame-10-Hpm {
      height: 3.1rem;
      justify-content: center;
      font-weight: 500;
      color: #ffffff;
      display: flex;
      margin: 0rem 94.35rem 3rem 35.6rem;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      flex-shrink: 0;
      width: calc(100% - 129.95rem);
      cursor: pointer;
      font-size: 2rem;
    }
    .line-15-ZnH {
      width: 131.2rem;
      height: 0.1rem;
      background-color: #acacac;
      flex-shrink: 0;
      margin: 0rem 5.35rem 0.9rem 0rem;
    }
    .van-lang-university-all-rights-reserved-HyB {
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 1.25rem;
    }
  }
}
