
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.project-wtm {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .menu-h7F {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 14.611rem 0.948rem 13.5rem;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    background-color: #1f2251;

    .van-lang-fashion-Bo7 {
      max-width: 12.1915rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3;
      color: #ffffff;
      font-family: Calistoga, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 7.1085rem;
    }
    .frame-7-VJ1 {
      font-weight: 600;
      flex-shrink: 0;
      width: 11.5rem;
      cursor: pointer;
      font-size: 2rem;
      justify-content: center;
      height: calc(100% - 0.652rem);
      color: #ffffff;
      align-items: center;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      margin: 0.3rem 5.05rem 0.352rem 0rem;
      white-space: nowrap;
      display: flex;
    }
    .frame-8-kzd {
      margin: 0.3rem 4.9rem 0.352rem 0rem;
      line-height: 1.25;
      height: calc(100% - 0.652rem);
      cursor: pointer;
      font-weight: 600;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      width: 7.8rem;
      font-size: 2rem;
      display: flex;
      flex-shrink: 0;
    }
    .frame-9-SW5 {
      height: calc(100% - 0.652rem);
      margin: 0.3rem 4.85rem 0.352rem 0rem;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      width: 7.4rem;
      cursor: pointer;
      font-weight: 600;
      line-height: 1.25;
      color: #ffffff;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
    }
    .frame-10-XnR {
      width: 7.4rem;
      white-space: nowrap;
      display: flex;
      cursor: pointer;
      font-weight: 600;
      color: #ffffff;
      margin: 0.3rem 5.1rem 0.352rem 0rem;
      line-height: 1.25;
      justify-content: center;
      flex-shrink: 0;
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
    }
    .frame-11-2UH {
      font-family: Quicksand, 'Source Sans Pro';
      font-size: 2rem;
      line-height: 1.25;
      color: #ffffff;
      justify-content: center;
      margin: 0.3rem 22rem 0.352rem 0rem;
      width: 11.6rem;
      height: calc(100% - 0.652rem);
      white-space: nowrap;
      display: flex;
      cursor: pointer;
      font-weight: 600;
      align-items: center;
      flex-shrink: 0;
    }
    .icon-user-circle-alt-7Vj {
      width: 3.1892rem;
      height: 3.1891rem;
      cursor: pointer;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.611rem 0.463rem 0rem;
    }
    .icon-search-26u {
      margin-bottom: 0.4629rem;
      width: 3.1892rem;
      height: 3.1891rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-3avd-wUm {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 260.7rem;

    .b-su-tp-khc-sdK {
      font-weight: 700;
      line-height: 1.220703125;
      color: #000000;
      height: 4.4rem;
      position: absolute;
      left: 13.4rem;
      top: 197.8rem;
      display: flex;
      font-family: Calibri, 'Source Sans Pro';
      white-space: nowrap;
      width: 24rem;
      font-size: 3.6rem;
    }
    .nm-2023-kha-k25tt-M2h {
      cursor: pointer;
      position: absolute;
      left: 13.9rem;
      font-weight: 400;
      font-family: Calibri, 'Source Sans Pro';
      white-space: nowrap;
      color: #000000;
      width: 23.4rem;
      height: 2.9rem;
      top: 26.4rem;
      display: flex;
      font-size: 2.4rem;
      line-height: 1.220703125;
    }
    .nm-2022-kha-k24tt-qCm {
      font-size: 2.4rem;
      line-height: 1.220703125;
      color: #000000;
      font-family: Calibri, 'Source Sans Pro';
      height: 2.9rem;
      cursor: pointer;
      display: flex;
      top: 113.6rem;
      font-weight: 400;
      white-space: nowrap;
      width: 23.4rem;
      position: absolute;
      left: 13.9rem;
    }
    .n-nn-inM {
      display: flex;
      font-weight: 400;
      line-height: 1.220703125;
      white-space: nowrap;
      width: 13.8rem;
      position: absolute;
      top: 205.1rem;
      font-size: 3.2rem;
      color: #000000;
      font-family: Calibri, 'Source Sans Pro';
      height: 3.9rem;
      cursor: pointer;
      left: 13.9rem;
    }
    .xem-thm-q6H {
      cursor: pointer;
      left: 67.9rem;
      top: 105.5rem;
      font-weight: 300;
      text-decoration-line: underline;
      font-family: Calibri, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.7rem;
      position: absolute;
      font-size: 1.4rem;
      line-height: 1.220703125;
      color: #000000;
      width: 5.8rem;
    }
    .xem-thm-jSZ {
      left: 68.2rem;
      font-size: 1.4rem;
      font-family: Calibri, 'Source Sans Pro';
      width: 5.8rem;
      height: 1.7rem;
      top: 195rem;
      font-weight: 300;
      line-height: 1.220703125;
      text-decoration-line: underline;
      color: #000000;
      white-space: nowrap;
      cursor: pointer;
      position: absolute;
    }
    .auto-group-sz5x-3TF {
      width: 86.7rem;
      height: 33rem;
      position: absolute;
      left: 28.4rem;
      top: 31.7rem;
      display: flex;
      align-items: center;

      .component-5-ZwP {
        margin-right: 9.5rem;
        box-sizing: border-box;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        width: 22rem;
        cursor: pointer;

        .rectangle-152-fjX {
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
        }
        .name-project-PQd {
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
        }
        .student-name-student-u85 {
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
        }
      }
      .component-17-Lz5 {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 11.2rem;
        width: 22rem;
        height: 100%;
        cursor: pointer;
        position: relative;

        .student-name-student-UqP {
          white-space: nowrap;
          width: 9.3rem;
          top: 29.9rem;
          font-family: Calibri, 'Source Sans Pro';
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          height: 1.6rem;
          position: absolute;
          left: 1.3rem;
        }
        .rectangle-152-z33 {
          height: 25.8rem;
          position: absolute;
          left: 1.1rem;
          top: 0.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
        }
        .name-project-JZX {
          width: 7.4rem;
          position: absolute;
          left: 1.3rem;
          color: #000000;
          white-space: nowrap;
          height: 1.7rem;
          top: 27.9rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          font-family: Calibri, 'Source Sans Pro';
        }
      }
      .component-18-juj {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        width: 22rem;
        height: 100%;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;

        .rectangle-152-SZF {
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          margin-bottom: 1.3rem;
        }
        .name-project-AVF {
          white-space: nowrap;
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
        }
        .student-name-student-5s7 {
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 1.3rem;
          font-weight: 400;
        }
      }
    }
    .auto-group-rjkr-Mpd {
      left: 28.3rem;
      top: 68.1rem;
      display: flex;
      align-items: center;
      width: 86.7rem;
      height: 33rem;
      position: absolute;

      .component-19-VA9 {
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        width: 22rem;
        height: 100%;
        cursor: pointer;
        border-radius: 1rem;
        box-sizing: border-box;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        flex-shrink: 0;
        margin-right: 9.5rem;

        .rectangle-152-Qnu {
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
        }
        .name-project-LgZ {
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
        }
        .student-name-student-sAh {
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
        }
      }
      .component-20-jyb {
        margin-right: 11.2rem;
        width: 22rem;
        height: 100%;
        cursor: pointer;
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;

        .student-name-student-5nZ {
          width: 9.3rem;
          height: 1.6rem;
          position: absolute;
          left: 1.3rem;
          font-size: 1.3rem;
          font-weight: 400;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          top: 29.9rem;
          line-height: 1.220703125;
          color: #000000;
        }
        .rectangle-152-Bqb {
          left: 1.1rem;
          top: 0.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
          height: 25.8rem;
          position: absolute;
        }
        .name-project-7DT {
          position: absolute;
          left: 1.3rem;
          font-size: 1.4rem;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.7rem;
          top: 27.9rem;
          font-weight: 300;
          line-height: 1.220703125;
          width: 8.3rem;
        }
      }
      .component-21-xE5 {
        border-radius: 1rem;
        flex-shrink: 0;
        width: 22rem;
        height: 100%;
        cursor: pointer;
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);

        .student-name-student-Vzh {
          white-space: nowrap;
          position: absolute;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
          font-family: Calibri, 'Source Sans Pro';
          width: 8.6rem;
          height: 1.6rem;
          left: 1.3rem;
          top: 29.9rem;
          color: #000000;
        }
        .rectangle-152-c3j {
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
          height: 25.8rem;
          position: absolute;
          left: 1.1rem;
          top: 0.8rem;
          object-fit: cover;
        }
        .name-project-8Xs {
          width: 8.3rem;
          height: 1.7rem;
          left: 1.3rem;
          top: 27.9rem;
          font-size: 1.4rem;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          font-weight: 300;
          line-height: 1.220703125;
        }
      }
    }
    .auto-group-b54m-bAZ {
      width: 86.7rem;
      height: 33rem;
      position: absolute;
      left: 28.6rem;
      top: 213.8rem;
      display: flex;
      align-items: center;

      .component-28-WYR {
        height: 100%;
        cursor: pointer;
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 9.5rem;
        width: 22rem;

        .student-name-student-Fku {
          color: #000000;
          white-space: nowrap;
          width: 7.1rem;
          height: 1.6rem;
          position: absolute;
          top: 29.9rem;
          font-weight: 400;
          left: 1.3rem;
          font-size: 1.3rem;
          line-height: 1.220703125;
          font-family: Calibri, 'Source Sans Pro';
        }
        .rectangle-152-Acy {
          left: 1.1rem;
          top: 0.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
          height: 25.8rem;
          position: absolute;
        }
        .name-project-HxV {
          position: absolute;
          font-size: 1.4rem;
          font-weight: 300;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          width: 9.3rem;
          height: 1.7rem;
          left: 1.3rem;
          top: 27.9rem;
          line-height: 1.220703125;
          white-space: nowrap;
        }
      }
      .component-29-kbB {
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 11.2rem;
        width: 22rem;
        height: 100%;
        cursor: pointer;

        .student-name-student-J6u {
          position: absolute;
          left: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
          height: 1.6rem;
          top: 29.9rem;
          font-size: 1.3rem;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          width: 7.1rem;
        }
        .rectangle-152-opM {
          left: 1.1rem;
          top: 0.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
          height: 25.8rem;
          position: absolute;
        }
        .name-project-LJV {
          top: 27.9rem;
          font-size: 1.4rem;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          height: 1.7rem;
          position: absolute;
          font-weight: 300;
          line-height: 1.220703125;
          white-space: nowrap;
          width: 9.3rem;
          left: 1.3rem;
        }
      }
      .component-30-TnR {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        width: 22rem;
        height: 100%;
        cursor: pointer;
        position: relative;

        .student-name-student-Qhf {
          height: 1.6rem;
          top: 29.9rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          width: 7.1rem;
          position: absolute;
          left: 1.3rem;
          font-size: 1.3rem;
          line-height: 1.220703125;
          font-family: Calibri, 'Source Sans Pro';
        }
        .rectangle-152-hwf {
          position: absolute;
          left: 1.1rem;
          top: 0.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
          height: 25.8rem;
        }
        .name-project-Rcm {
          top: 27.9rem;
          font-weight: 300;
          line-height: 1.220703125;
          font-family: Calibri, 'Source Sans Pro';
          width: 6.3rem;
          height: 1.7rem;
          left: 1.3rem;
          white-space: nowrap;
          position: absolute;
          font-size: 1.4rem;
          color: #000000;
        }
      }
    }
    .auto-group-u4d7-GdP {
      width: 86.7rem;
      height: 33rem;
      position: absolute;
      left: 28.7rem;
      top: 119.2rem;
      display: flex;
      align-items: center;

      .component-28-15B {
        cursor: pointer;
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 9.5rem;
        width: 22rem;
        height: 100%;

        .student-name-student-kHf {
          font-size: 1.3rem;
          font-weight: 400;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.6rem;
          position: absolute;
          top: 29.9rem;
          line-height: 1.220703125;
          width: 9.1rem;
          left: 1.3rem;
        }
        .rectangle-152-rbb {
          left: 1.1rem;
          top: 0.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
          height: 25.8rem;
          position: absolute;
        }
        .name-project-miZ {
          position: absolute;
          top: 27.9rem;
          line-height: 1.220703125;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          width: 9.5rem;
          height: 1.7rem;
          left: 1.3rem;
          font-size: 1.4rem;
          font-weight: 300;
          color: #000000;
        }
      }
      .component-30-DaZ {
        box-sizing: border-box;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        flex-shrink: 0;
        margin-right: 11.2rem;
        cursor: pointer;
        border-radius: 1rem;
        width: 22rem;

        .rectangle-152-LfB {
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
        }
        .name-project-G33 {
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.3rem 0.2rem;
        }
        .student-name-student-n1P {
          margin-left: 0.2rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .component-32-S5w {
        width: 22rem;
        height: 100%;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 1rem 1.5rem 1.1rem;

        .rectangle-152-k6d {
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
        }
        .name-project-58u {
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
        }
        .student-name-student-bsw {
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 1.3rem;
          font-weight: 400;
        }
      }
    }
    .auto-group-pw7j-geV {
      left: 28.6rem;
      top: 155.6rem;
      display: flex;
      align-items: center;
      width: 86.7rem;
      height: 33rem;
      position: absolute;

      .component-29-d3w {
        margin-right: 9.5rem;
        box-sizing: border-box;
        width: 22rem;
        border-radius: 1rem;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        height: 100%;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        flex-shrink: 0;

        .rectangle-152-YRo {
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
        }
        .name-project-UaM {
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.3rem 0.2rem;
        }
        .student-name-student-Me9 {
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
        }
      }
      .component-31-amo {
        box-sizing: border-box;
        height: 100%;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 11.2rem;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        width: 22rem;

        .rectangle-152-hbX {
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
        }
        .name-project-E5f {
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
        }
        .student-name-student-jo7 {
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
        }
      }
      .component-33-21X {
        width: 22rem;
        height: 100%;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 1rem 1.5rem 1.1rem;

        .rectangle-152-wuB {
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
        }
        .name-project-t3j {
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
        }
        .student-name-student-QGy {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
        }
      }
    }
    .auto-group-jhwo-swF {
      height: 5.7rem;
      position: absolute;
      font-weight: 700;
      white-space: nowrap;
      width: 39.6rem;
      top: 6.8rem;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      color: #000000;
      box-sizing: border-box;
      padding-top: 0.7rem;
      left: 13.4rem;
      font-size: 4rem;
    }
    .heading-3-kEM {
      top: 17.4rem;
      display: flex;
      font-size: 3.2rem;
      font-weight: 500;
      color: #000000;
      width: 36.8rem;
      position: absolute;
      left: 13.5rem;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      height: 4rem;
    }
  }
  .footer-FS1 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;
    width: 144.2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #1f2251;

    .auto-group-qa57-m9T {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 5.15rem 1.4rem 0rem;
      width: 131.2rem;
      height: 15.3rem;

      .van-lang-fashion-gGR {
        height: 15.3rem;
        position: absolute;
        left: 0;
        font-size: 4.8rem;
        line-height: 1.2999999523;
        width: 27rem;
        top: 0;
        font-weight: 400;
        color: #ffffff;
        font-family: Calistoga, 'Source Sans Pro';
      }
      .email-thoitrangvanlangvlueduvn-b8V {
        position: absolute;
        font-size: 2.2rem;
        color: #ffffff;
        width: 38rem;
        height: 6.3rem;
        left: 31.8rem;
        top: 1.1rem;
        font-weight: 400;
        line-height: 1.2102272727;
        font-family: Inter, 'Source Sans Pro';

        .email-thoitrangvanlangvlueduvn-b8V-sub-0 {
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
        }
        .email-thoitrangvanlangvlueduvn-b8V-sub-1 {
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .h-tr-02812345678-4AV {
        font-family: Inter, 'Source Sans Pro';
        height: 6.3rem;
        position: absolute;
        left: 76rem;
        font-weight: 400;
        line-height: 1.2102272727;
        color: #ffffff;
        width: 15.6rem;
        top: 1.1rem;
        font-size: 2.2rem;

        .h-tr-02812345678-4AV-sub-0 {
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
        }
        .h-tr-02812345678-4AV-sub-1 {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .line-14-1jw {
        width: 131.2rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 12.7rem;
        background-color: #acacac;
      }
    }
    .auto-group-ngp3-kBj {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 0.1rem 0.15rem;
      display: flex;

      .lin-kt-Gfs {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 25.6rem 0.4rem 0rem;
      }
      .theo-di-awT {
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 16.3rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
      }
      .footer-uiq {
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 75.2rem;
        font-size: 2rem;
        font-weight: 400;

        .footer-uiq-sub-0 {
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
        }
        .footer-uiq-sub-1 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
    }
    .auto-group-7nws-rnV {
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);
      height: 8.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-eugu-CLZ {
        margin-right: 9rem;
        width: 26.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-11-wow {
          top: 0;
          font-weight: 500;
          height: 4.4rem;
          left: 0;
          font-size: 2rem;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          cursor: pointer;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          width: 26.6rem;
        }
        .frame-12-dwf {
          width: 8.2rem;
          position: absolute;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          justify-content: center;
          top: 3.7rem;
          line-height: 1.25;
          white-space: nowrap;
          height: 4.4rem;
          left: 0.4rem;
          font-weight: 500;
          display: flex;
          cursor: pointer;
          font-size: 2rem;
          align-items: center;
        }
      }
      .auto-group-5fah-8dX {
        width: 9.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-8-HFX {
          cursor: pointer;
          top: 0;
          line-height: 1.25;
          color: #ffffff;
          left: 0;
          font-weight: 500;
          justify-content: center;
          width: 9.3rem;
          font-size: 2rem;
          display: flex;
          align-items: center;
          height: 4.4rem;
          position: absolute;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
        }
        .frame-9-ni5 {
          height: 4.4rem;
          white-space: nowrap;
          font-family: Quicksand, 'Source Sans Pro';
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          font-weight: 500;
          color: #ffffff;
          width: 9.7rem;
          line-height: 1.25;
          left: 0;
          top: 3.7rem;
          cursor: pointer;
          position: absolute;
        }
      }
    }
    .frame-10-tWD {
      height: 3.1rem;
      font-family: Quicksand, 'Source Sans Pro';
      width: calc(100% - 129.95rem);
      font-size: 2rem;
      font-weight: 500;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 94.35rem 3rem 35.6rem;
      cursor: pointer;
      line-height: 1.25;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .line-15-ma1 {
      background-color: #acacac;
      flex-shrink: 0;
      margin: 0rem 5.35rem 0.9rem 0rem;
      width: 131.2rem;
      height: 0.1rem;
    }
    .van-lang-university-all-rights-reserved-J49 {
      margin-left: 1.25rem;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
