
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.projectchuadangnhap-y61 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .menu-h21 {
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 14.611rem 0.948rem 13.5rem;

    .van-lang-fashion-zG1 {
      margin-right: 7.1084rem;
      max-width: 12.1916rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3;
      color: #ffffff;
      font-family: Calistoga, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .frame-7-VTf {
      cursor: pointer;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      margin: 0.3rem 5.05rem 0.352rem 0rem;
      font-size: 2rem;
      line-height: 1.25;
      color: #ffffff;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 11.5rem;
      height: calc(100% - 0.652rem);
      font-weight: 600;
    }
    .frame-8-wqT {
      font-size: 2rem;
      line-height: 1.25;
      color: #ffffff;
      justify-content: center;
      cursor: pointer;
      white-space: nowrap;
      width: 7.8rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0.3rem 4.9rem 0.352rem 0rem;
      height: calc(100% - 0.652rem);
      font-family: Quicksand, 'Source Sans Pro';
    }
    .frame-9-dTP {
      cursor: pointer;
      font-weight: 600;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      justify-content: center;
      width: 7.4rem;
      height: calc(100% - 0.652rem);
      white-space: nowrap;
      align-items: center;
      display: flex;
      line-height: 1.25;
      flex-shrink: 0;
      margin: 0.3rem 4.85rem 0.352rem 0rem;
      font-size: 2rem;
    }
    .frame-10-vSV {
      margin: 0.3rem 5.1rem 0.352rem 0rem;
      align-items: center;
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 600;
      color: #ffffff;
      width: 7.4rem;
      line-height: 1.25;
      white-space: nowrap;
      display: flex;
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      font-family: Quicksand, 'Source Sans Pro';
      justify-content: center;
    }
    .frame-11-1yj {
      height: calc(100% - 0.652rem);
      margin: 0.3rem 22rem 0.352rem 0rem;
      width: 11.6rem;
      cursor: pointer;
      color: #ffffff;
      display: flex;
      justify-content: center;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      flex-shrink: 0;
    }
    .icon-user-circle-alt-6VP {
      cursor: pointer;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.611rem 0.463rem 0rem;
      width: 3.1891rem;
      height: 3.1891rem;
    }
    .icon-search-CYR {
      width: 3.1891rem;
      height: 3.1891rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.4629rem;
    }
  }
  .auto-group-1mvb-vUR {
    width: 100%;
    height: 260.7rem;
    position: relative;
    flex-shrink: 0;

    .nhng-b-su-tp-ni-bt-TUM {
      position: absolute;
      line-height: 1.220703125;
      white-space: nowrap;
      width: 34.3rem;
      height: 3.9rem;
      left: 13.9rem;
      top: 17.5rem;
      display: flex;
      font-size: 3.2rem;
      font-weight: 700;
      color: #000000;
      font-family: Calibri, 'Source Sans Pro';
    }
    .b-su-tp-khc-Xj7 {
      width: 24rem;
      left: 13.4rem;
      top: 197.8rem;
      font-weight: 700;
      line-height: 1.220703125;
      color: #000000;
      white-space: nowrap;
      height: 4.4rem;
      position: absolute;
      display: flex;
      font-size: 3.6rem;
      font-family: Calibri, 'Source Sans Pro';
    }
    .nm-2023-kha-k25tt-d1T {
      display: flex;
      color: #000000;
      line-height: 1.220703125;
      width: 23.4rem;
      height: 2.9rem;
      position: absolute;
      left: 13.9rem;
      top: 26.4rem;
      font-size: 2.4rem;
      font-weight: 400;
      font-family: Calibri, 'Source Sans Pro';
      white-space: nowrap;
    }
    .nm-2022-kha-k24tt-iYh {
      position: absolute;
      left: 13.9rem;
      display: flex;
      font-weight: 400;
      height: 2.9rem;
      cursor: pointer;
      top: 113.6rem;
      font-size: 2.4rem;
      line-height: 1.220703125;
      color: #000000;
      font-family: Calibri, 'Source Sans Pro';
      white-space: nowrap;
      width: 23.4rem;
    }
    .n-nn-DVT {
      font-family: Calibri, 'Source Sans Pro';
      width: 13.8rem;
      left: 13.9rem;
      top: 205.1rem;
      display: flex;
      font-weight: 400;
      line-height: 1.220703125;
      color: #000000;
      height: 3.9rem;
      cursor: pointer;
      position: absolute;
      font-size: 3.2rem;
      white-space: nowrap;
    }
    .auto-group-hfn9-e4y {
      display: flex;
      align-items: center;
      width: 100rem;
      height: 5rem;
      position: absolute;
      left: 13.4rem;
      top: 7rem;

      .heading-1-Zhj {
        flex-shrink: 0;
        display: flex;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.25;
        color: #000000;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-qkhb-Htd {
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 8.2rem;

        .frame-13-377 {
          height: 4.4rem;
          color: #000000;
          justify-content: center;
          flex-shrink: 0;
          width: 16.7rem;
          font-weight: 300;
          display: flex;
          align-items: center;
          cursor: pointer;
          white-space: nowrap;
          margin-right: 4.3rem;
          line-height: 1.220703125;
          font-family: Calibri, 'Source Sans Pro';
          font-size: 2rem;
        }
        .frame-14-YJm {
          font-family: Calibri, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 2rem;
          height: 4.4rem;
          align-items: center;
          width: 15.5rem;
          cursor: pointer;
          line-height: 1.220703125;
          white-space: nowrap;
          justify-content: center;
          margin-right: 4.8rem;
          color: #000000;
          display: flex;
          font-weight: 300;
        }
        .frame-15-r4Z {
          font-weight: 300;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          height: 4.4rem;
          cursor: pointer;
          line-height: 1.220703125;
          color: #000000;
          justify-content: center;
          width: 10.9rem;
          font-size: 2rem;
        }
      }
    }
    .auto-group-gy1t-ZUm {
      position: absolute;
      left: 28.4rem;
      top: 31.7rem;
      display: flex;
      align-items: center;
      width: 86.7rem;
      height: 33rem;

      .component-5-VdK {
        margin-right: 9.5rem;
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        width: 22rem;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;

        .rectangle-152-otu {
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          margin-bottom: 1.3rem;
        }
        .name-project-KcM {
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
        }
        .student-name-student-qKo {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
        }
      }
      .component-17-5jw {
        margin-right: 11.2rem;
        width: 22rem;
        height: 100%;
        cursor: pointer;
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;

        .student-name-student-Dr9 {
          position: absolute;
          top: 29.9rem;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          width: 9.3rem;
          left: 1.3rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          height: 1.6rem;
        }
        .rectangle-152-vEm {
          top: 0.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
          height: 25.8rem;
          position: absolute;
          left: 1.1rem;
        }
        .name-project-dQ5 {
          height: 1.7rem;
          top: 27.9rem;
          font-size: 1.4rem;
          color: #000000;
          width: 7.4rem;
          position: absolute;
          left: 1.3rem;
          font-weight: 300;
          line-height: 1.220703125;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .component-18-HDj {
        box-sizing: border-box;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        width: 22rem;
        height: 100%;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;

        .rectangle-152-QJM {
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          margin-bottom: 1.3rem;
        }
        .name-project-Xds {
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
        }
        .student-name-student-rAM {
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 1.3rem;
        }
      }
    }
    .auto-group-rxhb-XGV {
      display: flex;
      align-items: center;
      width: 86.7rem;
      height: 33rem;
      position: absolute;
      left: 28.3rem;
      top: 68.1rem;

      .component-19-f7o {
        flex-shrink: 0;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        cursor: pointer;
        border-radius: 1rem;
        margin-right: 9.5rem;
        box-sizing: border-box;
        width: 22rem;

        .rectangle-152-Bbw {
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
        }
        .name-project-v3j {
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.3rem 0.2rem;
        }
        .student-name-student-eEd {
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
        }
      }
      .component-20-uAZ {
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 11.2rem;
        width: 22rem;
        height: 100%;
        cursor: pointer;

        .student-name-student-qa1 {
          height: 1.6rem;
          position: absolute;
          left: 1.3rem;
          white-space: nowrap;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          width: 9.3rem;
          top: 29.9rem;
          font-size: 1.3rem;
          font-weight: 400;
        }
        .rectangle-152-wd3 {
          position: absolute;
          left: 1.1rem;
          top: 0.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
          height: 25.8rem;
        }
        .name-project-4Sm {
          height: 1.7rem;
          position: absolute;
          left: 1.3rem;
          font-weight: 300;
          font-family: Calibri, 'Source Sans Pro';
          width: 8.3rem;
          top: 27.9rem;
          font-size: 1.4rem;
          line-height: 1.220703125;
          color: #000000;
          white-space: nowrap;
        }
      }
      .component-21-7fw {
        width: 22rem;
        height: 100%;
        cursor: pointer;
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;

        .student-name-student-GYq {
          white-space: nowrap;
          position: absolute;
          font-size: 1.3rem;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          font-weight: 400;
          line-height: 1.220703125;
          width: 8.6rem;
          height: 1.6rem;
          left: 1.3rem;
          top: 29.9rem;
        }
        .rectangle-152-BQu {
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
          height: 25.8rem;
          position: absolute;
          left: 1.1rem;
          top: 0.8rem;
          object-fit: cover;
        }
        .name-project-Jtq {
          white-space: nowrap;
          width: 8.3rem;
          font-size: 1.4rem;
          font-weight: 300;
          font-family: Calibri, 'Source Sans Pro';
          line-height: 1.220703125;
          color: #000000;
          height: 1.7rem;
          position: absolute;
          left: 1.3rem;
          top: 27.9rem;
        }
      }
    }
    .auto-group-krq1-xCh {
      height: 33rem;
      position: absolute;
      left: 28.6rem;
      top: 213.8rem;
      display: flex;
      align-items: center;
      width: 86.7rem;

      .component-28-saZ {
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 9.5rem;
        width: 22rem;
        height: 100%;
        cursor: pointer;

        .student-name-student-DPX {
          height: 1.6rem;
          font-size: 1.3rem;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          width: 7.1rem;
          left: 1.3rem;
          top: 29.9rem;
          font-weight: 400;
          white-space: nowrap;
          position: absolute;
        }
        .rectangle-152-KSZ {
          height: 25.8rem;
          position: absolute;
          left: 1.1rem;
          top: 0.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
        }
        .name-project-EJd {
          top: 27.9rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          width: 9.3rem;
          position: absolute;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.7rem;
          left: 1.3rem;
        }
      }
      .component-29-t8H {
        margin-right: 11.2rem;
        width: 22rem;
        height: 100%;
        cursor: pointer;
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;

        .student-name-student-cpy {
          white-space: nowrap;
          position: absolute;
          font-weight: 400;
          font-family: Calibri, 'Source Sans Pro';
          top: 29.9rem;
          font-size: 1.3rem;
          line-height: 1.220703125;
          color: #000000;
          width: 7.1rem;
          height: 1.6rem;
          left: 1.3rem;
        }
        .rectangle-152-vKs {
          height: 25.8rem;
          position: absolute;
          left: 1.1rem;
          top: 0.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
        }
        .name-project-S3K {
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          width: 9.3rem;
          height: 1.7rem;
          position: absolute;
          left: 1.3rem;
          top: 27.9rem;
          white-space: nowrap;
        }
      }
      .component-30-gTT {
        cursor: pointer;
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        width: 22rem;
        height: 100%;

        .student-name-student-EUy {
          width: 7.1rem;
          position: absolute;
          font-size: 1.3rem;
          line-height: 1.220703125;
          color: #000000;
          white-space: nowrap;
          height: 1.6rem;
          left: 1.3rem;
          top: 29.9rem;
          font-weight: 400;
          font-family: Calibri, 'Source Sans Pro';
        }
        .rectangle-152-9M3 {
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
          height: 25.8rem;
          position: absolute;
          left: 1.1rem;
          top: 0.8rem;
        }
        .name-project-GAm {
          width: 6.3rem;
          position: absolute;
          top: 27.9rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          height: 1.7rem;
          left: 1.3rem;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-gtg9-Wqo {
      width: 86.7rem;
      height: 33rem;
      position: absolute;
      left: 28.7rem;
      top: 119.2rem;
      display: flex;
      align-items: center;

      .component-28-SzM {
        width: 22rem;
        height: 100%;
        cursor: pointer;
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 9.5rem;

        .student-name-student-Peh {
          font-family: Calibri, 'Source Sans Pro';
          width: 9.1rem;
          position: absolute;
          top: 29.9rem;
          font-size: 1.3rem;
          color: #000000;
          white-space: nowrap;
          height: 1.6rem;
          left: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
        }
        .rectangle-152-hvH {
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
          height: 25.8rem;
          position: absolute;
          left: 1.1rem;
          top: 0.8rem;
        }
        .name-project-2Sm {
          top: 27.9rem;
          font-size: 1.4rem;
          font-weight: 300;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 1.3rem;
          line-height: 1.220703125;
          color: #000000;
          width: 9.5rem;
          height: 1.7rem;
        }
      }
      .component-30-gXK {
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        cursor: pointer;
        margin-right: 11.2rem;
        width: 22rem;

        .rectangle-152-1Jh {
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
        }
        .name-project-wCM {
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
        }
        .student-name-student-rq7 {
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 1.3rem;
        }
      }
      .component-32-8nd {
        box-sizing: border-box;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        width: 22rem;
        height: 100%;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;

        .rectangle-152-G89 {
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
        }
        .name-project-bRK {
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
        }
        .student-name-student-8RF {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
        }
      }
    }
    .auto-group-lfqk-Cvu {
      height: 33rem;
      position: absolute;
      left: 28.6rem;
      top: 155.6rem;
      display: flex;
      align-items: center;
      width: 86.7rem;

      .component-29-jR3 {
        margin-right: 9.5rem;
        box-sizing: border-box;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        width: 22rem;
        cursor: pointer;

        .rectangle-152-FuB {
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
        }
        .name-project-nPK {
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
        }
        .student-name-student-iGy {
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 1.3rem;
        }
      }
      .component-31-BAZ {
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        margin-right: 11.2rem;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        cursor: pointer;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 22rem;

        .rectangle-152-tKs {
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
        }
        .name-project-cmf {
          white-space: nowrap;
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
        }
        .student-name-student-YfK {
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 1.3rem;
          font-weight: 400;
        }
      }
      .component-33-2aV {
        height: 100%;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        width: 22rem;

        .rectangle-152-Z4d {
          border-radius: 1rem 1rem 0 0;
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
          vertical-align: top;
        }
        .name-project-sr1 {
          white-space: nowrap;
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
        }
        .student-name-student-D9B {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
        }
      }
    }
    .thng-bo-ng-nhp-Gt9 {
      height: 1.7rem;
      position: absolute;
      color: #000000;
      justify-content: center;
      display: flex;
      align-items: center;
      cursor: pointer;
      top: 249.1rem;
      line-height: 1.220703125;
      text-decoration-line: underline;
      white-space: nowrap;
      width: 5.8rem;
      left: 69.1rem;
      font-weight: 300;
      font-size: 1.4rem;
      font-family: Calibri, 'Source Sans Pro';
    }
    .thng-bo-ng-nhp-Lt1 {
      left: 69.1rem;
      top: 191.1rem;
      font-size: 1.4rem;
      line-height: 1.220703125;
      justify-content: center;
      white-space: nowrap;
      display: flex;
      align-items: center;
      width: 5.8rem;
      height: 1.7rem;
      position: absolute;
      text-decoration-line: underline;
      font-family: Calibri, 'Source Sans Pro';
      font-weight: 300;
      color: #000000;
      cursor: pointer;
    }
    .thng-bo-ng-nhp-ETb {
      height: 1.7rem;
      left: 69.1rem;
      font-family: Calibri, 'Source Sans Pro';
      align-items: center;
      color: #000000;
      width: 5.8rem;
      cursor: pointer;
      top: 103.3rem;
      line-height: 1.220703125;
      text-decoration-line: underline;
      font-weight: 300;
      white-space: nowrap;
      position: absolute;
      font-size: 1.4rem;
      display: flex;
      justify-content: center;
    }
  }
  .footer-XBo {
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #1f2251;
    margin-bottom: 649.1rem;
    box-sizing: border-box;
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;
    display: flex;
    flex-shrink: 0;

    .auto-group-jcwu-28Z {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 5.15rem 1.4rem 0rem;
      width: 131.2rem;
      height: 15.3rem;

      .van-lang-fashion-9DB {
        height: 15.3rem;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.2999999523;
        color: #ffffff;
        font-family: Calistoga, 'Source Sans Pro';
        width: 27rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .email-thoitrangvanlangvlueduvn-evd {
        font-size: 2.2rem;
        line-height: 1.2102272727;
        color: #ffffff;
        height: 6.3rem;
        position: absolute;
        left: 31.8rem;
        font-family: Inter, 'Source Sans Pro';
        width: 38rem;
        top: 1.1rem;
        font-weight: 400;

        .email-thoitrangvanlangvlueduvn-evd-sub-0 {
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
        }
        .email-thoitrangvanlangvlueduvn-evd-sub-1 {
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .h-tr-02812345678-jah {
        width: 15.6rem;
        height: 6.3rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        left: 76rem;
        top: 1.1rem;
        font-size: 2.2rem;
        line-height: 1.2102272727;

        .h-tr-02812345678-jah-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .h-tr-02812345678-jah-sub-1 {
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2102272727;
        }
      }
      .line-14-tM7 {
        top: 12.7rem;
        background-color: #acacac;
        width: 131.2rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
      }
    }
    .auto-group-bxny-cY1 {
      margin: 0rem 0rem 0.1rem 0.15rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .lin-kt-x65 {
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 25.6rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
      }
      .theo-di-5Ah {
        margin: 0rem 16.3rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .footer-beq {
        flex-shrink: 0;
        max-width: 75.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';

        .footer-beq-sub-0 {
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
        }
        .footer-beq-sub-1 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
    }
    .auto-group-ketb-9Jy {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);
      height: 8.1rem;

      .auto-group-znev-g41 {
        margin-right: 9rem;
        width: 26.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-11-cyF {
          position: absolute;
          white-space: nowrap;
          height: 4.4rem;
          font-weight: 500;
          top: 0;
          font-size: 2rem;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          width: 26.6rem;
          cursor: pointer;
          left: 0;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .frame-12-Ksf {
          left: 0.4rem;
          color: #ffffff;
          align-items: center;
          justify-content: center;
          height: 4.4rem;
          width: 8.2rem;
          position: absolute;
          font-weight: 500;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          cursor: pointer;
          font-size: 2rem;
          top: 3.7rem;
        }
      }
      .auto-group-a76h-aob {
        flex-shrink: 0;
        width: 9.7rem;
        height: 100%;
        position: relative;

        .frame-8-vsT {
          position: absolute;
          color: #ffffff;
          left: 0;
          line-height: 1.25;
          white-space: nowrap;
          align-items: center;
          top: 0;
          font-weight: 500;
          font-family: Quicksand, 'Source Sans Pro';
          justify-content: center;
          width: 9.3rem;
          height: 4.4rem;
          cursor: pointer;
          font-size: 2rem;
          display: flex;
        }
        .frame-9-qDj {
          font-size: 2rem;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          height: 4.4rem;
          white-space: nowrap;
          width: 9.7rem;
          cursor: pointer;
          position: absolute;
          align-items: center;
          left: 0;
          top: 3.7rem;
          font-weight: 500;
          color: #ffffff;
        }
      }
    }
    .frame-10-LAV {
      font-weight: 500;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 94.35rem 3rem 35.6rem;
      width: calc(100% - 129.95rem);
      cursor: pointer;
      font-size: 2rem;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      height: 3.1rem;
      line-height: 1.25;
      display: flex;
    }
    .line-15-QAM {
      margin: 0rem 5.35rem 0.9rem 0rem;
      width: 131.2rem;
      height: 0.1rem;
      background-color: #acacac;
      flex-shrink: 0;
    }
    .van-lang-university-all-rights-reserved-XVs {
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 1.25rem;
    }
  }
  .icon-settings-pUy {
    flex-shrink: 0;
    width: 2.2145rem;
    height: 1.8762rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
  }
}
