
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.projects-k25-pagemain-p1o {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .menu-x81 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 14.611rem 0.948rem 13.5rem;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    background-color: #1f2251;

    .van-lang-fashion-4Rw {
      font-family: Calistoga, 'Source Sans Pro';
      cursor: pointer;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3;
      color: #ffffff;
      flex-shrink: 0;
      margin-right: 7.1085rem;
      max-width: 12.1915rem;
    }
    .frame-7-Zdb {
      margin: 0.3rem 5.05rem 0.352rem 0rem;
      height: calc(100% - 0.652rem);
      align-items: center;
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      width: 11.5rem;
      cursor: pointer;
      line-height: 1.25;
      color: #ffffff;
      font-size: 2rem;
      font-weight: 600;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .frame-8-2n5 {
      justify-content: center;
      flex-shrink: 0;
      width: 7.8rem;
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
      line-height: 1.25;
      display: flex;
      font-size: 2rem;
      font-weight: 600;
      white-space: nowrap;
      margin: 0.3rem 4.9rem 0.352rem 0rem;
      height: calc(100% - 0.652rem);
      cursor: pointer;
      color: #ffffff;
    }
    .frame-9-KmB {
      font-weight: 600;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      margin: 0.3rem 4.85rem 0.352rem 0rem;
      height: calc(100% - 0.652rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      font-size: 2rem;
      line-height: 1.25;
      white-space: nowrap;
      justify-content: center;
      width: 7.4rem;
      cursor: pointer;
    }
    .frame-10-E7T {
      line-height: 1.25;
      white-space: nowrap;
      font-weight: 600;
      flex-shrink: 0;
      font-size: 2rem;
      display: flex;
      width: 7.4rem;
      height: calc(100% - 0.652rem);
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      margin: 0.3rem 5.1rem 0.352rem 0rem;
      cursor: pointer;
    }
    .frame-11-8Cq {
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      font-weight: 600;
      line-height: 1.25;
      color: #ffffff;
      white-space: nowrap;
      align-items: center;
      margin: 0.3rem 22rem 0.352rem 0rem;
      height: calc(100% - 0.652rem);
      cursor: pointer;
      font-size: 2rem;
      justify-content: center;
      width: 11.6rem;
      flex-shrink: 0;
    }
    .icon-user-circle-alt-p5f {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.611rem 0.463rem 0rem;
      width: 3.1892rem;
      height: 3.1891rem;
      cursor: pointer;
      position: relative;
    }
    .icon-search-veV {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.4629rem;
      width: 3.1892rem;
      height: 3.1891rem;
      position: relative;
    }
  }
  .auto-group-lt6z-3z1 {
    width: 100%;
    height: 243rem;
    position: relative;
    flex-shrink: 0;

    .nhng-b-su-tp-ni-bc-oCV {
      width: 25.3rem;
      height: 2.9rem;
      font-size: 2.4rem;
      color: #000000;
      white-space: nowrap;
      font-family: Calibri, 'Source Sans Pro';
      position: absolute;
      left: 14.1rem;
      top: 25.4rem;
      display: flex;
      font-weight: 400;
      line-height: 1.220703125;
    }
    .nhng-b-su-tp-khc-gGH {
      display: flex;
      font-family: Calibri, 'Source Sans Pro';
      top: 113rem;
      height: 2.9rem;
      position: absolute;
      left: 14.8rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.220703125;
      color: #000000;
      width: 22.7rem;
      white-space: nowrap;
    }
    .bst-others-xjb {
      align-items: center;
      border-radius: 1rem;
      width: 113.8rem;
      height: 99.6rem;
      position: absolute;
      left: 16.1rem;
      top: 118rem;
      display: flex;

      .auto-group-ieyf-VDj {
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.4rem 4.6rem 0rem 0rem;
        height: 100%;
        display: flex;

        .auto-group-cewd-pWu {
          margin-right: 4.5rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .image-hover-NHX {
            margin: 0rem 0.1rem 2.9rem 0rem;
            box-sizing: border-box;
            padding: 1rem;
            cursor: pointer;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 1rem;
            flex-shrink: 0;

            .rectangle-139-Vsw {
              width: 23rem;
              height: 29rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.5rem;
            }
          }
          .image-hover-CGZ {
            box-sizing: border-box;
            padding: 1rem;
            cursor: pointer;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 1rem;
            flex-shrink: 0;
            margin: 0rem 0.1rem 3.3rem 0rem;

            .rectangle-139-vyF {
              border-radius: 0.5rem;
              width: 23rem;
              height: 29rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .image-hover-ePT {
            margin-left: 0.1rem;
            box-sizing: border-box;
            padding: 1rem;
            cursor: pointer;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 1rem;
            flex-shrink: 0;

            .rectangle-139-Cfs {
              width: 23rem;
              height: 29rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.5rem;
            }
          }
        }
        .auto-group-s8c1-iPK {
          flex-shrink: 0;
          width: 25rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .image-hover-G9w {
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 2.9rem;
            box-sizing: border-box;
            padding: 1rem;
            width: 100%;
            cursor: pointer;

            .rectangle-139-1tD {
              width: 23rem;
              height: 29rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.5rem;
            }
          }
          .image-hover-j3X {
            padding: 1rem;
            width: 100%;
            cursor: pointer;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 3.3rem;
            box-sizing: border-box;

            .rectangle-139-Gp9 {
              width: 23rem;
              height: 29rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.5rem;
            }
          }
          .image-hover-P85 {
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1rem;
            width: 100%;
            cursor: pointer;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

            .rectangle-139-YWm {
              width: 23rem;
              height: 29rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.5rem;
            }
          }
        }
      }
      .auto-group-esmo-T7w {
        row-gap: 3.3rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 4.6rem;
        width: 25rem;
        height: 100%;

        .image-hover-B3w {
          width: 100%;
          cursor: pointer;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem;

          .rectangle-139-wJ1 {
            height: 29rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.5rem;
            width: 23rem;
          }
        }
        .image-hover-TXF {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem;
          width: 100%;
          cursor: pointer;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 1rem;

          .rectangle-139-1Ym {
            height: 29rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.5rem;
            width: 23rem;
          }
        }
        .image-hover-vfj {
          width: 100%;
          cursor: pointer;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem;

          .rectangle-139-6KK {
            vertical-align: top;
            border-radius: 0.5rem;
            width: 23rem;
            height: 29rem;
            object-fit: cover;
          }
        }
      }
      .auto-group-byfj-Ct9 {
        flex-direction: column;
        flex-shrink: 0;
        width: 25rem;
        height: 100%;
        row-gap: 3.3rem;
        align-items: center;
        display: flex;

        .image-hover-waq {
          padding: 1rem;
          width: 100%;
          cursor: pointer;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .rectangle-139-uXf {
            width: 23rem;
            height: 29rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.5rem;
          }
        }
        .image-hover-puX {
          box-sizing: border-box;
          padding: 1rem;
          width: 100%;
          cursor: pointer;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 1rem;
          flex-shrink: 0;

          .rectangle-139-nLZ {
            width: 23rem;
            height: 29rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.5rem;
          }
        }
        .image-hover-W1f {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem;
          width: 100%;
          cursor: pointer;

          .rectangle-139-Thb {
            vertical-align: top;
            border-radius: 0.5rem;
            width: 23rem;
            height: 29rem;
            object-fit: cover;
          }
        }
      }
    }
    .auto-group-4v4h-Aru {
      top: 31rem;
      display: flex;
      align-items: center;
      width: 86.7rem;
      height: 33rem;
      position: absolute;
      left: 28.7rem;

      .component-34-6kZ {
        margin-right: 9.5rem;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        height: 100%;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        box-sizing: border-box;
        width: 22rem;
        flex-shrink: 0;

        .rectangle-152-pgZ {
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
        }
        .name-project-Luo {
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
        }
        .student-name-student-TzR {
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 1.3rem;
          font-weight: 400;
        }
      }
      .component-36-XDb {
        width: 22rem;
        height: 100%;
        cursor: pointer;
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 11.2rem;

        .student-name-student-4DX {
          height: 1.6rem;
          position: absolute;
          left: 1.3rem;
          top: 29.9rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
          font-family: Calibri, 'Source Sans Pro';
          width: 9.3rem;
          color: #000000;
          white-space: nowrap;
        }
        .rectangle-152-xZo {
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
          height: 25.8rem;
          position: absolute;
          left: 1.1rem;
          top: 0.8rem;
          object-fit: cover;
        }
        .name-project-swf {
          color: #000000;
          white-space: nowrap;
          width: 7.4rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          font-family: Calibri, 'Source Sans Pro';
          height: 1.7rem;
          position: absolute;
          left: 1.3rem;
          top: 27.9rem;
        }
      }
      .component-38-Jn5 {
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        width: 22rem;
        height: 100%;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .rectangle-152-q1K {
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
        }
        .name-project-921 {
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
        }
        .student-name-student-G6d {
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.220703125;
        }
      }
    }
    .auto-group-jgi5-vws {
      top: 67.4rem;
      display: flex;
      align-items: center;
      width: 86.7rem;
      height: 33rem;
      position: absolute;
      left: 28.6rem;

      .component-35-f8m {
        height: 100%;
        cursor: pointer;
        margin-right: 9.5rem;
        box-sizing: border-box;
        padding: 0.8rem 1rem 1.5rem 1.1rem;
        flex-shrink: 0;
        width: 22rem;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;

        .rectangle-152-ArD {
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          margin-bottom: 1.3rem;
          width: 19.9rem;
          height: 25.8rem;
          object-fit: cover;
        }
        .name-project-JhX {
          white-space: nowrap;
          margin: 0rem 0rem 0.3rem 0.2rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
        }
        .student-name-student-39K {
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 1.3rem;
        }
      }
      .component-37-o21 {
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 11.2rem;
        width: 22rem;
        height: 100%;
        cursor: pointer;

        .student-name-student-jgM {
          line-height: 1.220703125;
          color: #000000;
          left: 1.3rem;
          font-size: 1.3rem;
          font-weight: 400;
          top: 29.9rem;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          width: 9.3rem;
          height: 1.6rem;
          position: absolute;
        }
        .rectangle-152-e2d {
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
          height: 25.8rem;
          position: absolute;
          left: 1.1rem;
          top: 0.8rem;
        }
        .name-project-m7F {
          width: 8.3rem;
          position: absolute;
          left: 1.3rem;
          font-weight: 300;
          font-family: Calibri, 'Source Sans Pro';
          height: 1.7rem;
          top: 27.9rem;
          font-size: 1.4rem;
          line-height: 1.220703125;
          color: #000000;
          white-space: nowrap;
        }
      }
      .component-39-Rhb {
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) 15.02%, #ffffff 29.6%, rgba(197, 197, 197, 0.784430027) 84.29%, rgba(145, 145, 145, 0.784430027) 100%);
        border-radius: 1rem;
        flex-shrink: 0;
        width: 22rem;
        height: 100%;
        cursor: pointer;

        .student-name-student-Ncq {
          font-weight: 400;
          line-height: 1.220703125;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          height: 1.6rem;
          position: absolute;
          top: 29.9rem;
          white-space: nowrap;
          width: 8.6rem;
          left: 1.3rem;
          font-size: 1.3rem;
        }
        .rectangle-152-Ufs {
          top: 0.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem 1rem 0 0;
          width: 19.9rem;
          height: 25.8rem;
          position: absolute;
          left: 1.1rem;
        }
        .name-project-Q3j {
          width: 8.3rem;
          left: 1.3rem;
          top: 27.9rem;
          color: #000000;
          font-family: Calibri, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.7rem;
          position: absolute;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.220703125;
        }
      }
    }
    .heading-1-eCy {
      top: 7.4rem;
      display: flex;
      font-size: 4rem;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      width: 39.6rem;
      height: 5rem;
      position: absolute;
      left: 13.6rem;
      font-weight: 700;
      font-family: Quicksand, 'Source Sans Pro';
    }
    .heading-3-xDf {
      display: flex;
      font-size: 3.2rem;
      color: #000000;
      left: 13.4rem;
      top: 16.9rem;
      font-weight: 500;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      width: 40.2rem;
      height: 4rem;
      position: absolute;
      white-space: nowrap;
    }
  }
  .footer-rpq {
    flex-direction: column;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;
    width: 144.2rem;
    align-items: center;
    display: flex;

    .auto-group-digh-mgu {
      width: 131.2rem;
      height: 15.3rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 5.15rem 1.4rem 0rem;

      .van-lang-fashion-hKf {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 4.8rem;
        color: #ffffff;
        width: 27rem;
        height: 15.3rem;
        font-weight: 400;
        line-height: 1.2999999523;
        font-family: Calistoga, 'Source Sans Pro';
      }
      .email-thoitrangvanlangvlueduvn-RFf {
        width: 38rem;
        position: absolute;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.2102272727;
        color: #ffffff;
        height: 6.3rem;
        left: 31.8rem;
        top: 1.1rem;
        font-family: Inter, 'Source Sans Pro';

        .email-thoitrangvanlangvlueduvn-RFf-sub-0 {
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
        }
        .email-thoitrangvanlangvlueduvn-RFf-sub-1 {
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2102272727;
          color: #ffffff;
        }
      }
      .h-tr-02812345678-u4M {
        top: 1.1rem;
        font-weight: 400;
        line-height: 1.2102272727;
        color: #ffffff;
        width: 15.6rem;
        height: 6.3rem;
        position: absolute;
        left: 76rem;
        font-size: 2.2rem;
        font-family: Inter, 'Source Sans Pro';

        .h-tr-02812345678-u4M-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .h-tr-02812345678-u4M-sub-1 {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .line-14-FXX {
        width: 131.2rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 12.7rem;
        background-color: #acacac;
      }
    }
    .auto-group-vd8m-nGZ {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 0.1rem 0.15rem;

      .lin-kt-iR7 {
        flex-shrink: 0;
        margin: 0rem 25.6rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
      }
      .theo-di-3CV {
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 16.3rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
      }
      .footer-mPP {
        max-width: 75.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;

        .footer-mPP-sub-0 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .footer-mPP-sub-1 {
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
    .auto-group-mywd-6py {
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);
      height: 8.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-k5mt-dpu {
        margin-right: 9rem;
        width: 26.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-11-PJH {
          left: 0;
          justify-content: center;
          align-items: center;
          height: 4.4rem;
          cursor: pointer;
          color: #ffffff;
          white-space: nowrap;
          position: absolute;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          display: flex;
          width: 26.6rem;
          top: 0;
          font-size: 2rem;
          font-weight: 500;
        }
        .frame-12-gYH {
          line-height: 1.25;
          white-space: nowrap;
          align-items: center;
          font-weight: 500;
          height: 4.4rem;
          left: 0.4rem;
          top: 3.7rem;
          display: flex;
          width: 8.2rem;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2rem;
          position: absolute;
          justify-content: center;
          cursor: pointer;
        }
      }
      .auto-group-veem-NAD {
        width: 9.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-8-vBj {
          height: 4.4rem;
          width: 9.3rem;
          font-weight: 500;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          position: absolute;
          font-size: 2rem;
          color: #ffffff;
          display: flex;
          align-items: center;
          top: 0;
          left: 0;
          cursor: pointer;
        }
        .frame-9-1iy {
          left: 0;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          line-height: 1.25;
          width: 9.7rem;
          height: 4.4rem;
          cursor: pointer;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          top: 3.7rem;
          font-weight: 500;
        }
      }
    }
    .frame-10-iNV {
      width: calc(100% - 129.95rem);
      cursor: pointer;
      font-weight: 500;
      color: #ffffff;
      justify-content: center;
      height: 3.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 94.35rem 3rem 35.6rem;
      font-size: 2rem;
      font-family: Quicksand, 'Source Sans Pro';
      line-height: 1.25;
      white-space: nowrap;
    }
    .line-15-oPw {
      margin: 0rem 5.35rem 0.9rem 0rem;
      width: 131.2rem;
      height: 0.1rem;
      background-color: #acacac;
      flex-shrink: 0;
    }
    .van-lang-university-all-rights-reserved-Xqj {
      font-weight: 300;
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 1.25rem;
      font-size: 2rem;
    }
  }
}
