
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.project-others-k25-BKf {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .menu-WMw {
    padding: 1rem 14.611rem 0.948rem 13.5rem;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;

    .van-lang-fashion-cA5 {
      font-weight: 400;
      line-height: 1.3;
      color: #ffffff;
      font-family: Calistoga, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 7.1085rem;
      max-width: 12.1915rem;
      font-size: 2rem;
    }
    .frame-7-6qw {
      cursor: pointer;
      display: flex;
      height: calc(100% - 0.652rem);
      font-weight: 600;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0.3rem 5.05rem 0.352rem 0rem;
      line-height: 1.25;
      align-items: center;
      width: 11.5rem;
      font-size: 2rem;
      color: #ffffff;
      justify-content: center;
      flex-shrink: 0;
    }
    .frame-8-Aqo {
      width: 7.8rem;
      color: #ffffff;
      height: calc(100% - 0.652rem);
      font-weight: 600;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      margin: 0.3rem 4.9rem 0.352rem 0rem;
      line-height: 1.25;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 2rem;
      flex-shrink: 0;
    }
    .frame-9-rid {
      line-height: 1.25;
      justify-content: center;
      width: 7.4rem;
      font-weight: 600;
      display: flex;
      font-size: 2rem;
      font-family: Quicksand, 'Source Sans Pro';
      flex-shrink: 0;
      height: calc(100% - 0.652rem);
      cursor: pointer;
      white-space: nowrap;
      align-items: center;
      margin: 0.3rem 4.85rem 0.352rem 0rem;
      color: #ffffff;
    }
    .frame-10-k3K {
      justify-content: center;
      color: #ffffff;
      height: calc(100% - 0.652rem);
      cursor: pointer;
      font-size: 2rem;
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      align-items: center;
      width: 7.4rem;
      line-height: 1.25;
      flex-shrink: 0;
      font-weight: 600;
      white-space: nowrap;
      margin: 0.3rem 5.1rem 0.352rem 0rem;
    }
    .frame-11-EUH {
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      width: 11.6rem;
      cursor: pointer;
      justify-content: center;
      font-weight: 600;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.3rem 22rem 0.352rem 0rem;
      align-items: center;
    }
    .icon-user-circle-alt-8Jm {
      cursor: pointer;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.611rem 0.463rem 0rem;
      width: 3.1892rem;
      height: 3.1891rem;
    }
    .icon-search-qDB {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.4629rem;
      width: 3.1892rem;
      height: 3.1891rem;
      position: relative;
      object-fit: contain;
    }
  }
  .auto-group-trfo-xYh {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.7rem 13.5rem 7.1rem 13rem;

    .heading-1-svZ {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 1rem 12.1rem;
      display: flex;
      color: #000000;
      font-family: Quicksand, 'Source Sans Pro';
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.25;
    }
    .heading-3-P8D {
      margin: 0rem 0rem 1rem 11.1rem;
      font-size: 3.2rem;
      font-weight: 500;
      color: #000000;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      line-height: 1.25;
      flex-shrink: 0;
    }
    .auto-group-wpe5-VS9 {
      flex-shrink: 0;
      margin: 0rem 1.6rem 2.1rem 2.1rem;
      width: calc(100% - 3.7rem);
      height: 44.8rem;
      position: relative;

      .image-hover-bk5 {
        box-sizing: border-box;
        width: 25rem;
        height: 31rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        padding: 1rem;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 13.8rem;
        border-radius: 1rem;

        .rectangle-139-7iR {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-cQH {
        padding: 1rem;
        height: 31rem;
        cursor: pointer;
        position: absolute;
        left: 29.6rem;
        border-radius: 1rem;
        box-sizing: border-box;
        width: 25rem;
        top: 13.5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .rectangle-139-9f7 {
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
        }
      }
      .image-hover-rZX {
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 1rem;
        top: 13.8rem;
        position: absolute;
        left: 59.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        width: 25rem;
        height: 31rem;
        cursor: pointer;

        .rectangle-139-Brh {
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
        }
      }
      .image-hover-tWD {
        left: 88.8rem;
        top: 13.5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        width: 25rem;
        height: 31rem;
        cursor: pointer;
        padding: 1rem;
        position: absolute;
        border-radius: 1rem;

        .rectangle-139-puf {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .khi-nhc-n-vn-lang-mi-ngi-thng-ngh-ti-ngay-nhng-bst-n-tt-nghip-c-s-u-t-chnh-chu-p-mt-v-khin-ngi-xem-phi-trm-tr-nhng-t-ai-bit-rng-ngoi-thit-k-thi-trang-th-sinh-vin-vn-lang-cn-c-nhng-n-thit-k-ph-kin-v-cng-hp-dn-di-y-l-mt-n-ca-sinh-vin-kho-25-ngnh-thit-k-thi-trang-Lt1 {
        left: 13.4rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        width: 89.5rem;
        height: 10.8rem;
        position: absolute;
        top: 0;
        text-align: center;
        font-size: 2rem;
        font-family: Quicksand, 'Source Sans Pro';
      }
    }
    .auto-group-emyd-C33 {
      height: 64.7rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 17.8rem;
      width: 100%;

      .image-hover-uy3 {
        position: absolute;
        box-sizing: border-box;
        width: 25rem;
        height: 31rem;
        cursor: pointer;
        left: 2.1rem;
        top: 0.3rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        padding: 1rem;

        .rectangle-139-FGD {
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
        }
      }
      .image-hover-96h {
        box-sizing: border-box;
        width: 25rem;
        height: 31rem;
        left: 31.7rem;
        padding: 1rem;
        cursor: pointer;
        position: absolute;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;

        .rectangle-139-5W9 {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-axh {
        box-sizing: border-box;
        padding: 1rem;
        cursor: pointer;
        border-radius: 1rem;
        width: 25rem;
        height: 31rem;
        position: absolute;
        left: 61.3rem;
        top: 0.3rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .rectangle-139-KfP {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
        }
      }
      .image-hover-eBs {
        width: 25rem;
        height: 31rem;
        cursor: pointer;
        position: absolute;
        left: 90.9rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        padding: 1rem;
        top: 0;
        border-radius: 1rem;

        .rectangle-139-BxV {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-75T {
        height: 31rem;
        cursor: pointer;
        position: absolute;
        left: 2.1rem;
        top: 33.7rem;
        box-sizing: border-box;
        padding: 1rem;
        width: 25rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;

        .rectangle-139-r33 {
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
          object-fit: cover;
        }
      }
      .image-hover-mA1 {
        border-radius: 1rem;
        height: 31rem;
        left: 31.7rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        cursor: pointer;
        position: absolute;
        top: 33.4rem;
        box-sizing: border-box;
        padding: 1rem;
        width: 25rem;

        .rectangle-139-W7b {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-DXo {
        left: 61.3rem;
        top: 33.7rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        position: absolute;
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 1rem;
        width: 25rem;
        height: 31rem;
        cursor: pointer;

        .rectangle-139-MP7 {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
        }
      }
      .image-hover-Th3 {
        padding: 1rem;
        width: 25rem;
        height: 31rem;
        cursor: pointer;
        left: 90.9rem;
        top: 33.4rem;
        border-radius: 1rem;
        box-sizing: border-box;
        position: absolute;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .rectangle-139-zgy {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
    }
    .group-25-hrH {
      margin: 0rem 40rem 0rem 40.5rem;
      cursor: pointer;
      flex-shrink: 0;
      color: #ffffff;
      white-space: nowrap;
      background-color: #1f2251;
      width: calc(100% - 80.5rem);
      height: 7.6rem;
      justify-content: center;
      font-family: Calibri, 'Source Sans Pro';
      display: flex;
      align-items: center;
      border-radius: 1rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.220703125;
      text-decoration-line: underline;
    }
  }
  .footer-9yB {
    flex-direction: column;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;
    width: 144.2rem;
    align-items: center;
    display: flex;

    .auto-group-wjwb-4qF {
      flex-shrink: 0;
      margin: 0rem 5.15rem 1.4rem 0rem;
      width: 131.2rem;
      height: 15.3rem;
      position: relative;

      .van-lang-fashion-yxD {
        width: 27rem;
        height: 15.3rem;
        position: absolute;
        color: #ffffff;
        font-family: Calistoga, 'Source Sans Pro';
        left: 0;
        top: 0;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.2999999523;
      }
      .email-thoitrangvanlangvlueduvn-6X3 {
        font-family: Inter, 'Source Sans Pro';
        width: 38rem;
        font-weight: 400;
        color: #ffffff;
        top: 1.1rem;
        font-size: 2.2rem;
        line-height: 1.2102272727;
        height: 6.3rem;
        position: absolute;
        left: 31.8rem;

        .email-thoitrangvanlangvlueduvn-6X3-sub-0 {
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
        }
        .email-thoitrangvanlangvlueduvn-6X3-sub-1 {
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .h-tr-02812345678-yDT {
        left: 76rem;
        top: 1.1rem;
        font-weight: 400;
        color: #ffffff;
        line-height: 1.2102272727;
        font-family: Inter, 'Source Sans Pro';
        width: 15.6rem;
        height: 6.3rem;
        position: absolute;
        font-size: 2.2rem;

        .h-tr-02812345678-yDT-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .h-tr-02812345678-yDT-sub-1 {
          font-weight: 400;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
        }
      }
      .line-14-KAq {
        top: 12.7rem;
        background-color: #acacac;
        width: 131.2rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
      }
    }
    .auto-group-rqur-SmF {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 0.1rem 0.15rem;

      .lin-kt-nKK {
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 25.6rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
      }
      .theo-di-6au {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 16.3rem 0.4rem 0rem;
      }
      .footer-DvR {
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 75.2rem;
        font-size: 2rem;
        font-weight: 400;

        .footer-DvR-sub-0 {
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2rem;
        }
        .footer-DvR-sub-1 {
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.25;
        }
      }
    }
    .auto-group-ywgz-mqT {
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);
      height: 8.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-aq3w-VFf {
        margin-right: 9rem;
        width: 26.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-11-Rf7 {
          font-size: 2rem;
          line-height: 1.25;
          display: flex;
          top: 0;
          font-family: Quicksand, 'Source Sans Pro';
          justify-content: center;
          height: 4.4rem;
          cursor: pointer;
          position: absolute;
          font-weight: 500;
          color: #ffffff;
          white-space: nowrap;
          width: 26.6rem;
          left: 0;
          align-items: center;
        }
        .frame-12-XCM {
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          height: 4.4rem;
          position: absolute;
          top: 3.7rem;
          font-weight: 500;
          line-height: 1.25;
          align-items: center;
          font-size: 2rem;
          font-family: Quicksand, 'Source Sans Pro';
          width: 8.2rem;
          cursor: pointer;
          left: 0.4rem;
        }
      }
      .auto-group-3am7-oQm {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 9.7rem;

        .frame-8-9jX {
          font-size: 2rem;
          align-items: center;
          cursor: pointer;
          left: 0;
          top: 0;
          justify-content: center;
          color: #ffffff;
          display: flex;
          height: 4.4rem;
          position: absolute;
          font-weight: 500;
          line-height: 1.25;
          width: 9.3rem;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
        }
        .frame-9-rtq {
          width: 9.7rem;
          position: absolute;
          display: flex;
          left: 0;
          top: 3.7rem;
          font-size: 2rem;
          color: #ffffff;
          white-space: nowrap;
          font-family: Quicksand, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          height: 4.4rem;
          cursor: pointer;
          font-weight: 500;
          line-height: 1.25;
        }
      }
    }
    .frame-10-ZoF {
      display: flex;
      margin: 0rem 94.35rem 3rem 35.6rem;
      height: 3.1rem;
      font-size: 2rem;
      cursor: pointer;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      width: calc(100% - 129.95rem);
      font-weight: 500;
      line-height: 1.25;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .line-15-3yK {
      background-color: #acacac;
      flex-shrink: 0;
      margin: 0rem 5.35rem 0.9rem 0rem;
      width: 131.2rem;
      height: 0.1rem;
    }
    .van-lang-university-all-rights-reserved-muK {
      font-weight: 300;
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 1.25rem;
      font-size: 2rem;
    }
  }
}
