
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.projects-k23-pagemain-VZT {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .menu-DkM {
    height: 7rem;
    display: flex;
    align-items: center;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 14.611rem 0.948rem 13.5rem;
    width: 100%;

    .van-lang-fashion-vPs {
      line-height: 1.3;
      color: #ffffff;
      font-family: Calistoga, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 7.1085rem;
      max-width: 12.1915rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .frame-7-RbX {
      cursor: pointer;
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
      width: 11.5rem;
      color: #ffffff;
      display: flex;
      justify-content: center;
      font-size: 2rem;
      font-weight: 600;
      flex-shrink: 0;
      margin: 0.3rem 5.05rem 0.352rem 0rem;
      line-height: 1.25;
      white-space: nowrap;
      height: calc(100% - 0.652rem);
    }
    .frame-8-T2R {
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      margin: 0.3rem 4.9rem 0.352rem 0rem;
      width: 7.8rem;
      white-space: nowrap;
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      font-weight: 600;
      color: #ffffff;
      align-items: center;
      flex-shrink: 0;
      cursor: pointer;
      line-height: 1.25;
    }
    .frame-9-gQy {
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      height: calc(100% - 0.652rem);
      cursor: pointer;
      font-size: 2rem;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      font-weight: 600;
      color: #ffffff;
      display: flex;
      margin: 0.3rem 4.85rem 0.352rem 0rem;
      width: 7.4rem;
      white-space: nowrap;
    }
    .frame-10-Weu {
      font-weight: 600;
      white-space: nowrap;
      align-items: center;
      margin: 0.3rem 5.1rem 0.352rem 0rem;
      cursor: pointer;
      font-size: 2rem;
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      height: calc(100% - 0.652rem);
      color: #ffffff;
      width: 7.4rem;
      line-height: 1.25;
      justify-content: center;
      flex-shrink: 0;
    }
    .frame-11-nsK {
      font-weight: 600;
      display: flex;
      flex-shrink: 0;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      margin: 0.3rem 22rem 0.352rem 0rem;
      height: calc(100% - 0.652rem);
      justify-content: center;
      color: #ffffff;
      white-space: nowrap;
      align-items: center;
      width: 11.6rem;
      cursor: pointer;
      font-size: 2rem;
    }
    .icon-user-circle-alt-5Ld {
      width: 3.1892rem;
      height: 3.1891rem;
      cursor: pointer;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.611rem 0.463rem 0rem;
    }
    .icon-search-Ass {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.4629rem;
      width: 3.1892rem;
      height: 3.1891rem;
      position: relative;
    }
  }
  .auto-group-txp1-grD {
    box-sizing: border-box;
    padding: 5rem 13.5rem 11.7rem 13rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .heading-1-cE5 {
      margin: 0rem 0rem 4.6rem 0.5rem;
      font-weight: 700;
      color: #000000;
      flex-shrink: 0;
      display: flex;
      font-size: 4rem;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
    }
    .heading-3-7gd {
      line-height: 1.25;
      margin: 0rem 0rem 2.9rem 0.5rem;
      font-size: 3.2rem;
      color: #000000;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-weight: 500;
    }
    .auto-group-kxrs-22u {
      height: 67.4rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 2.3rem 2.5rem 1.4rem;
      width: calc(100% - 3.7rem);

      .image-hover-XkM {
        position: absolute;
        border-radius: 1rem;
        width: 25rem;
        height: 31rem;
        cursor: pointer;
        top: 2.5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        padding: 1rem;
        left: 0;

        .rectangle-139-Te1 {
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
          object-fit: cover;
        }
      }
      .image-hover-Lxh {
        height: 31rem;
        cursor: pointer;
        position: absolute;
        top: 2.5rem;
        padding: 1rem;
        width: 25rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        box-sizing: border-box;
        left: 29.6rem;

        .rectangle-139-4th {
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
        }
      }
      .image-hover-Mcu {
        box-sizing: border-box;
        height: 31rem;
        cursor: pointer;
        left: 59.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        padding: 1rem;
        width: 25rem;
        position: absolute;
        top: 2.1rem;
        border-radius: 1rem;

        .rectangle-139-tMw {
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
        }
      }
      .image-hover-QLH {
        padding: 1rem;
        height: 31rem;
        position: absolute;
        left: 88.8rem;
        top: 2.1rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        box-sizing: border-box;
        cursor: pointer;
        width: 25rem;

        .rectangle-139-YSV {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-T3f {
        cursor: pointer;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        left: 0;
        top: 36.4rem;
        box-sizing: border-box;
        padding: 1rem;
        width: 25rem;
        height: 31rem;
        position: absolute;

        .rectangle-139-aty {
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
        }
      }
      .image-hover-W1w {
        border-radius: 1rem;
        box-sizing: border-box;
        left: 29.6rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        cursor: pointer;
        position: absolute;
        top: 36.4rem;
        padding: 1rem;
        width: 25rem;
        height: 31rem;

        .rectangle-139-qa1 {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
        }
      }
      .image-hover-M2Z {
        left: 59.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 1rem;
        cursor: pointer;
        position: absolute;
        width: 25rem;
        height: 31rem;
        top: 36.4rem;

        .rectangle-139-Uss {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-PV3 {
        left: 88.8rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        box-sizing: border-box;
        width: 25rem;
        cursor: pointer;
        position: absolute;
        padding: 1rem;
        height: 31rem;
        top: 36.4rem;

        .rectangle-139-KtV {
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
        }
      }
    }
    .auto-group-jejb-Dys {
      height: 31.8rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 2.3rem 0rem 1.5rem;
      width: 100%;

      .image-hover-LHo {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 4.5rem;
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;

        .rectangle-139-625 {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
        }
      }
      .image-hover-bjX {
        margin-right: 4.6rem;
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        flex-shrink: 0;

        .rectangle-139-Yuf {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
        }
      }
      .image-hover-sS9 {
        margin-right: 4.6rem;
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        flex-shrink: 0;

        .rectangle-139-psB {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-MMK {
        padding: 1rem;
        height: 100%;
        cursor: pointer;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .rectangle-139-iSm {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
    }
  }
  .footer-Rry {
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;
    width: 144.2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-x2ft-wqK {
      margin: 0rem 5.15rem 1.4rem 0rem;
      width: 131.2rem;
      height: 15.3rem;
      position: relative;
      flex-shrink: 0;

      .van-lang-fashion-4f3 {
        top: 0;
        line-height: 1.2999999523;
        width: 27rem;
        position: absolute;
        left: 0;
        font-size: 4.8rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Calistoga, 'Source Sans Pro';
        height: 15.3rem;
      }
      .email-thoitrangvanlangvlueduvn-yGD {
        position: absolute;
        top: 1.1rem;
        font-size: 2.2rem;
        font-family: Inter, 'Source Sans Pro';
        color: #ffffff;
        width: 38rem;
        height: 6.3rem;
        left: 31.8rem;
        font-weight: 400;
        line-height: 1.2102272727;

        .email-thoitrangvanlangvlueduvn-yGD-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .email-thoitrangvanlangvlueduvn-yGD-sub-1 {
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .h-tr-02812345678-ELZ {
        position: absolute;
        top: 1.1rem;
        font-size: 2.2rem;
        color: #ffffff;
        width: 15.6rem;
        height: 6.3rem;
        left: 76rem;
        font-weight: 400;
        line-height: 1.2102272727;
        font-family: Inter, 'Source Sans Pro';

        .h-tr-02812345678-ELZ-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .h-tr-02812345678-ELZ-sub-1 {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .line-14-yxM {
        top: 12.7rem;
        background-color: #acacac;
        width: 131.2rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
      }
    }
    .auto-group-v8zp-WhP {
      margin: 0rem 0rem 0.1rem 0.15rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .lin-kt-EdP {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 25.6rem 0.4rem 0rem;
      }
      .theo-di-x3b {
        margin: 0rem 16.3rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .footer-5P7 {
        max-width: 75.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;

        .footer-5P7-sub-0 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .footer-5P7-sub-1 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
    }
    .auto-group-negq-CkZ {
      flex-shrink: 0;
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);
      height: 8.1rem;
      display: flex;
      align-items: center;

      .auto-group-lbxf-X29 {
        flex-shrink: 0;
        margin-right: 9rem;
        width: 26.6rem;
        height: 100%;
        position: relative;

        .frame-11-fPF {
          font-size: 2rem;
          align-items: center;
          justify-content: center;
          height: 4.4rem;
          cursor: pointer;
          left: 0;
          font-weight: 500;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          line-height: 1.25;
          width: 26.6rem;
          top: 0;
          color: #ffffff;
          display: flex;
        }
        .frame-12-93X {
          top: 3.7rem;
          display: flex;
          height: 4.4rem;
          left: 0.4rem;
          font-weight: 500;
          line-height: 1.25;
          align-items: center;
          cursor: pointer;
          position: absolute;
          justify-content: center;
          width: 8.2rem;
          font-size: 2rem;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-xktm-2d7 {
        position: relative;
        flex-shrink: 0;
        width: 9.7rem;
        height: 100%;

        .frame-8-aed {
          font-size: 2rem;
          font-weight: 500;
          white-space: nowrap;
          position: absolute;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          display: flex;
          width: 9.3rem;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          left: 0;
          top: 0;
          line-height: 1.25;
          height: 4.4rem;
        }
        .frame-9-Uk1 {
          color: #ffffff;
          display: flex;
          align-items: center;
          position: absolute;
          top: 3.7rem;
          font-size: 2rem;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          height: 4.4rem;
          left: 0;
          font-weight: 500;
          width: 9.7rem;
          cursor: pointer;
          justify-content: center;
        }
      }
    }
    .frame-10-mz1 {
      margin: 0rem 94.35rem 3rem 35.6rem;
      font-size: 2rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      height: 3.1rem;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      width: calc(100% - 129.95rem);
      font-weight: 500;
      line-height: 1.25;
      align-items: center;
    }
    .line-15-GA5 {
      margin: 0rem 5.35rem 0.9rem 0rem;
      width: 131.2rem;
      height: 0.1rem;
      background-color: #acacac;
      flex-shrink: 0;
    }
    .van-lang-university-all-rights-reserved-bCM {
      margin-left: 1.25rem;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
