
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.project-others-k22-W1F {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .menu-Ehw {
    box-sizing: border-box;
    padding: 1rem 14.611rem 0.948rem 13.5rem;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    background-color: #1f2251;
    flex-shrink: 0;

    .van-lang-fashion-Lky {
      color: #ffffff;
      font-family: Calistoga, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 7.1085rem;
      max-width: 12.1915rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3;
    }
    .frame-7-rUR {
      margin: 0.3rem 5.05rem 0.352rem 0rem;
      line-height: 1.25;
      align-items: center;
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 600;
      color: #ffffff;
      width: 11.5rem;
      cursor: pointer;
      white-space: nowrap;
      height: calc(100% - 0.652rem);
    }
    .frame-8-hzq {
      width: 7.8rem;
      font-size: 2rem;
      justify-content: center;
      font-weight: 600;
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      margin: 0.3rem 4.9rem 0.352rem 0rem;
      height: calc(100% - 0.652rem);
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      cursor: pointer;
      align-items: center;
    }
    .frame-9-mjo {
      margin: 0.3rem 4.85rem 0.352rem 0rem;
      width: 7.4rem;
      cursor: pointer;
      line-height: 1.25;
      flex-shrink: 0;
      font-weight: 600;
      display: flex;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      height: calc(100% - 0.652rem);
      font-size: 2rem;
    }
    .frame-10-f4V {
      white-space: nowrap;
      display: flex;
      margin: 0.3rem 5.1rem 0.352rem 0rem;
      cursor: pointer;
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      width: 7.4rem;
      font-weight: 600;
      height: calc(100% - 0.652rem);
      flex-shrink: 0;
      font-size: 2rem;
    }
    .frame-11-w21 {
      cursor: pointer;
      color: #ffffff;
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      margin: 0.3rem 22rem 0.352rem 0rem;
      font-family: Quicksand, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      height: calc(100% - 0.652rem);
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      width: 11.6rem;
    }
    .icon-user-circle-alt-pbb {
      flex-shrink: 0;
      margin: 0rem 2.611rem 0.463rem 0rem;
      width: 3.1892rem;
      height: 3.1891rem;
      cursor: pointer;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .icon-search-L49 {
      height: 3.1891rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.4629rem;
      width: 3.1892rem;
    }
  }
  .auto-group-mmgd-eqX {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8.7rem 13.5rem 7rem 13rem;
    width: 100%;
    align-items: center;
    display: flex;

    .heading-1-NmX {
      display: flex;
      font-weight: 700;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 1rem 7.5rem;
      font-size: 4rem;
      line-height: 1.25;
      color: #000000;
    }
    .n-nn-kha-k22-6Bj {
      margin: 0rem 0rem 1rem 3.6rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.220703125;
      font-family: Calibri, 'Source Sans Pro';
      display: flex;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-1hah-BU5 {
      height: 44.3rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 1.9rem 2.1rem 1.8rem;
      width: calc(100% - 3.7rem);

      .image-hover-hSR {
        width: 25rem;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 13.3rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        padding: 1rem;
        height: 31rem;
        box-sizing: border-box;

        .rectangle-139-RdK {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
        }
      }
      .image-hover-icR {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        height: 31rem;
        cursor: pointer;
        position: absolute;
        left: 29.6rem;
        top: 13rem;
        box-sizing: border-box;
        padding: 1rem;
        width: 25rem;
        border-radius: 1rem;

        .rectangle-139-rCq {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
        }
      }
      .image-hover-wEH {
        box-sizing: border-box;
        padding: 1rem;
        position: absolute;
        top: 13.3rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        width: 25rem;
        height: 31rem;
        cursor: pointer;
        left: 59.2rem;
        border-radius: 1rem;

        .rectangle-139-GGZ {
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
          object-fit: cover;
        }
      }
      .image-hover-P6H {
        cursor: pointer;
        top: 13rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        box-sizing: border-box;
        width: 25rem;
        height: 31rem;
        position: absolute;
        left: 88.8rem;
        padding: 1rem;

        .rectangle-139-XCV {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
        }
      }
      .khi-nhc-n-vn-lang-mi-ngi-thng-ngh-ti-ngay-nhng-bst-n-tt-nghip-c-s-u-t-chnh-chu-p-mt-v-khin-ngi-xem-phi-trm-tr-nhng-t-ai-bit-rng-ngoi-thit-k-thi-trang-th-sinh-vin-vn-lang-cn-c-nhng-n-thit-k-ph-kin-v-cng-hp-dn-di-y-l-mt-n-ca-sinh-vin-kho-25-ngnh-thit-k-thi-trang-qDB {
        width: 87.1rem;
        height: 9.5rem;
        position: absolute;
        top: 0;
        font-family: Inter, 'Source Sans Pro';
        color: #000000;
        left: 17.2rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2102272034;
      }
    }
    .auto-group-re3s-tqf {
      flex-shrink: 0;
      margin-bottom: 2.1rem;
      width: 100%;
      height: 64.7rem;
      position: relative;

      .image-hover-cWm {
        cursor: pointer;
        position: absolute;
        top: 0.3rem;
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 1rem;
        width: 25rem;
        height: 31rem;
        left: 1.8rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .rectangle-139-YfK {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-qPX {
        box-sizing: border-box;
        height: 31rem;
        top: 0;
        border-radius: 1rem;
        padding: 1rem;
        width: 25rem;
        cursor: pointer;
        position: absolute;
        left: 31.4rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .rectangle-139-Awb {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-Gzd {
        padding: 1rem;
        height: 31rem;
        position: absolute;
        left: 61rem;
        top: 0.3rem;
        box-sizing: border-box;
        width: 25rem;
        cursor: pointer;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;

        .rectangle-139-R6q {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-KT7 {
        cursor: pointer;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        padding: 1rem;
        width: 25rem;
        height: 31rem;
        position: absolute;
        left: 90.6rem;
        top: 0;
        border-radius: 1rem;
        box-sizing: border-box;

        .rectangle-139-TJR {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-y1s {
        padding: 1rem;
        width: 25rem;
        height: 31rem;
        position: absolute;
        left: 1.8rem;
        top: 33.7rem;
        border-radius: 1rem;
        box-sizing: border-box;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        cursor: pointer;

        .rectangle-139-hyT {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-pYH {
        height: 31rem;
        position: absolute;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        cursor: pointer;
        left: 31.4rem;
        top: 33.4rem;
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 1rem;
        width: 25rem;

        .rectangle-139-xeV {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-ZPP {
        padding: 1rem;
        width: 25rem;
        height: 31rem;
        position: absolute;
        left: 61rem;
        box-sizing: border-box;
        cursor: pointer;
        top: 33.7rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;

        .rectangle-139-twT {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-DD3 {
        box-sizing: border-box;
        padding: 1rem;
        width: 25rem;
        cursor: pointer;
        left: 90.6rem;
        height: 31rem;
        position: absolute;
        top: 33.4rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;

        .rectangle-139-jx5 {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
    }
    .auto-group-all1-F9j {
      margin: 0rem 2.1rem 16.2rem 0rem;
      display: flex;
      column-gap: 4.6rem;
      align-items: center;
      flex-shrink: 0;

      .image-hover-AXb {
        box-sizing: border-box;
        padding: 1rem;
        cursor: pointer;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        flex-shrink: 0;
        margin-top: 0.3rem;

        .rectangle-139-uVB {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-Qgq {
        cursor: pointer;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        box-sizing: border-box;
        padding: 1rem;

        .rectangle-139-AAD {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
      .image-hover-fcm {
        cursor: pointer;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        flex-shrink: 0;
        margin-top: 0.3rem;
        box-sizing: border-box;
        padding: 1rem;

        .rectangle-139-Rbw {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 23rem;
          height: 29rem;
        }
      }
      .image-hover-YgZ {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        box-sizing: border-box;
        padding: 1rem;
        cursor: pointer;

        .rectangle-139-hpM {
          width: 23rem;
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
    }
    .group-26-dCD {
      font-size: 3.2rem;
      line-height: 1.220703125;
      color: #ffffff;
      justify-content: center;
      border-radius: 1rem;
      width: calc(100% - 80.5rem);
      height: 7.6rem;
      white-space: nowrap;
      align-items: center;
      font-weight: 700;
      text-decoration-line: underline;
      margin: 0rem 40.4rem 0rem 40.1rem;
      display: flex;
      background-color: #1f2251;
      flex-shrink: 0;
      cursor: pointer;
      font-family: Calibri, 'Source Sans Pro';
    }
  }
  .footer-t89 {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #1f2251;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 1.9rem 0.9rem 5.65rem;
    width: 144.2rem;

    .auto-group-t9u3-CPj {
      height: 15.3rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 5.15rem 1.4rem 0rem;
      width: 131.2rem;

      .van-lang-fashion-6k1 {
        height: 15.3rem;
        color: #ffffff;
        font-family: Calistoga, 'Source Sans Pro';
        width: 27rem;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.2999999523;
      }
      .email-thoitrangvanlangvlueduvn-bRs {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 38rem;
        position: absolute;
        left: 31.8rem;
        font-weight: 400;
        height: 6.3rem;
        top: 1.1rem;
        font-size: 2.2rem;
        line-height: 1.2102272727;

        .email-thoitrangvanlangvlueduvn-bRs-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
        .email-thoitrangvanlangvlueduvn-bRs-sub-1 {
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .h-tr-02812345678-fq3 {
        top: 1.1rem;
        line-height: 1.2102272727;
        font-family: Inter, 'Source Sans Pro';
        width: 15.6rem;
        position: absolute;
        left: 76rem;
        font-size: 2.2rem;
        font-weight: 400;
        color: #ffffff;
        height: 6.3rem;

        .h-tr-02812345678-fq3-sub-0 {
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 700;
        }
        .h-tr-02812345678-fq3-sub-1 {
          line-height: 1.2102272727;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 400;
        }
      }
      .line-14-Dzy {
        background-color: #acacac;
        width: 131.2rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 12.7rem;
      }
    }
    .auto-group-bfcv-MbP {
      margin: 0rem 0rem 0.1rem 0.15rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .lin-kt-tLR {
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 25.6rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
      }
      .theo-di-oiH {
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 16.3rem 0.4rem 0rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
      }
      .footer-8kZ {
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 75.2rem;
        font-size: 2rem;

        .footer-8kZ-sub-0 {
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.25;
        }
        .footer-8kZ-sub-1 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
    }
    .auto-group-hbaq-HWy {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 91.35rem;
      width: calc(100% - 91.35rem);
      height: 8.1rem;

      .auto-group-hv2d-DQd {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 9rem;
        width: 26.6rem;

        .frame-11-mBF {
          width: 26.6rem;
          height: 4.4rem;
          cursor: pointer;
          position: absolute;
          justify-content: center;
          left: 0;
          font-family: Quicksand, 'Source Sans Pro';
          display: flex;
          align-items: center;
          font-size: 2rem;
          line-height: 1.25;
          color: #ffffff;
          top: 0;
          font-weight: 500;
          white-space: nowrap;
        }
        .frame-12-ryP {
          justify-content: center;
          top: 3.7rem;
          font-weight: 500;
          display: flex;
          width: 8.2rem;
          left: 0.4rem;
          font-family: Quicksand, 'Source Sans Pro';
          align-items: center;
          position: absolute;
          color: #ffffff;
          white-space: nowrap;
          line-height: 1.25;
          height: 4.4rem;
          cursor: pointer;
          font-size: 2rem;
        }
      }
      .auto-group-lff7-Y5X {
        width: 9.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-8-5r9 {
          display: flex;
          justify-content: center;
          position: absolute;
          line-height: 1.25;
          top: 0;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          height: 4.4rem;
          cursor: pointer;
          font-size: 2rem;
          font-weight: 500;
          align-items: center;
          width: 9.3rem;
          left: 0;
        }
        .frame-9-Prq {
          color: #ffffff;
          top: 3.7rem;
          font-size: 2rem;
          font-weight: 500;
          font-family: Quicksand, 'Source Sans Pro';
          display: flex;
          width: 9.7rem;
          cursor: pointer;
          left: 0;
          height: 4.4rem;
          position: absolute;
          justify-content: center;
          line-height: 1.25;
          white-space: nowrap;
          align-items: center;
        }
      }
    }
    .frame-10-JD7 {
      margin: 0rem 94.35rem 3rem 35.6rem;
      width: calc(100% - 129.95rem);
      cursor: pointer;
      white-space: nowrap;
      font-size: 2rem;
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.1rem;
      font-weight: 500;
      flex-shrink: 0;
    }
    .line-15-Nyf {
      flex-shrink: 0;
      margin: 0rem 5.35rem 0.9rem 0rem;
      width: 131.2rem;
      height: 0.1rem;
      background-color: #acacac;
    }
    .van-lang-university-all-rights-reserved-J6d {
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 1.25rem;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
    }
  }
}
