
html {
	font-size:62.5%;

}
* {
	margin: 0;
	padding: 0;

}
ul, li {
	list-style: none;

}
input {
	border: none;

}
.project-container {
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center;
}

.project-container .auto-group-zcxy-DqT {
  margin: 5rem;
  align-items: center;
  height: 393.75rem;
  position: relative;

}
.project-container .auto-group-zcxy-DqT .group-104-8hX {
  /* width: 100.2rem; */
  /* height: 393.75rem; */
  position: absolute;
  left: 0.3rem;
  top: 0;
  align-items: center;

}
.project-container .auto-group-zcxy-DqT .group-104-8hX .bst-ma-hoa-ca-th-khoa-thit-k-thi-trang-n-r-ti-cuc-thi-fashion-in-paris-SCR {
  margin-bottom: 3.05rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #a10000;
  font-family: Calibri, 'Source Sans Pro';
  white-space: nowrap;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .bst-ma-hoa-ca-th-khoa-thit-k-thi-trang-n-r-ti-cuc-thi-fashion-in-paris-tq7 {
  margin-bottom: 2.65rem;
  max-width: 89rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
    align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .vlubstmuahoacuathukhoathietkethoitrangnorotaicuocthifashioninpariscover0dc9974b3c-1-B3X {
  margin: 0rem 0rem 3.35rem 0.2rem;
  width: 100rem;
  height: 31.25rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
    align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .cui-thng-10-2023-va-qua-theo-thng-bo-t-ban-t-chc-cuc-thi-fashion-in-paris-do-vin-php-ti-tphcm-b-su-tp-ma-hoa-do-cu-sinh-vin-kha-23-ngnh-thit-k-thi-trang-th-khoa-tt-nghip-nm-2021-nguyn-nht-nghi-thc-hin-xut-sc-ginh-gii-nh-ti-cuc-thi-35j {
  margin: 0rem 0rem 0.9rem 0.4rem;
  max-width: 79.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .nhn-k-nim-50-nm-quan-h-ngoi-giao-php-vit-vin-php-ti-tphcm-t-chc-cuc-thi-tm-kim-ti-nng-thit-k-tr-vit-nam-fashion-in-paris-xut-sc-th-hin-tinh-thn-hu-ngh-gia-hai-t-nc-qua-ngn-ng-thi-trang-nguyn-nht-nghi-cu-sinh-vin-kha-23-trng-i-hc-vn-lang-nay-l-hc-vin-chng-trnh-o-to-thc-s-m-thut-ng-dng-ginh-gii-nh-chung-cuc-vi-b-su-tp-ma-hoa-NnD {
  margin: 0rem 0rem 1.2rem 0.2rem;
  max-width: 80.6rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .largevlubstmuahoacuathukhoathietkethoitrangnorotaicuocthifashioninparisa3c4a08d6d3-1-31B {
  margin: 0rem 0rem 1.35rem 0.2rem;
  width: 80rem;
  height: 40rem;
  object-fit: cover;
  vertical-align: top;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .sau-ngy-ra-trng-th-khoa-nguyn-nht-nghi-tip-tc-vi-am-m-thit-k-thi-trang-chuyn-nghip-hc-tp-chuyn-su-v-thnh-lp-thng-hiu-ring-nhat-design-v4y {
  margin-bottom: 5rem;
  width: 100%;
  max-width: 78.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2575;
  font-style: italic;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .auto-group-3sf3-L8h {
  margin: 0rem 0rem 3.2rem 0.2rem;
  width: 80.1rem;
  height: 49.15rem;
  position: relative;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .auto-group-3sf3-L8h .sau-ngy-ra-trng-th-khoa-tt-nghip-ngnh-thit-k-thi-trang-nm-2021-nguyn-nht-nghi-tip-tc-sng-ht-mnh-vi-am-m-va-hc-thc-s-ti-trng-i-hc-vn-lang-vi-hc-bng-100-hc-ph-ton-kha-va-l-tr-ging-ca-khoa-m-thut-v-thit-k-va-pht-trin-thng-hiu-thi-trang-nhat-design-ca-ring-mnh-TUD {
  width: 80.1rem;
  height: 10.1rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .auto-group-3sf3-L8h .largevlubstmuahoacuathukhoathietkethoitrangnorotaicuocthifashioninparisb1c953a1679-1-NUh {
  width: 80rem;
  height: 40rem;
  position: absolute;
  left: 0;
  top: 9.15rem;
  object-fit: cover;
  vertical-align: top;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .tr-thnh-qun-cuc-thi-fashion-in-paris-gip-nht-nghi-c-thm-ng-lc-cho-chng-ng-pht-trin-s-nghip-thit-k-thi-trang-chuyn-nghip-nht-nghi-cho-bit-b-su-tp-ma-hoa-l-s-kt-hp-c-o-gia-vit-php-mang-c-trng-ca-o-di-t-thn-trang-phc-truyn-thng-nc-nh-ha-quyn-vi-hnh-nh-hoa-din-v-loi-hoa-biu-tng-ca-t-nc-hnh-lc-lng-ruf {
  margin: 0rem 0rem 4.35rem 0.2rem;
  max-width: 77.9rem;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .auto-group-nyos-vo3 {
  margin: 0rem 0rem 4.17rem 0.2rem;
  width: 80rem;
  height: 52.03rem;
  position: relative;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .auto-group-nyos-vo3 .khong-70-vt-liu-s-dng-trong-bst-ma-hoa-c-ly-t-trang-phc-ti-ch-v-x-liu-theo-nguyn-tc-sng-xanh-zero-waste-bn-cnh-thng-ip-hu-ngh-cc-b-trang-phc-c-thc-hin-vi-mong-mun-cao-thi-trang-bn-vng-thn-thin-vi-mi-trng-hn-ch-cht-thi-trong-qu-trnh-to-ra-y-cng-chnh-l-ti-nh-hng-c-bn-mun-pht-trin-lu-di-trong-s-nghip-thit-k-tng-lai-rwb {
  width: 78.6rem;
  height: 12.6rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .auto-group-nyos-vo3 .largevlubstmuahoacuathukhoathietkethoitrangnorotaicuocthifashioninpariscaa702fd68c-1-KTo {
  width: 80rem;
  height: 39.68rem;
  position: absolute;
  left: 0;
  top: 12.35rem;
  object-fit: cover;
  vertical-align: top;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .khong-70-vt-liu-s-dng-trong-bst-ma-hoa-c-ly-t-trang-phc-ti-ch-v-x-liu-theo-nguyn-tc-zero-waste-PyT {
  margin-bottom: 2.7rem;
  width: 100%;
  max-width: 75.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2575;
  font-style: italic;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .th-sc-ti-gii-thi-fashion-in-paris-mang-n-cho-nht-nghi-nhiu-tri-nghim-th-v-c-sng-li-cm-gic-hi-hp-ca-nhng-ngy-lm-n-khi-cn-ngi-trn-ging-ng-i-hc-trau-chut-tng-ng-kim-mi-ch-v-thuyt-trnh-gii-thiu-tc-phm-ca-mnh-trc-hi-ng-gim-kho-l-nhng-nh-thit-k-chuyn-nghip-cc-i-din-n-t-php-nht-nghi-chia-s-iu-kh-khn-nht-vi-mnh-l-vic-phi-cn-bng-thi-gian-hc-tp-cng-tc-ti-trng-v-thi-gian-sng-to-hon-thin-sn-phm-tht-may-mn-khi-bn-cnh-mnh-lun-c-thy-c-bn-b-v-ngi-thn-ht-lng-h-tr-dcu {
  margin: 0rem 0rem 2.85rem 0.5rem;
  max-width: 79.8rem;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .largevlubstmuahoacuathukhoathietkethoitrangnorotaicuocthifashioninparisd596eaac624-1-ZHb {
  margin: 0rem 0rem 1.85rem 0.2rem;
  width: 80rem;
  height: 40rem;
  object-fit: cover;
  vertical-align: top;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .s-ha-trn-gia-nt-p-trong-vn-ha-vit-php-cng-vic-ng-dng-thi-trang-bn-vng-gip-cu-sinh-vin-vn-lang-thuyt-phc-ban-gim-kho-thnh-cng-r1o {
  margin-bottom: 1.65rem;
  width: 100%;
  max-width: 80rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2575;
  font-style: italic;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .vi-tm-th-ca-th-h-i-trc-cng-chia-s-hnh-trnh-qua-vi-n-em-nht-nghi-nhn-nh-mnh-mong-cc-bn-sinh-vin-s-lun-kin-tr-chm-ch-hc-tp-mi-kin-thc-c-thy-c-truyn-t-trong-gi-hc-u-s-gip-ch-cho-chng-ta-khi-bc-vo-mi-trng-thc-t-GLR {
  margin: 0rem 0rem 3.5rem 0.2rem;
  max-width: 79.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
align-items: center;
}

.project-container .auto-group-zcxy-DqT .group-104-8hX .vi-tm-th-ca-th-h-i-trc-cng-chia-s-hnh-trnh-qua-vi-n-em-nht-nghi-nhn-nh-mnh-mong-cc-bn-sinh-vin-s-lun-kin-tr-chm-ch-hc-tp-mi-kin-thc-c-thy-c-truyn-t-trong-gi-hc-u-s-gip-ch-cho-chng-ta-khi-bc-vo-mi-trng-thc-t-GLR .vi-tm-th-ca-th-h-i-trc-cng-chia-s-hnh-trnh-qua-vi-n-em-nht-nghi-nhn-nh-mnh-mong-cc-bn-sinh-vin-s-lun-kin-tr-chm-ch-hc-tp-mi-kin-thc-c-thy-c-truyn-t-trong-gi-hc-u-s-gip-ch-cho-chng-ta-khi-bc-vo-mi-trng-thc-t-GLR-sub-1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2575;
  font-style: italic;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
align-items: center;
}

.project-container .auto-group-zcxy-DqT .group-104-8hX .vlubstmuahoacuathukhoathietkethoitrangnorotaicuocthifashioninpariscover0dc9974b3c-2-EiV {
  margin: 0rem 0rem 1.65rem 0.2rem;
  width: 80rem;
  height: 25rem;
  object-fit: cover;
  vertical-align: top;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .thnh-qu-ca-nht-nghi-ti-fashion-in-paris-mt-ln-na-khng-nh-thng-hiu-ca-trng-i-hc-vn-lang-trong-o-to-lnh-vc-thit-k-m-thut-ni-chung-v-ngnh-thit-k-thi-trang-ni-ring-da-trn-nn-tng-vng-mnh-ny-thng-4-2023-va-qua-nh-trng-cng-b-tuyn-sinh-chuyn-ngnh-xy-dng-thng-hiu-v-qun-tr-thi-trang-fashion-branding-management-hng-i-chuyn-su-ca-ngnh-thit-k-thi-trang-nhm-p-ng-nhu-cu-o-to-nh-qun-tr-sng-to-trong-lnh-vc-thi-trang-KE9 {
  margin: 0rem 0rem 3.25rem 0.2rem;
  max-width: 80rem;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .tin-phng-trinh-Wxq {
  margin: 0rem 0rem 1.95rem 65.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
  white-space: nowrap;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-104-8hX .hnh-nh-nhn-vt-cung-cp-SLh {
  margin-left: 56.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
  white-space: nowrap;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB {
  width: 30.2rem;
  height: 87.2rem;
  position: absolute;
  left: 87.3rem;
  top: 51.9rem;
  border-radius: 0.5rem;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .tin-tc-gn-y-fjF {
  margin: 0rem 0rem 0.9rem 0.1rem;
  display: flex;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
  white-space: nowrap;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-8zjv-Bhb {
  margin: 0rem 0.4rem 1.9rem 0.2rem;
  width: calc(100% - 0.6rem);
  height: 9.7rem;
  display: flex;
  align-items: center;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-8zjv-Bhb .rectangle-128-Hkd {
  margin-right: 0.9rem;
  width: 13.9rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-8zjv-Bhb .auto-group-hgx1-D8V {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-8zjv-Bhb .auto-group-hgx1-D8V .tui-iconic-gy-st-mng-x-hi-tiktok-y7f {
  margin-bottom: 1.6rem;
  max-width: 14.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #a10000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-8zjv-Bhb .auto-group-hgx1-D8V .published-date-4Q1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.07rem;
  color: #858585;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-ocqz-adF {
  margin: 0rem 2.4rem 2.2rem 0.1rem;
  width: calc(100% - 2.5rem);
  height: 9.3rem;
  display: flex;
  /* align-items: flex-start; */
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-ocqz-adF .group-27-hhs {
  margin-right: 1rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-ocqz-adF .group-27-hhs .vatlieu1-1-s6Z {
  width: 13.9rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-ocqz-adF .auto-group-kkeh-mSq {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-ocqz-adF .auto-group-kkeh-mSq .fashion-textile-showcase-2023-8YH {
  margin-bottom: 2.7rem;
  max-width: 12.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #a10000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-ocqz-adF .auto-group-kkeh-mSq .published-date-S3B {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.07rem;
  color: #858585;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-rpb3-NBj {
  margin: 0rem 0.3rem 1.8rem 0.3rem;
  width: calc(100% - 0.6rem);
  height: 10.2rem;
  display: flex;
  align-items: center;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-rpb3-NBj .rectangle-129-gy7 {
  margin: 0rem 0.7rem 0.3rem 0rem;
  width: 13.9rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-rpb3-NBj .auto-group-u8xr-oXw {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-rpb3-NBj .auto-group-u8xr-oXw .miss-charm-2023-tham-s-show-thi-trang-tt-nghip-k25tt-A7b {
  max-width: 15rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #a10000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-rpb3-NBj .auto-group-u8xr-oXw .published-date-eHf {
  margin-left: 0.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.07rem;
  color: #858585;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .xem-tin-tc-khc-Mhs {
  margin: 0rem 0rem 0.8rem 0.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
  white-space: nowrap;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .s-kin-gn-y-sAR {
  margin-bottom: 0.4rem;
  display: flex;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
  white-space: nowrap;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-rfn9-CCh {
  margin: 0rem 0.1rem 1.9rem 0.1rem;
  width: calc(100% - 0.2rem);
  height: 10.2rem;
  display: flex;
  align-items: flex-end;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-rfn9-CCh .rectangle-130-Wz5 {
  margin: 0rem 0.9rem 0.2rem 0rem;
  width: 13.9rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-rfn9-CCh .auto-group-kbvh-3UD {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-rfn9-CCh .auto-group-kbvh-3UD .ngnh-thi-trang-tuyn-thc-tp-sinh-cho-thi-k-ma-xun-Cru {
  max-width: 15.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #a10000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-rfn9-CCh .auto-group-kbvh-3UD .published-date-uWR {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.07rem;
  color: #858585;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-7v7b-qus {
  margin: 0rem 3.7rem 2.3rem 0rem;
  width: calc(100% - 3.7rem);
  height: 9.3rem;
  display: flex;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-7v7b-qus .group-28-yWH {
  margin-right: 1rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-7v7b-qus .group-28-yWH .vatlieu1-1-LLq {
  width: 13.9rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-7v7b-qus .auto-group-nfff-zwB {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-7v7b-qus .auto-group-nfff-zwB .casting-model-LVF {
  margin-bottom: 5.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #a10000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-7v7b-qus .auto-group-nfff-zwB .published-date-XJq {
  margin-left: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.07rem;
  color: #858585;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-nybf-qaR {
  margin: 0rem 2.2rem 2.3rem 0.2rem;
  width: calc(100% - 2.4rem);
  height: 9.6rem;
  display: flex;
  align-items: center;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-nybf-qaR .rectangle-131-Mof {
  margin: 0.1rem 0.9rem 0rem 0rem;
  width: 13.9rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-nybf-qaR .auto-group-a7xm-UdP {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-nybf-qaR .auto-group-a7xm-UdP .ha-giang-of-van-lang-university-EcZ {
  margin-bottom: 3.6rem;
  max-width: 13rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #a10000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .auto-group-nybf-qaR .auto-group-a7xm-UdP .published-date-x2m {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.07rem;
  color: #858585;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
align-items: center;
}
.project-container .auto-group-zcxy-DqT .group-103-ksB .xem-s-kin-khc-UWu {
  margin-left: 0.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #000000;
  font-family: Calibri, 'Source Sans Pro';
  white-space: nowrap;
align-items: center;
}